html
    height: 100%
body
    background: #fff
    color: #000
    +smooth-font
    +hm-r
    font-size: 22px
    +desktop-less-md
        font-size: 20px
    +tablet-less-sm
        font-size: 18px
    &.is-fixed
        overflow: hidden
        width: 100%
        height: 100%
        .main
            pointer-events: none
    &.is-modal-open
        overflow: hidden
        position: fixed
        width: 100%
        height: 100%
        .main
            transform: none!important
            transition: none
        .headers
            position: relative
            z-index: 0
strong, b
    +hm-sb
*::selection
    color: #fff
    background-color: $orange
a:not(.button)
    transition: color .25s ease-in-out
    cursor: pointer
    &:hover
        color: $orange
    &:active
        color: $orange

.out
    //overflow: hidden
    //position: relative
    //z-index: 2

.main
    // commented to make popup overlay on headers
    position: relative
    z-index: 2
    background: #fff
    transition: transform .4s ease-in-out
    padding-bottom: 1px //fix falling out of margin https://monosnap.com/file/oFJbtd99I9scUE2EulaUcqgKxadVOC
    // overflow: hidden

    opacity: 0
    animation-delay: 0.4s
    animation-name: mainFadeAnim
    animation-duration: 0.6s
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards
@keyframes mainFadeAnim
    0%
        opacity: 0
    100%
        opacity: 1

body
    &.ie
        .main
            //z-index: 1
            position: static

.headers
    overflow: hidden

.typography-headlines
    padding: 100px 0
    h1
        margin-bottom: 38px
        +desktop-less-xl
            margin-bottom: 44px
        +desktop-less-lg
            margin-bottom: 41px
        +desktop-less-md
            margin-bottom: 39px
        +r(991)
            margin-bottom: 61px
        +tablet-less-sm
            margin-bottom: 31px
        +mob-less-md
            margin-bottom: 33px
    h2
        margin-bottom: 48px
        +desktop-less-xl
            margin-bottom: 46px
        +desktop-less-lg
            margin-bottom: 42px
        +desktop-less-md
            margin-bottom: 29px
        +r(991)
            margin-bottom: 41px
        +tablet-less-sm
            margin-bottom: 32px
        +r(630)
            margin-bottom: 29px
        +mob-less-md
            margin-bottom: 50px
    h3
        margin-bottom: 42px
        +desktop-less-lg
            margin-bottom: 36px
        +desktop-less-md
            margin-bottom: 27px
        +r(991)
            margin-bottom: 33px
        +tablet-less-sm
            margin-bottom: 26px
        +r(630)
            margin-bottom: 22px
    h4
        margin-bottom: 42px
        +desktop-less-xl
            margin-bottom: 34px
        +desktop-less-lg
            margin-bottom: 40px
        +desktop-less-md
            margin-bottom: 30px
        +r(991)
            margin-bottom: 33px
        +tablet-less-sm
            margin-bottom: 29px
        +r(630)
            margin-bottom: 25px
    h5
        margin-bottom: 42px
        +desktop-less-xl
            margin-bottom: 45px
        +desktop-less-lg
            margin-bottom: 39px
        +desktop-less-md
            margin-bottom: 31px
        +r(991)
            margin-bottom: 36px
        +tablet-less-sm
            margin-bottom: 34px
        +r(630)
            margin-bottom: 18px
        +mob-less-md
            margin-bottom: 28px
    h6
        margin-bottom: 37px
        +desktop-less-lg
            margin-bottom: 30px
        +desktop-less-md
            margin-bottom: 25px
