@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"


.expert-details
    position: fixed
    z-index: 3000
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 100vh
    background-color: $black
    opacity: 0
    visibility: hidden
    // transition: opacity .3s ease-in-out, visibility .3s 0s
    &.is-open
        opacity: 1
        visibility: visible
    .wrapper, .row
        height: 100%
    &__in
        position: relative
        background-color: $grey-bg
        width: calc(100% + 152px*2 - 40px)
        height: calc(100% - 40px)
        margin-left: 20px - 152px
        margin-top: 20px
        border-radius: 5px
        overflow: hidden
        +gpu
        +r(1920)
            width: calc(100% + (152/1920*100vw)*2 - 40px)
            margin-left: calc(20px - 152/1920*100vw)
        +desktop-less-xl
            width: calc(100% + (132/1680*100vw)*2 - 40px)
            margin-left: calc(20px - 132/1680*100vw)
        +desktop-less-lg
            width: calc(100% + (100/1280*100vw)*2 - 40px)
            margin-left: calc(20px - 100/1280*100vw)
        +desktop-less-md
            width: calc(100% + (80/1024*100vw)*2 - 20px)
            margin-left: calc(10px - 80/1024*100vw)
            height: calc(100% - 20px)
            margin-top: 10px
        +desktop-less-sm
            width: calc(100% + (30/992*100vw)*2 - 40px)
            margin-left: calc(20px - 30/992*100vw)
            height: calc(100% - 40px)
            margin-top: 20px
        +tablet-less-lg
            width: calc(100% + (40/768*100vw)*2 - 40px)
            margin-left: calc(20px - 40/768*100vw)
        +tablet-less-md
            width: calc(100% + (20/720*100vw)*2 - 40px)
            margin-left: calc(20px - 20/720*100vw)
        +tablet-less-sm
            width: 100%
            margin-left: 0
            height: calc(100% - 16px)
            margin-top: 8px
    &__content
        // height: 100%
        height: 0
        position: relative
        // +gpu
        overflow: hidden
        // overflow-y: auto
        // -webkit-overflow-scrolling: touch

        //padding-bottom: 124px
        //+desktop-less-lg
        //    padding-bottom: 187px
        //+desktop-less-md
        //    padding-bottom: 106px
        //+desktop-less-sm
        //    padding-bottom: 140px
        //+tablet-less-md
        //    padding-bottom: 90px
        //+tablet-less-sm
        //    padding-bottom: 45px
        .ps
            &__rail-y
                // margin-right: 10px
                background: $grey-light
                width: 4px
                &.ps--clicking, &:focus, &:hover
                    .ps__thumb-y
                        width: 4px
            &__thumb-y
                background: $grey-simple
                width: 4px
                right: 0
    &__close
        // position: absolute
        // top: 0
        position: fixed
        top: 0
        right: 152px - 20px
        background: $orange
        width: 45px
        height: 82px
        +r(1920)
            right: calc(152/1920*100vw - 20px)
        +desktop-less-xl
            right: calc(132/1680*100vw - 20px)
        +desktop-less-lg
            right: calc(100/1280*100vw - 20px)
        +desktop-less-md
            right: calc(80/1024*100vw - 10px)
        +desktop-less-sm
            right: calc(30/992*100vw - 20px)
        +tablet-less-lg
            right: calc(40/768*100vw - 20px)
        +tablet-less-md
            right: calc(20/720*100vw - 20px + 100%/16)
            width: 40px
        +tablet-less-sm
            right: 100%/16*1
            width: 34px
        +mob-less-lg
            width: 21px
            height: 44px
        .icon
            width: 22px
            height: 22px
            fill: #000
            position: absolute
            bottom: 10px
            left: 50%
            transform: translateX(-50%)
            transition: fill .25s ease-in-out
            +tablet-less-sm
                bottom: 8px
            +mob-less-lg
                width: 14px
                height: 14px
                bottom: 4px
        &:hover
            .icon
                fill: #fff
    .expert
        padding-bottom: 124px
        +desktop-less-lg
            padding-bottom: 187px
        +desktop-less-md
            padding-bottom: 106px
        +desktop-less-sm
            padding-bottom: 140px
        +tablet-less-md
            padding-bottom: 90px
        +tablet-less-sm
            padding-bottom: 45px

.expert
    display: flex
    +gpu
    +tablet-less-sm
        display: block
    // border-top-left-radius: 5px
    // border-top-right-radius: 5px
    // overflow: hidden
    &__image
        // border-top-left-radius: 5px
        // overflow: hidden
        background: $black
        height: 0
        position: relative
        width: calc((100vw - 152px*2)/16*4 + 152px - 20px)
        padding-top: calc(((100vw - 152px*2)/16*4 + 152px - 20px)*1.056)
        // &:before
        //     content: ""
        //     position: absolute
        //     width: 10px
        //     height: 10px
        //     background: #33353a
        //     left: -5px
        //     top: -5px
        +r(1920)
            width: calc((100vw - (152/1920*100vw)*2)/16*4 + 152/1920*100vw - 20px)
            min-width: calc((100vw - (152/1920*100vw)*2)/16*4 + 152/1920*100vw - 20px)
            padding-top: calc(((100vw - (152/1920*100vw)*2)/16*4 + 152/1920*100vw - 20px)*1.056)
        +desktop-less-xl
            min-width: calc((100vw - (132/1680*100vw)*2)/16*4 + 132/1680*100vw - 20px)
            width: calc((100vw - (132/1680*100vw)*2)/16*4 + 132/1680*100vw - 20px)
            padding-top: calc(((100vw - (132/1680*100vw)*2)/16*4 + 132/1680*100vw - 20px)*1.056)
        +desktop-less-lg
            min-width: calc((100vw - (100/1280*100vw)*2)/16*5 + 100/1280*100vw - 20px)
            width: calc((100vw - (100/1280*100vw)*2)/16*5 + 100/1280*100vw - 20px)
            padding-top: calc(((100vw - (100/1280*100vw)*2)/16*5 + 100/1280*100vw - 20px)*1.056)
        +desktop-less-md
            min-width: calc((100vw - (80/1024*100vw)*2)/16*4 + 80/1024*100vw - 10px)
            width: calc((100vw - (80/1024*100vw)*2)/16*4 + 80/1024*100vw - 10px)
            padding-top: calc(((100vw - (80/1024*100vw)*2)/16*4 + 80/1024*100vw - 10px)*1.056)
        +desktop-less-sm
            min-width: calc((100vw - (30/992*100vw)*2)/16*4 + 30/992*100vw - 20px)
            width: calc((100vw - (30/992*100vw)*2)/16*4 + 30/992*100vw - 20px)
            padding-top: calc(((100vw - (30/992*100vw)*2)/16*4 + 30/992*100vw - 20px)*1.056)
        +tablet-less-lg
            min-width: calc((100vw - (40/768*100vw)*2)/16*4 + 40/768*100vw - 20px)
            width: calc((100vw - (40/768*100vw)*2)/16*4 + 40/768*100vw - 20px)
            padding-top: calc(((100vw - (40/768*100vw)*2)/16*4 + 40/768*100vw - 20px)*1.056)
        +tablet-less-md
            min-width: calc((100vw - (20/720*100vw)*2)/16*4 + 20/720*100vw - 20px)
            width: calc((100vw - (20/720*100vw)*2)/16*4 + 20/720*100vw - 20px)
            padding-top: calc(((100vw - (20/720*100vw)*2)/16*4 + 20/720*100vw - 20px)*1.056)
        +tablet-less-sm
            width: 100%
            min-width: 100%
            padding-top: 100%*1.056
            border-top-right-radius: 5px
        img
            +coverdiv
            object-fit: cover
            font-family: 'object-fit: cover'
            display: block
    &__in
        padding-right: 152px - 20px
        padding-top: calc(((100vw - 152px*2)/16*4 + 152px - 20px)*1.056)
        padding-left: 2px
        // margin-top: -117px
        margin-top: -113px
        +r(1920)
            padding-right: calc(152/1920*100vw - 20px)
            padding-top: calc(((100vw - (152/1920*100vw)*2)/16*4 + 152/1920*100vw - 20px)*1.056)
        +desktop-less-xl
            padding-right: calc(132/1680*100vw - 20px)
            padding-top: calc(((100vw - (132/1680*100vw)*2)/16*4 + 132/1680*100vw - 20px)*1.056)
        +desktop-less-lg
            padding-right: calc(100/1280*100vw - 20px)
            padding-top: calc(((100vw - (100/1280*100vw)*2)/16*5 + 100/1280*100vw - 20px)*1.056)
            margin-top: -79px
        +desktop-less-md
            padding-right: calc(80/1024*100vw - 10px)
            padding-top: calc(((100vw - (80/1024*100vw)*2)/16*4 + 80/1024*100vw - 10px)*1.056)
            margin-top: -64px
        +desktop-less-sm
            padding-right: calc(30/992*100vw - 20px)
            padding-top: calc(((100vw - (30/992*100vw)*2)/16*4 + 30/992*100vw - 20px)*1.056)
            margin-top: -79px
        +tablet-less-lg
            padding-right: calc(40/768*100vw - 20px)
            padding-top: calc(((100vw - (40/768*100vw)*2)/16*4 + 40/768*100vw - 20px)*1.056)
        +tablet-less-md
            padding-right: calc(20/720*100vw - 20px)
            padding-top: calc(((100vw - (20/720*100vw)*2)/16*4 + 20/720*100vw - 20px)*1.056)
        +tablet-less-sm
            padding: 0 100%/16*1
            margin-top: 30px
        +mob-less-lg
            margin-top: 23px
    &__title
        margin-bottom: 45px
        +desktop-less-lg
            margin-bottom: 40px
        +desktop-less-md
            margin-bottom: 19px
        +mob-less-lg
            margin-bottom: 25px
        h2
            font-size: 62px
            line-height: 0.9
            margin-bottom: 20px
            +desktop-less-lg
                font-size: 44px
                margin-bottom: 11px
            +desktop-less-md
                font-size: 32px
                line-height: 0.9875
            +desktop-less-sm
                font-size: 44px
                line-height: 0.9
            +tablet-less-sm
                font-size: 32px
                line-height: 0.9375
        h4
            font-size: 48px
            line-height: 1.04
            +desktop-less-lg
                font-size: 36px
                line-height: 1.05
            +desktop-less-md
                font-size: 28px
                line-height: 1.07
            +desktop-less-sm
                font-size: 36px
                line-height: 1.06
            +tablet-less-sm
                font-size: 28px
                line-height: 1.07

    &__desc
        font-size: 22px
        line-height: 1.46
        +hm-l
        margin-bottom: 30px
        //margin-bottom: 99px
        +desktop-less-lg
        //margin-bottom: 77px
        +desktop-less-md
            font-size: 18px
            line-height: 1.56
    //margin-bottom: 46px
    &__quote
        font-size: 46px
        line-height: 1.22
        +hm-l
        margin-bottom: 30px
        max-width: 937px
        +desktop-less-lg
            font-size: 36px
            line-height: 1.28
            max-width: 694px
            margin-bottom: 21px
        +desktop-less-sm
            max-width: 654px
        +tablet-less-md
            width: 100%/12*11
        +tablet-less-sm
            font-size: 32px
            line-height: 1.3125
        +mob-less-lg
            font-size: 28px
            line-height: 1.36
        +mob-less-lg
            width: 100%
    &__before-quote-text
        margin-bottom: 80px
        width: 100%/12*8
        +desktop-less-md
            margin-bottom: 60px
        +tablet-less-md
            margin-bottom: 50px
    &__before-quote-text, &__text
        font-size: 22px
        line-height: 1.46
        +desktop-less-lg
            font-size: 18px
            line-height: 1.56
        +tablet-less-sm
            font-size: 16px
            line-height: 1.625
        +mob-less-lg
            width: 100%

    &__text
        +hm-l
        width: 100%/12*10
        +desktop-less-lg
            width: 100%/11*11
            max-width: 694px
        +desktop-less-sm
            max-width: 654px
        +tablet-less-md
            width: 100%/12*11
body
    &.firefox
        .expert__in
            margin-top: -115px
            +r(1920)
            +desktop-less-lg
                margin-top: -80px
            +desktop-less-md
                margin-top: -66px
            +desktop-less-sm
                margin-top: -80px
            +tablet-less-lg
            +tablet-less-md

    &.ie
        .expert
            //padding-bottom: 200px
            &__in
                margin-top: -115px
                +r(1920)
                +desktop-less-lg
                    margin-top: -80px
                +desktop-less-md
                    margin-top: -65px
                +desktop-less-sm
                    margin-top: -80px
                +tablet-less-lg
                +tablet-less-md
        .expert-details
            &__close
                transform: translateY(20px)
                +desktop-less-md
                    transform: translateY(10px)
                +desktop-less-sm
                    right: calc(30/992*100vw)
                    transform: translateY(20px)
                +tablet-less-lg
                    right: calc(40/768*100vw)
                +tablet-less-md
                    right: calc(20/720*100vw - 20px + 100%/16)
                    width: 40px
                +tablet-less-sm
                    transform: translateY(8px)

                    right: 100%/16*1
                    width: 34px
                +mob-less-lg
                    width: 21px
                    height: 44px
            &__content
//padding-bottom: 200px
//margin-bottom: 200px
