$cols: 16

.grid-btn
    position: fixed
    top: 0
    left: 0
    width: 100px
    height: 36px
    background-color: #000
    color: #fff
    font-size: 14px
    z-index: 9999
.grid
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 9998
    display: none
    &.is-visible
        display: block
    .wrapper, .pdf-wrapper
        height: 100%
    .row
        width: 100%
        height: 100%
    [class^="col-"]
        background-color: rgba(240, 240, 240, .5)
    [class^="col-"]:not(:last-child)
        border-right: 1px solid rgba(0, 0, 0, .25)

    &--pdf 
        pointer-events: none
        [class^="col-pdf"]
            background: none
            border: none!important
            div
                height: 100%
                background-color: rgba(240, 240, 240, .5)
        .pdf-wrapper
            max-width: 1680px
            width: 100%
            margin-left: auto
            margin-right: auto
.wrapper
    width: 100%
    max-width: 1920px
    margin-left: auto
    margin-right: auto
    padding-left: 152px
    padding-right: 152px
    +r(1920)
        padding-left: percentage(152/1920)
        padding-right: percentage(152/1920)
    +desktop-less-xl
        padding-left: percentage(132/1680)
        padding-right: percentage(132/1680)
    +desktop-less-lg
        padding-left: percentage(100/1280)
        padding-right: percentage(100/1280)
    +desktop-less-md
        padding-left: percentage(80/1024)
        padding-right: percentage(80/1024)
    +desktop-less-sm
        padding-left: percentage(30/992)
        padding-right: percentage(30/992)
    +tablet-less-lg
        padding-left: percentage(40/768)
        padding-right: percentage(40/768)
    +tablet-less-md
        padding-left: percentage(20/720)
        padding-right: percentage(20/720)
    +tablet-less-sm
        padding-left: 8px
        padding-right: 8px
.row
    display: flex
    flex-wrap: wrap
    width: 100%



@for $i from 0 through $cols
    .col-dl-#{$i}
        width: 100%/$cols*$i
    .col-dl-push-#{$i}
        padding-left: 100%/$cols*$i
    .col-dxl-#{$i}
        +desktop-less-xl
            width: 100%/$cols*$i
    .col-dxl-push-#{$i}
        +desktop-less-xl
            padding-left: 100%/$cols*$i
    .col-dm-#{$i}
        +desktop-less-lg
            width: 100%/$cols*$i
    .col-dm-push-#{$i}
        +desktop-less-lg
            padding-left: 100%/$cols*$i
    .col-ds-#{$i}
        +desktop-less-md
            width: 100%/$cols*$i
    .col-ds-push-#{$i}
        +desktop-less-md
            padding-left: 100%/$cols*$i
    .col-tl-#{$i}
        +desktop-less-sm
            width: 100%/$cols*$i
    .col-tl-push-#{$i}
        +desktop-less-sm
            padding-left: 100%/$cols*$i
    .col-tm-#{$i}
        +tablet-less-lg
            width: 100%/$cols*$i
    .col-tm-push-#{$i}
        +tablet-less-lg
            padding-left: 100%/$cols*$i
    .col-ts-#{$i}
        +tablet-less-md
            width: 100%/$cols*$i
    .col-ts-push-#{$i}
        +tablet-less-md
            padding-left: 100%/$cols*$i
    .col-ml-#{$i}
        +tablet-less-sm
            width: 100%/$cols*$i
    .col-ml-push-#{$i}
        +tablet-less-sm
            padding-left: 100%/$cols*$i
    .col-mm-#{$i}
        +mob-less-lg
            width: 100%/$cols*$i
    .col-mm-push-#{$i}
        +mob-less-lg
            padding-left: 100%/$cols*$i


.pdf-wrapper
    .row
        margin: 0 -10px
        width: auto
    .col-pdf
        padding: 0 10px
@for $i from 0 through 12
    .col-pdf-#{$i}
        width: 100%/12*$i
    .col-pdf-push-#{$i}
        margin-left: 100%/12*$i

