// --- FONT SIZES FOR H1 HEADLINES ---


// <1920
$h1-dl: 4.64vw
$h1-dl-fall: 78px
$h1-dl-min: 78px
$h1-dl-max: 88px

// <1680
$h1-dm: 4.68vw
$h1-dm-fall: 60px
$h1-dm-min: 60px
$h1-dm-max: 78px

// <1280
$h1-ds: 5.08vw
$h1-ds-fall: 52px
$h1-ds-min: 52px
$h1-ds-max: 60px

// <1024
// $h1-tm: 88px

// <992
$h1-tm: 8.88vw
$h1-tm-fall: 58px
$h1-tm-min: 58px
$h1-tm-max: 88px

// <720
$h1-ts: 8.05vw
$h1-ts-fall: 48px
$h1-ts-min: 48px
$h1-ts-max: 58px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h1-ml: 48px

// <375
$h1-mm: 12vw
$h1-mm-fall: 38px
$h1-mm-min: 38px
$h1-mm-max: 48px

$edgeValue: 5

=h1-style
    +hm-sb
    font-size: 88px
    line-height: 0.96
    text-decoration: underline
    +desktop-less-xl
        font-size: $h1-dl-fall
        font-size: $h1-dl
        // +responsive-font($h1-dl, $h1-dl-min, $h1-dl-max, $h1-dl-fall)
    +desktop-less-lg
        font-size: $h1-dm-fall
        font-size: $h1-dm
        // +responsive-font($h1-dm, $h1-dm-min, $h1-dm-max, $h1-dm-fall)
    +desktop-less-md
        font-size: $h1-ds-fall
        font-size: $h1-ds
        // +responsive-font($h1-ds, $h1-ds-min, $h1-ds-max, $h1-ds-fall)
    +r(991)
        font-size: $h1-tm-fall
        font-size: $h1-tm
        // +responsive-font($h1-tm, $h1-tm-min, $h1-tm-max, $h1-tm-fall)
    +rorient(719, portrait)
        font-size: $h1-ts-fall
        font-size: $h1-ts
        // +responsive-font($h1-ts, $h1-ts-min, $h1-ts-max, $h1-ts-fall)
    +rorient(719, landscape)
        font-size: $h1-ts
    +rorient(630, portrait)
        line-height: 0.93
        font-size: $h1-ml
    +rorient(630, landscape)
        font-size: $h1-ml
    +rorient(374, portrait)
        font-size: $h1-mm-fall
        font-size: $h1-mm
    +rorient(374, landscape)
        font-size: $h1-mm

    // +rorient(1023, portrait)
    //     font-size: $h1-tm
    // +rorient(1023, landscape)
    //     font-size: 52px
    // +rorient(719, portrait)
    //     +responsive-font($h1-ml, $h1-ml-min, $h1-ml-max, $h1-ml-fall)
    // +rorient(719, landscape)
    //     font-size: 52px
    // +rorient(599, portrait)
    //     line-height: 0.93
    //     +responsive-font($h1-mm, $h1-mm-min, $h1-mm-max, $h1-mm-fall)
    // +rorient(599, landscape)
    //     font-size: 38px
    // +rorient(374, portrait)
    //     line-height: 0.92
    //     +responsive-font($h1-ms, $h1-ms-min, $h1-ms-max, $h1-ms-fall)



// --- FONT SIZES FOR H2 HEADLINES ---
h1
    +h1-style
// <1920
$h2-dl: 62px

// <1680
$h2-dm: 3.435vw
$h2-dm-fall: 44px
$h2-dm-min: 44px
$h2-dm-max: 62px

// <1280
$h2-ds: 3.125vw
$h2-ds-fall: 32px
$h2-ds-min: 32px
$h2-ds-max: 44px

// <992
$h2-tm: 4.44vw
$h2-tm-fall: 32px
$h2-tm-min: 32px
$h2-tm-max: 44px

// <720
$h2-ts: 4.44vw
$h2-ts-fall: 28px
$h2-ts-min: 28px
$h2-ts-max: 32px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h2-ml: 28px


h2
    +hm-sb
    line-height: 0.93
    font-size: $h2-dl
    text-decoration: underline
    +desktop-less-xl
        // line-height: 0.9
    +desktop-less-lg
        // line-height: 0.92
        font-size: $h2-dm-fall
        font-size: $h2-dm
        // +responsive-font($h2-dm, $h2-dm-min, $h2-dm-max, $h2-dm-fall)
    +desktop-less-md
        // line-height: 0.94
        font-size: $h2-ds-fall
        font-size: $h2-ds
        // +responsive-font($h2-ds, $h2-ds-min, $h2-ds-max, $h2-ds-fall)
    +r(991)
        font-size: $h2-tm-fall
        font-size: $h2-tm
        // +responsive-font($h2-tm, $h2-tm-min, $h2-tm-max, $h2-tm-fall)
    +tablet-less-sm
        font-size: $h2-ts-fall
        font-size: $h2-ts
    +r(630)
        line-height: 0.95
        font-size: $h2-ml


// --- FONT SIZES FOR H3 HEADLINES ---

// <1920
$h3-dl: 58px

// <1680
$h3-dm: 3.28vw
$h3-dm-fall: 42px
$h3-dm-min: 42px
$h3-dm-max: 58px

// <1280
$h3-ds: 2.92vw
$h3-ds-fall: 30px
$h3-ds-min: 30px
$h3-ds-max: 42px

// <992
$h3-tm: 4.24vw
$h3-tm-fall: 30px
$h3-tm-min: 30px
$h3-tm-max: 42px

// <=600
// $h3-ml: 26px

// <720
$h3-ts: 4.18vw
$h3-ts-fall: 26px
$h3-ts-min: 26px
$h3-ts-max: 30px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h3-ml: 26px


h3
    +hm-sb
    line-height: 0.96
    font-size: $h3-dl
    +desktop-less-lg
        font-size: $h3-dm-fall
        font-size: $h3-dm
        // +responsive-font($h3-dm, $h3-dm-min, $h3-dm-max, $h3-dm-fall)
    +desktop-less-md
        font-size: $h3-ds-fall
        font-size: $h3-ds
        // +responsive-font($h3-ds, $h3-ds-min, $h3-ds-max, $h3-ds-fall)
    +r(991)
        font-size: $h3-tm-fall
        font-size: $h3-tm
        // +responsive-font($h3-tm, $h3-tm-min, $h3-tm-max, $h3-tm-fall)
    +tablet-less-sm
        font-size: $h3-ts-fall
        font-size: $h3-ts
    +r(630)
        line-height: 1
        font-size: $h3-ml

// <1920
$h4-dl: 48px

// <1680
$h4-dm: 2.81vw
$h4-dm-fall: 36px
$h4-dm-min: 36px
$h4-dm-max: 48px

// <1280
$h4-ds: 2.735vw
$h4-ds-fall: 28px
$h4-ds-min: 28px
$h4-ds-max: 36px

// <992
$h4-tm: 3.63vw
$h4-tm-fall: 28px
$h4-tm-min: 28px
$h4-tm-max: 36px

// <=600
// $h4-ml: 26px

// <720
$h4-ts: 3.9vw
$h4-ts-fall: 24px
$h4-ts-min: 24px
$h4-ts-max: 28px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h4-ml: 24px


h4
    +hm-sb
    line-height: 0.96
    font-size: $h4-dl
    +desktop-less-lg
        font-size: $h4-dm-fall
        font-size: $h4-dm
        // +responsive-font($h4-dm, $h4-dm-min, $h4-dm-max, $h4-dm-fall)
    +desktop-less-md
        font-size: $h4-ds-fall
        font-size: $h4-ds
        // +responsive-font($h4-ds, $h4-ds-min, $h4-ds-max, $h4-ds-fall)
    +r(991)
        font-size: $h4-tm-fall
        font-size: $h4-tm
        // +responsive-font($h4-tm, $h4-tm-min, $h4-tm-max, $h4-tm-fall)
    +tablet-less-sm
        font-size: $h4-ts-fall
        font-size: $h4-ts
    +r(630)
        line-height: 1.1
        font-size: $h4-ml

// <1920
$h5-dl: 38px

// <1680
$h5-dm: 2.185vw
$h5-dm-fall: 28px
$h5-dm-min: 28px
$h5-dm-max: 38px

// <1280
$h5-ds: 2.92vw
$h5-ds-fall: 26px
$h5-ds-min: 26px
$h5-ds-max: 28px

// <992
$h5-tm: 2.82vw
$h5-tm-fall: 26px
$h5-tm-min: 26px
$h5-tm-max: 28px

// <=600
// $h5-ml: 26px

// <720
$h5-ts: 3.62vw
$h5-ts-fall: 22px
$h5-ts-min: 22px
$h5-ts-max: 26px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h5-ml: 22px

h5
    +hm-sb
    line-height: 0.95
    font-size: $h5-dl
    +desktop-less-lg
        font-size: $h5-dm-fall
        font-size: $h5-dm
        // +responsive-font($h5-dm, $h5-dm-min, $h5-dm-max, $h5-dm-fall)
    +desktop-less-md
        font-size: $h5-ds-fall
        font-size: $h5-ds
        // +responsive-font($h5-ds, $h5-ds-min, $h5-ds-max, $h5-ds-fall)
    +r(991)
        font-size: $h5-tm-fall
        font-size: $h5-tm
        // +responsive-font($h5-tm, $h5-tm-min, $h5-tm-max, $h5-tm-fall)
    +tablet-less-sm
        font-size: $h5-ts-fall
        font-size: $h5-ts
    +r(630)
        line-height: 1.1
        font-size: $h5-ml

// <1920
$h6-dl: 26px

// <1680
$h6-dm: 1.875vw
$h6-dm-fall: 24px
$h6-dm-min: 24px
$h6-dm-max: 26px

// <1280
$h6-ds: 2.15vw
$h6-ds-fall: 22px
$h6-ds-min: 22px
$h6-ds-max: 24px

// <992
$h6-tm: 2.41vw
$h6-tm-fall: 22px
$h6-tm-min: 22px
$h6-tm-max: 24px

// <=600
// $h6-ml: 26px

// <720
$h6-ts: 3.06vw
$h6-ts-fall: 20px
$h6-ts-min: 20px
$h6-ts-max: 22px

// <=630 (special breakpoint when font-size propoptional decreasing became fixed)
$h6-ml: 20px

h6
    +hm-sb
    line-height: 0.93
    font-size: $h6-dl
    +desktop-less-lg
        font-size: $h6-dm-fall
        font-size: $h6-dm
        // +responsive-font($h6-dm, $h6-dm-min, $h6-dm-max, $h6-dm-fall)
    +desktop-less-md
        font-size: $h6-ds-fall
        font-size: $h6-ds
        // +responsive-font($h6-ds, $h6-ds-min, $h6-ds-max, $h6-ds-fall)
    +r(991)
        font-size: $h6-tm-fall
        font-size: $h6-tm
        // +responsive-font($h6-tm, $h6-tm-min, $h6-tm-max, $h6-tm-fall)
    +tablet-less-sm
        font-size: $h6-ts-fall
        font-size: $h6-ts
    +r(630)
        line-height: 1.1
        font-size: $h6-ml




    //     p
    //         font-size: 20px
    //         line-height: 1.5
    //         margin-bottom: 10px
    //         +tablet-less-sm
    //             font-size: 18px
    //             line-height: 1.11
    //             margin-bottom: 8px
    //     ul
    //         li
    //             font-size: 20px
    //             line-height: 1.5
    //             margin-bottom: 10px
    //             +tablet-less-sm
    //                 font-size: 18px
    //                 line-height: 1.11
    //                 margin-bottom: 8px
