
@import "text"


.case
  position: relative
  &__wrapper
    position: relative
    display: flex
    flex-direction: column
    +tablet-less-sm
      display: block
  &__hero-bg
      -webkit-background-size: cover
      background-size: cover
      background-position: 50% 50%
      background-repeat: no-repeat
      z-index:  0
      +coverdiv
      &--landscape

      &--portrait
          display: none
      @media only screen and (orientation: portrait)
        &.case__hero-bg--landscape
          display: none
        &.case__hero-bg--portrait
          display: block
  &__hero
    padding-top: 90px
    padding-bottom: 90px
    position: relative
    min-height: 358px
    background: $grey-bg
    order: 0
    +desktop-less-lg
    +desktop-less-md
      padding-top: 88px
      // min-height: 499px
    // +desktop-less-sm
    //   min-height: 501px
    +tablet-less-md
      padding-top: 89px
    +tablet-less-sm
      padding-top: 94px
      min-height: 280px
    +mob-less-lg
    h1
      line-height: 0.95
      font-size: 78px
      +desktop-less-lg
        line-height:  0.96
      +desktop-less-sm
        font-size:  58px
        line-height: 0.96
      +mob-less-lg
        font-size: 48px
        line-height: 0.935
    .wrapper
        position: relative
        z-index: 1
  &__content-wrapper
      +tablet-less-md
        order: 1
  &__sidebar-wrapper
      +tablet-less-md
        order: 0
        padding-top: 70px
        margin-bottom: 40px
      +tablet-less-sm
        margin-bottom: 63px
      +mob-less-lg
          margin-bottom: 52px
  &__content
      padding-bottom: 208px
      order: 2
      // margin-top: -196px
      margin-top: -80px
      // +tablet-less-md
      //     margin-top: -197px
      +tablet-less-sm
          margin-top: 0px

  &__sidebar
    padding-top: 69px
    +desktop-less-md
      padding-top: 71px
    +desktop-less-sm
      padding-top: 0
    +desktop-less-sm
      display: flex
      flex-wrap: wrap
    +tablet-less-sm
      display: block
  &__inner
    padding-top: 70px
    +desktop-less-md
      padding-top: 71px
    +desktop-less-sm
      margin-bottom: 60px
    +tablet-less-md
      margin-bottom: 0px
      padding-top: 0
  &__title
    font-size: 48px
    line-height: 1.045
    margin-bottom: 56px
    +tablet-less-md
        display: none
    &_mob
      display: none
      +tablet-less-md
          display: block
    +desktop-less-lg
      font-size: 36px
      line-height: 1.06
    +desktop-less-md
      font-size: 28px
      line-height: 1.08
    +desktop-less-sm
      font-size: 36px
    +tablet-less-md
      margin-bottom: 55px
    +tablet-less-sm
      font-size: 28px
      margin-bottom: 57px
    +mob-less-lg
      letter-spacing: -0.2px
  &__btns-wrapper
    order: 1
    // left: 0
    // position: absolute
    // top: 358px
    // width: 100%
    +desktop-less-md
      // top: 499px
    +tablet-less-sm
      transform: none
      bottom: auto
      top: 0
      position: sticky
      top: 47px
      z-index: 100
      display: none
    .wrapper
      +tablet-less-sm
        padding: 0
  &__btns-inner
      background: $orange
      width: 72px
      // height: 196px
      height: 80px
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      font-size: 0
      padding: 20px 8px 33px 8px
      +desktop-less-md
         padding: 20px 10px 32px
      +desktop-less-sm
         padding: 20px 8px 32px
      +tablet-less-md
        //  height: 197px
      +tablet-less-sm
         height: 49px
         width: 100%
         padding: 8px 10px 8px 7.28vw
         flex-direction: row
         justify-content: flex-start
         align-items: flex-start
      +mob-less-lg
         padding: 8px 10px 8px 7.4vw
      +r(450)
         padding: 8px 10px 8px 7.6vw
      +mob-less-md
         padding: 8px 10px 8px 8.1vw

  &__back, &__download
      text-decoration: none
      align-items: flex-start
      justify-content: flex-start
      display: flex
      flex-direction: column
      span
        font-size: 12px
        +hm-sb
        color: #000
        display: block
        line-height: 1.1
        +tablet-less-sm
          font-size: 10px
      i
          display: block
          position: relative
  &__back
      background: none
      appearance: none
      border: none
      +tablet-less-sm
          margin-right: 35px
      span
          margin-bottom: 6px
          +tablet-less-sm
              margin-bottom: 0px
      svg
          fill: #fff
          width: 23px
          height: 12px
          transition: fill .25s ease-in-out
      +rmin(1025)
        &:hover
            svg
                fill: #000

  &__download
    +tablet-less-sm
      flex-direction: row
    span
      margin-bottom: 18px
      +tablet-less-sm
        margin-right: 19px
    i
      padding-bottom: 6px
      +tablet-less-sm
        padding-top: 1px
        padding-bottom: 7px
      &:after
        content:  ''
        position: absolute
        height: 2px
        width: 100%
        background: #ffffff
        left: 0
        bottom: 0
    .icon
      width: 23px
      height: 22px
      fill: #000
      transition: fill .25s ease-in-out
    +rmin(1025)
        &:hover
            .icon
                fill: #fff

  &__block
    margin-bottom: 20px
    +desktop-less-sm
      width: 54.7%
      padding-right:  7%
      &:nth-of-type(2n)
        width: 45.3%
    +tablet-less-sm
      width: 100%
      padding-right: 0
      margin-bottom: 23px
      &:nth-of-type(2n)
        width: 100%

  &__block-title
    font-size: 18px
    margin-bottom: 1px
    +hm-sb
  &__block-text
    font-size: 16px
    +tablet-less-sm
      letter-spacing: -0.1px
  &__services
    margin-top: 48px
    h4
      margin-bottom: 20px
      font-size: 18px
      line-height: 1.22
      font-wight: 600
  &__service-block
    display: flex
    align-items: flex-end

    font-size: 0
    gap: 12px
    margin-bottom: 12px
    &-img
      flex-shrink: 0
      width: 36px
    &-text
      padding-bottom: 5px
      // border-bottom: 3px solid $black2
      text-decoration: underline
      text-underline-position: under
      text-decoration-thickness: 2px
      font-size: 13px
      line-height: 1.5
      font-weight: 600
      margin-bottom: 14px


  .text
    margin: 0
    p
      line-height: 1.4
      +desktop-less-lg
        line-height:  1.2
        margin-bottom: 12px
      +desktop-less-md
        margin-bottom: 12px
      +desktop-less-sm
        margin-bottom: 10px
      +mob-less-lg
        margin-bottom: 12px
      &.text-l
        font-size: 22px
        line-height: 1.454
        margin-bottom: 24px
    strong
      font-size: 22px
      //line-height: 1.4
      display: block
      +desktop-less-lg
        font-size: 20px
        //line-height:  1.2
      +mob-less-lg
        font-size: 18px
    .bullet-1-title, .bullet-2-title
      margin-top: 34px
    ul
      &:not(:last-of-type)
        margin-bottom: 34px
      li
        line-height: 1.45
        +desktop-less-md
          padding-left: 20px
        +desktop-less-sm
          padding-left: 33px
        +tablet-less-md
          padding-left: 26px
        //  23
        +tablet-less-sm
          font-size: 18px
          line-height: 1.5
        +mob-less-lg
          padding-left: 14px
body
  &.ie
    .case
      &__btns-wrapper
        +tablet-less-sm
          position: absolute
          top: 0


