@import helpers/all
+font('hindmadurailight', 'hindmadurai-light-webfont')
+font('hindmaduraisemibold', 'hindmadurai-semibold-webfont')

=h-l
    font-family: 'hindmadurailight', Arial, Helvetica, sans-serif
    font-weight: lighter
=h-sb
    font-family: 'hindmaduraisemibold', Arial, Helvetica, sans-serif
    font-weight: normal

// 571
body
    background: #fff
    color: #000
    +smooth-font
    +h-l
.out
    // width: 100%
    width: 790px
    margin: 0 auto
    padding: 0 16px
    overflow: hidden

.p-header
    width: 100%
    padding-left: 17%
    padding-top: 32px
    padding-bottom: 24px
    &__logo
        // width: 120px
        width: 160px
        margin-left: -83px
        img
            width: 100%
            display: block


.p-case

    &__head
        position: relative
        width: 100%
        padding: 54px 8.5% 131px 17%
        +cover
        margin-bottom: 43px
    &__title
        width: 443px
        font-size: 42px
        line-height: 1.22
        +h-sb
        text-decoration: underline
    &__aside
        width: 23%
        padding-left: 17%
        float: left
        box-sizing: content-box
    &__content
        width: 49.5%
        padding-right: 8.5%
        float: right
        box-sizing: content-box
    &__list
        padding-right: 22px
        li
            font-size: 11px
            line-height: 1.25
            +h-l
            margin-bottom: 11px
        strong
            line-height: 1.75
            display: block
            +h-sb
        p
            margin-bottom: 3px
    &__subtitle
        font-size: 24px
        //line-height: 1.13
        line-height: 1.16
        +h-sb
        margin-bottom: 34px
    &__text
        margin-bottom: 17px

.p-text
    &__title
        font-size: 15px
        line-height: 1.18
        +h-sb
        margin-bottom: 10px
    &__list
        list-style-type: disc
        padding-left: 20px
        li
            +h-l
            font-size: 13px
            line-height: 1.3
            margin-bottom: 4px
.clearfix
    clear: both

.p-footer
    padding-top: 52px

    &__link
        width: 41%
        padding-left: 17%
        float: left
        box-sizing: content-box
        +h-sb
        font-size: 11px
        line-height: 1.25
        a
            color: #000
            text-decoration: none
    &__copy
        width: 33.5%
        padding-right: 8.5%
        float: right
        box-sizing: content-box
        text-align: right
        +h-l
        font-size: 11px
        line-height: 1.25
