@import helpers/all
@import generated/sprite-svg
@import grid
@import all
@import typography
@import components/all
@import expert-details


.teaser
	//padding: 73px 0 90px
	padding: 73px 0 13px
	position: relative
	z-index: 2
	background: #fff

	//overflow: hidden
	& + .teaser
		padding-top:  0
	+desktop-less-lg
		//padding-bottom: 124px
	+desktop-less-md
		//padding-bottom: 70px
	+tablet-less-lg
		padding-top: 37px
		//padding-bottom: 77px
	+tablet-less-sm
		padding-top: 55px
		//padding-bottom: 85px
	+mob-less-lg
		padding-top: 38px
	&__box
		display: flex
		border: 1px solid $grey-simple
		border-radius: 6px
		padding: 56px 100%/10*2 60px 100%/10*1
		text-decoration: none
		position: relative
		color: #000
		transition: border-color .25s ease-in-out
		cursor: pointer
		&:before
			content: ""
			+coverdiv
			box-shadow: 0 0 26px 0 rgba(154,153,153,0.45)
			opacity: 0
			transition: opacity .25s ease-in-out
		&:hover:not(.button)
			color: #000
			border-color: $orange
			&:before
				opacity: 1
			.teaser__title
				color: $orange
		+desktop-less-xl
			padding-top: 54px
		+desktop-less-lg
			padding-right: 100%/10*1
			padding-bottom: 54px
		+desktop-less-md
			padding-top: 55px
			padding-bottom: 50px
		+desktop-less-sm
			flex-direction: column
			padding-top: 36px
			padding-bottom: 40px
		+tablet-less-lg
			padding-bottom: 56px
		+tablet-less-sm
			flex-direction: row
			padding-left: 100%/16*1
			padding-right: 100%/16*1
			padding-top: 42px
			padding-bottom: 37px
		+mob-less-lg
			padding-top: 42px
			padding-bottom: 44px

	&__title
		width: 100%/7*3
		transition: color .25s ease-in-out
		+desktop-less-sm
			margin-bottom: 38px
		+tablet-less-lg
			margin-bottom: 39px
		+tablet-less-sm
			width: 100%/14*4
		+mob-less-lg
			width: 100%/14*5
		h2
			line-height: 0.94
			margin-left: -2px
			+desktop-less-xl
				line-height: 0.92
			+desktop-less-md
				line-height: 0.9375
				padding-top: 1px
			+desktop-less-sm
				font-size: 44px
				line-height: 0.91
			+tablet-less-sm
				font-size: 32px
				line-height: 0.9375
				padding-top: 0
	&__in
		width: 100%/7*4
		+desktop-less-lg
			width: 100%/7*5
		+desktop-less-sm
			width: 100%
		+tablet-less-sm
			width: 100%/14*10
		+mob-less-lg
			width: 100%/14*9
	&__text
		font-size: 18px
		line-height: 1.45
		letter-spacing: -0.12px
		margin-bottom: 90px
		+desktop-less-xl
			margin-bottom: 65px
		+desktop-less-lg
			margin-bottom: 53px
		+desktop-less-md
			letter-spacing: -0.1px
			margin-bottom: 57px
		+desktop-less-sm
			margin-bottom: 26px
			letter-spacing: -0.16px
		+tablet-less-lg
			margin-bottom: 37px
		+tablet-less-sm
			font-size: 16px
			line-height: 1.5
			margin-bottom: 40px
			padding-top: 2px
		+mob-less-lg
			font-size: 18px
			line-height: 1.46
			margin-bottom: 2px
			letter-spacing: -0.14px
	&__nav
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
	&__link
		font-size: 26px
		line-height: 1.38
		text-decoration: none
		white-space: nowrap
		color: #000
		position: relative
		transition: color .25s ease-in-out
		cursor: pointer
		+hm-sb
		&:hover, &:active
			color: $orange

		+tablet-less-sm
			font-size: 20px
			line-height: 1.4
		&:before
			content: ""
			position: absolute
			bottom: 4px
			left: 0
			width: 100%
			height: 1px
			background: $orange
		&:after
			content: ''
			position: absolute
			top: -3px
			left: -3px
			right: -3px
			bottom: -3px

