@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.contacts
    padding: 80px 0 153px
    overflow: hidden
    background-color: $grey-green
    +desktop-less-lg
        padding-bottom: 168px
    +desktop-less-md
        padding-bottom: 112px
    +desktop-less-sm
        padding-bottom: 85px
    &__in
        display: flex
        flex-wrap: wrap
        //+desktop-less-md
        //    flex-wrap: wrap
    &__item
        padding: 0 1px
        width:  33.333333%
        margin-bottom: 39px
        +desktop-less-md
            margin-bottom: 66px
        +desktop-less-md
            padding: 0
            width: 50%
            padding-right: 2px
        +desktop-less-sm
            margin-bottom: 39px
        +tablet-less-lg
            width: 100%
            padding: 0
        +tablet-less-lg
            margin-bottom: 48px


        &--big
            .contact-box
                &__img
                    img
                        width: 322px
                        height: 122px
            +desktop-less-lg
                width: 50%
    &__content

        h3
            line-height: 1.04
            margin-bottom: 35px
            +desktop-less-lg
                line-height: 1.1
            +desktop-less-md
                margin-bottom: 34px
            +desktop-less-sm
                line-height: 1.05
                margin-bottom: 36px
            +tablet-less-lg
                font-size: 42px
            +mob-less-lg
                font-size: 30px
                line-height: 1.07
                margin-left: -2px
        p
            letter-spacing: 0px
            font-size: 22px
            line-height: 1.45
            letter-spacing: -0.18px
            margin-bottom: 89px
            +desktop-less-lg
                margin-bottom: 87px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 20px
            //margin-bottom: 16px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                //margin-bottom: 10px
.contact-box
    &__img
        width: 100%
        position: relative
        // left: 6px
        margin-bottom: 56px
        overflow: hidden

        padding-bottom: 4px
        +desktop-less-lg
            margin-bottom: 57px
            // margin-bottom: 41px
        +desktop-less-md
            // margin-bottom: 38px
            margin-bottom: 31px
        // +desktop-less-sm
        //     margin-bottom: 31px

        +mob-less-lg
            left: 0px
        &:before
            content: ""
            display: block
            width: 100%
            height: 4px
            background-color: #000
            border-radius: 2px
            position: absolute
            bottom: 0
            left: 0px
            +mob-less-lg
                left: 0
        img
            width: 322px
            height: 85px
            display: block

    &__title
        font-size: 22px
        line-height: 1.35
        margin-bottom: 9px
        +desktop-less-lg
            margin-bottom: 7px
            font-size: 20px
            line-height: 1.45
            // line-height: 1.09

        +desktop-less-md

            // font-size: 22px
            // line-height: 1.18
            // margin-bottom: 12px
        +desktop-less-sm
            // font-size: 24px
            // line-height: 1.09
        +tablet-less-md
            // font-size: 22px
            // line-height: 1.18
        +mob-less-lg
            font-size: 18px
            margin-bottom: 10px
            // line-height: 1.2
    &__content
        font-size: 18px
        color: #000
        +hm-l
        line-height: 1.44
        +tablet-less-sm
            font-size: 16px

        a
            color: #000
            text-decoration: none
            transition: color 0.25s
            &:hover
                color: $orange
    &__links-wrap
        margin-top: 9px
        p
            margin-top: 2px
        // line-height: 1.1

