@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

//.main
//    section.downloads
//        padding-top: 75px
//        & + .downloads
//            padding-top: 49px
        //&:last-of-type
        //    padding-bottom: 91px
.downloads
    position: relative
    background: $grey-green
    padding-top: 75px
    & + .downloads
        padding-top: 49px
    // padding-top: 75px
    // padding-bottom: 91px

    //padding-bottom: 49px
    // &:last-of-type
    //     padding-bottom: 91px
    //     background: red
    // & + .downloads
    //     padding-top: 49px
        // margin-top: -91px

    &__inner
        //// padding: 70px 0 140px
        //+tablet-less-sm
        //
        //// padding: 0 0 160px
    &__list
        display: flex
        flex-wrap: wrap
        //overflow: hidden
    &__item
        width: 100%/12*4
        padding-bottom: 3px
        padding-right: 2px
        +desktop-less-lg
            width: 100%/12*6
            padding-bottom: 2px
        +tablet-less-sm
            width: 100%
            padding-right: 0



.download
    $this: &
    text-decoration: none
    border: 1px solid $grey-simple
    border-radius: 5px
    height: 100%
    display: block
    color: #000
    background: #fff
    padding: 0 0 28px 0px
    //padding: 0 0 65px 0px
    position: relative
    transition: border-color .25s ease-in-out
    min-height: 303px
    +tablet-less-lg
        padding-top: 12px
        padding-bottom: 31px
    +tablet-less-sm
        padding-top: 0
        padding-bottom: 34px
    // &_special
    //     padding-right: 0
    //     +tablet-less-sm
    //         min-height: 305px
    //     &:hover
    //         border-color: $orange
            // &:before
            //     opacity: 1
    &:before
        content: ""
        +coverdiv
        box-shadow: 0 0 26px 0 rgba(154,153,153,0.45)
        // z-index: -1
        opacity: 0
        transition: opacity .25s ease-in-out
    &__in
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        overflow: hidden
        height: 100%
    &__get-icon
        background: $orange
        position: absolute
        top: 0
        right: 39px
        z-index: 1
        width: 47px
        height: 114px
        display: flex
        align-items: flex-end
        justify-content: center
        padding-bottom: 26px
        font-size: 0
        +mob-less-md
            right: 15px
        .icon
            width: 23px
            height: 22px
            fill: #000
            position: relative
            transition: fill .25s ease-in-out

        i
            display: block
            position: relative
            padding-bottom: 3px
            &:after
                content: ""
                position: absolute
                bottom: -4px
                left: 0
                width: 100%
                height: 2px
                background: #fff
                border-radius: 1px
    &__img
        font-size: 0
        flex-shrink: 0
        padding-top: 39px
        padding-left: 33px
        +desktop-less-md
            margin-bottom: 0
        +desktop-less-sm
            margin-bottom: 22px
        +tablet-less-lg
            margin-bottom: 40px
            padding-top: 30px
        +tablet-less-sm
            margin-bottom: 22px
        +mob-less-lg
            margin-bottom: 23px
        img
            // width: 322px
            // height: 177px
            width: 120px
            height: 120px
            +tablet-less-lg
                width: 120px
                height: 120px
            +tablet-less-sm
                // width: 322px
                // height: 177px
    &__text-wrap
        display: flex
        flex-direction: column
        justify-content: flex-end
        padding: 0 32px
        width: 100%
        position: relative
        top: -3px
        flex-grow: 1
    &__title, &__year
        display: block

        font-size: 21px
        line-height: 1.43
        // line-height: 1.15

        transition: transform .25s ease-in-out, opacity .25s ease-in-out
        // position: absolute
        // bottom: 32px
        // left: 4px
        letter-spacing: -0.16px
        // width: 100%
        &--spec
            line-height: 1.43
        // +tablet-less-sm
        //     bottom: 30px
        // +mob-less-lg
        //     bottom: 32px
        // +desktop-less-xl
        //     bottom: 20px
        // +desktop-less-lg
        //     bottom: 18px
        // &_special
        //     max-width: 347px
        //     +desktop-less-lg
        //         max-width: none

        // &:hover
        //     color: $orange
        // &:before
        //     content: ""
        //     position: absolute
        //     bottom: 4px
        //     left: 0
        //     width: 100%
        //     height: 1px
        //     background: $orange
    +rmin(1025)
        &:not(.download_special):hover
            border-color: $orange
            &:before
                opacity: 1
            .icon
                fill: #fff

a.download
    &:hover
        color: currentColor


