@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"


.footer
    background: $black
    color: #fff
    position: relative
    z-index: 2
    overflow: hidden
    transition: transform .4s ease-in-out
    &__logo
        padding-top: 84px
        margin-bottom: 68px
        +desktop-less-xl
            padding-top: 54px
            margin-bottom: 42px
        +desktop-less-lg
            padding-top: 43px
            margin-bottom: 32px
        +desktop-less-md
            padding-top: 34px
            margin-bottom: 26px
        +desktop-less-sm
            margin-bottom: 24px
        +tablet-less-lg
            padding-top: 32px
            margin-bottom: 20px
    &__contacts
        margin-bottom: 84px
        +desktop-less-xl
            margin-bottom: 70px
        +desktop-less-md
            margin-bottom: 28px
        +tablet-less-sm
            margin-bottom: 0
    &__col
        +desktop-less-md
            margin-bottom: 38px
        +tablet-less-sm
            margin-bottom: 29px
        &_special
            +desktop-less-md
                position: relative
                padding-top: 32px
                padding-bottom: 32px
                margin-bottom: 0
            +tablet-less-sm
                margin-top: 10px
            &:before
                content: ""
                position: absolute
                top: 0
                right: 0
                width: calc((100% - 1514px)/2 + 474px)
                height: 100%
                background: $grey
                display: block
                z-index: 1
                +r(1920)
                    width: (100% - percentage(152*2/1920))/16*5 + percentage(152/1920)
                +desktop-less-lg
                    width: (100% - percentage(152*2/1920))/16*4 + percentage(152/1920)
                +desktop-less-md
                    width: 100% + percentage(178*2/1920)
                    right: - percentage(178/1920)

    &__text
        font-size: 14px
        line-height: 1.43
        +hm-l
        color: $grey-light
        position: relative
        z-index: 2
        strong, b
            +hm-sb
        a
            color: currentColor
            text-decoration: none
            &.orange
                color: $orange
    &__copyright
        font-size: 12px
        line-height: 1.66
        padding-bottom: 11px
        +desktop-less-sm
            text-align: center
        +tablet-less-lg
            text-align: left
    &__copy
        display: inline-block
        vertical-align: middle
        margin-right: 22px
    &__meta
        display: inline-block
        vertical-align: middle
        li
            display: inline-block
            padding-left: 0
            &:not(:last-child)
                margin-right: 16px
            &:before
                display: none
        a
            color: $orange
            text-decoration: none
