@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.form
    &__container
        padding: 158px 0 164px
        +desktop-less-xl
            padding-bottom: 138px
        +desktop-less-lg
            padding: 96px 0 114px
        +desktop-less-md
            padding-top: 78px
            padding-bottom: 80px
        +desktop-less-sm
            padding-top: 60px
            padding-bottom: 120px
        +tablet-less-lg
            padding-top: 60px
            padding-bottom: 77px
        +tablet-less-sm
            padding-top: 78px
            padding-bottom: 56px
        +mob-less-md
            padding-top: 82px
    &__top
        margin-bottom: 80px
        +desktop-less-xl
            margin-bottom: 88px
        +desktop-less-md
            margin-bottom: 56px
        +desktop-less-sm
            margin-bottom: 66px
        +tablet-less-sm
            margin-bottom: 45px
        +mob-less-md
            margin-bottom: 54px
    &__subtitle
        +hm-sb
        font-size: 22px
        line-height: 1.18
        margin-bottom: 46px
        +desktop-less-lg
            line-height: 1.2
        +desktop-less-md
            margin-bottom: 40px
        +desktop-less-sm
            margin-bottom: 32px
        +tablet-less-sm
            font-size: 16px
        br
            +desktop-less-sm
                display: none


    &__checkboxes
        padding-top: 16px
        +desktop-less-sm
            padding-top: 3px
            margin-bottom: 90px
        +tablet-less-sm
            margin-bottom: 72px
    &__checkbox, span.wpcf7-list-item
        &:not(:last-child)
            margin-bottom: 30px
            +tablet-less-sm
                margin-bottom: 20px
    &__row
        display: flex
        +desktop-less-md
            flex-wrap: wrap
        +desktop-less-sm
            flex-wrap: nowrap
        +tablet-less-sm
            flex-wrap: wrap
        &_special
            margin: -6px 0 12px
            +desktop-less-md
                margin: 10px 0 32px
            +desktop-less-sm
                margin: -6px 0 12px
    &__col
        width: 50%
        +desktop-less-md
            width: 100%
        +desktop-less-sm
            width: 50%
        +tablet-less-sm
            width: 100%
        &:not(:last-child)
            margin-right: 8px
            +desktop-less-md
                margin-right: 0
            +desktop-less-sm
                margin-right: 8px
            +tablet-less-sm
                margin-right: 0
    &__in
        +tablet-less-sm
            margin-top: -4px

.checkbox, span.wpcf7-list-item > label
    position: relative
    input
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 27px
        opacity: 0
        z-index: 2
        &:checked
            & + label, & + .wpcf7-list-item-label
                color: $orange
                &:after
                    transform: scale(1)
                    opacity: 1
    label, .wpcf7-list-item-label
        +hm-r
        font-size: 22px
        color: #000
        text-decoration: underline
        text-decoration-color: $orange
        line-height: 1.2
        padding-left: 37px
        position: relative
        z-index: 1
        display: block
        cursor: pointer
        &:before
            content: ""
            display: block
            width: 27px
            height: 27px
            border: 2px solid $orange
            position: absolute
            top: 0
            left: 0
        &:after
            content: ""
            display: block
            width: 27px
            height: 27px
            background: $orange
            position: absolute
            top: 0
            left: 0
            transform: scale(0)
            opacity: 0
            transition: transform .4s ease-in-out, opacity .4s ease-in-out

    p
        margin-left: 42px
        color: $grey-simple
        font-size: 13px
        line-height: 1.55
        margin-top: -4px
        position: relative
        z-index: 3
    a
        +hm-sb
        color: #000
        position: relative
        text-decoration: none
        white-space: nowrap
        &:before
            content: ""
            position: absolute
            bottom: 1px
            left: 0
            width: 100%
            height: 1px
            background: $orange


.input
    position: relative
    flex-grow: 1
    margin-bottom: 30px
    padding-top: 16px
    +desktop-less-md
        margin-bottom: 27px
    +desktop-less-sm
        margin-bottom: 30px
    &.is-active
        label
            transform: translateY(-16px) scale(0.6)
    input
        position: relative
        z-index: 1
        appearance: none
        display: block
        width: 100%
        height: 30px
        // padding-top: 16px
        padding: 0
        border: none
        border-radius: 0
        background: none
        border-bottom: 2px solid $orange
        +hm-l
        font-size: 20px
        line-height: 1.4
        color: #000
        &::-webkit-contacts-auto-fill-button
            visibility: hidden
        &::-ms-clear
            visibility: hidden
    textarea
        appearance: none
        resize: none
        width: 100%
        height: 120px
        // padding-top: 16px
        padding: 0
        border: none
        border-radius: 0
        background: none
        border-bottom: 2px solid $orange
        +hm-l
        font-size: 20px
        line-height: 1.4
        color: #000
        // &:focus, &.is-valid
        //     & + label
        //         transform: translateY(-16px) scale(0.5)
        & + .wpcf7-not-valid-tip
            top: -2px
    label
        +hm-l
        color: $grey-simple
        font-size: 20px
        line-height: 1.4
        position: absolute
        z-index: 0
        top: 16px
        left: 0
        transition: transform .4s ease-in-out
        transform-origin: 0 0
        height: 30px
        background: #fff
    .wpcf7-not-valid-tip
        top: 100%
        margin-top: 4px
        left: 0
        position: absolute
        width: 100%
        &:after
            position: absolute
            top: -26px
            right: 0
    &.is-error
        label
            color: #f00
        input, textarea
            border-color: #f00

.g-recaptcha
    padding: 29px 0
    +desktop-less-xl
        padding: 31px 0
    +desktop-less-lg
        padding: 40px 0
    +desktop-less-md
        padding: 30px 0
    +desktop-less-sm
        padding: 43px 0
    +tablet-less-lg
        padding: 41px 0
    +tablet-less-sm
        padding: 30px 0
    +mob-less-lg
        padding: 35px 0
    +mob-less-md
        transform: scale(0.77)
        padding: 38px 0

span.wpcf7-list-item
    display: block
    margin: 0
.wpcf7-form-control-wrap
    display: block
    &.agreement
        .wpcf7-not-valid-tip
            margin: 0 0 24px 0
            position: relative
            top: 3px
            left: 42px
            position: relative

.wpcf7-checkbox
    display: block

span.wpcf7-not-valid-tip
    font-size: 14px
    position: relative
    &:after
        content: ""
        display: inline-block
        width: 15px
        height: 15px
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE1IDE1Ij48Y2lyY2xlIGN4PSI3LjUiIGN5PSI3LjUiIHI9IjcuNSIgZmlsbD0icmVkIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTguMyA5LjljLjIuMi4zLjUuMy44cy0uMS42LS4zLjhjLS4yLjItLjUuMy0uOC4zcy0uNi0uMS0uOC0uM2MtLjItLjItLjMtLjUtLjMtLjhzLjEtLjYuMy0uOGMuMi0uMi41LS4zLjgtLjNzLjYuMS44LjN6bS4xLTEuMUg2LjZWMy4xaDEuOHY1Ljd6Ii8+PC9zdmc+)
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: contain
        position: relative
        top: 2px
        margin-left: 8px

div.wpcf7-response-output
    margin: 0
    padding: 0
    position: absolute
    left: 152px
    width: calc(100% - 304px)
    padding-left: (100% - percentage(152*2/1920))/16*7
    color: #000
    border: none
    font-size: 14px
    top: calc(100% - 164px + 24px)
    +r(1920)
        left: percentage(152/1920)
        width: 100% - percentage(152/1920)*2
    +desktop-less-xl
        left: percentage(132/1680)
        width: 100% - percentage(132/1680)*2
        top: calc(100% - 138px + 24px)
    +desktop-less-lg
        left: percentage(100/1280)
        width: 100% - percentage(100/1280)*2
        padding-left: (100% - percentage(100*2/1280))/16*8
        top: calc(100% - 114px + 24px)
    +desktop-less-md
        left: percentage(80/1024)
        width: 100% - percentage(80/1024)*2
        padding-left: (100% - percentage(80*2/1024))/16*9
        top: calc(100% - 80px + 24px)
    +desktop-less-sm
        left: percentage(30/992)
        width: 100% - percentage(30/992)*2
        top: calc(100% - 120px + 24px)
    +tablet-less-lg
        left: percentage(40/768)
        width: 100% - percentage(40/768)*2
        padding-left: (100% - percentage(30*2/992))/16*4
        top: calc(100% - 77px + 24px)
    +tablet-less-md
        left: percentage(20/720)
        width: 100% - percentage(20/720)*2
    +tablet-less-sm
        left: 8px
        width: calc(100% - 16px)
        padding-left: (100% - percentage(30*2/992))/16*1
        top: calc(100% - 56px + 10px)
    +mob-less-md
        top: calc(100% - 82px + 34px)
    &.wpcf7-validation-errors
        color: #f00
