@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.gallery
    $this: &
    position: relative
    &__in
        // flex-grow: 1
        // flex-grow: 1
        // flex-shrink: 1
        // flex-basis: 0%
        width: 100%
        height: 100vh
        // min-height: 1014px
        // min-height: 100%
        display: flex
        position: relative
        // +desktop-less-xl
        //     min-height: 891px
        // +desktop-less-lg
        //     min-height: 677px
        // +desktop-less-md
        //     min-height: 683px
        // +desktop-less-sm
        //     min-height: 1300px
        // +tablet-less-lg
        //     min-height: 1007px
        // +tablet-less-md
        //     min-height: 944px
        // +tablet-less-sm
        //     min-height: 787px
        // +mob-less-lg
        //     min-height: 578px
        &.is-loading
            .slideshow
                opacity: 0
            #{$this}__preloader
                opacity: 1
            #{$this}__navigation
                opacity: 0
    &__preloader
        +vcenter
        z-index: 1000
        opacity: 0
        transition: opacity .25s ease-in-out
    &__message
        position: absolute
        top: 120px
        left: 100% - percentage(152/1920) - (100% - percentage(152*2/1920))/16*2
        z-index: 5
        margin-left: 2px
        +hm-sb
        font-size: 15px
        line-height: 1.2
        color: #fff
    &__navigation
        width: 100%
        max-width: 1920px
        padding: 0 152px
        +vcenter
        z-index: 1001
        transition: opacity 1s .25s cubic-bezier(1, 0, 0, 1), left 1.1s cubic-bezier(1, 0, 0, 1), bottom 1.1s cubic-bezier(1, 0, 0, 1)
        +r(1920)
            max-width: none
            width: auto
            padding: 0
            margin-left: -70px
            transform: translateY(-50%)
            left: 100% - percentage(152/1920) - (100% - percentage(152*2/1920))/16*2
        +r(1499)
            transform: none
            top: auto
            bottom: 59px
        +desktop-less-lg
            left: 100% - percentage(152/1920) - (100% - percentage(152*2/1920))/16*4
        +desktop-less-sm
            left: 100% - percentage(30/992) - (100% - percentage(30*2/992))/16*2
        +tablet-less-lg
            left: 100% - percentage(40/768) - (100% - percentage(40*2/768))/16*2
        +tablet-less-md
            left: 100% - percentage(20/720) - (100% - percentage(20*2/720))/16*2
        +tablet-less-sm
            left: calc(100% - 8px - (100% - 16px)/16 - 50px)
        +mob-less-lg
            bottom: 26px
            left: calc(100% - 8px - (100% - 16px)/16 - 50px)
        &.is-left
            +r(1499)
                // transform: translateY(-85px)
                bottom: 145px
            +desktop-less-sm
                left: 100% - percentage(30/992) - (100% - percentage(30*2/992))/16*12
            +tablet-less-lg
                left: 100% - percentage(40/768) - (100% - percentage(40*2/768))/16*12
            +tablet-less-md
                left: 100% - percentage(20/720) - (100% - percentage(20*2/720))/16*12
            +tablet-less-sm
                // transform: translateY(-100px)
                bottom: 120px
                left: calc(100% - 8px - (100% - 16px)/16*12)
            +mob-less-md
                // transform: translateY(-119px)
                // bottom: 145px
            +rorient(568, landscape)
                bottom: 90px
            +rorient(320, portrait)
                bottom: 90px


    &__navigation-in
        display: flex
        align-items: center
        position: relative
        padding-left: calc(100% - 272px)
        +r(1920)
            padding-left: 0
    &__prev
        appearance: none
        width: 41px
        height: 41px
        border-radius: 5px
        background: rgba(0, 0, 0, 0.2)
        position: relative
        margin-right: 29px
        transition: background .25s ease-in-out
        &.is-hidden
            opacity: 0
            visibility: hidden
        .icon
            width: 12px
            height: 20px
            stroke: $orange
            margin-left: -3px
            margin-top: 2px
            transition: stroke .25s ease-in-out
            position: relative
        &:hover
            background: $orange
            .icon
                stroke: #fff
    &__next
        appearance: none
        width: 61px
        height: 61px
        border-radius: 5px
        background: rgba(0, 0, 0, 0.2)
        position: relative
        transition: background .25s ease-in-out
        +desktop-less-md
            width: 50px
            height: 50px
        &.is-hidden
            opacity: 0
            visibility: hidden
        .icon
            width: 22px
            height: 44px
            stroke: $orange
            margin-top: 5px
            margin-left: 2px
            transition: stroke .25s ease-in-out
            position: relative
            +desktop-less-md
                margin-top: 2px
                margin-left: 2px
                width: 18px
                height: 36px
        &:hover
            background: $orange
            .icon
                stroke: #fff

.slideshow
    overflow: hidden
    position: relative
    width: 100%
    height: 100%
    background: #fff
    transition: opacity 1s .25s ease-in-out

.slide
    $this: &
    +coverdiv
    overflow-x: hidden
    pointer-events: none
    opacity: 0
    &.is-active
        position: relative
        opacity: 1
        z-index: 999
        pointer-events: auto
    &__wrap
        width: 100%
        height: 100%
        overflow: hidden
        position: absolute
    &__in
        +coverdiv
        padding-top: 120px
        padding-bottom: 92px
        +desktop-less-xl
            padding-top: 129px
            padding-bottom: 96px
        +desktop-less-lg
            padding-top: 75px
            padding-bottom: 60px
        +desktop-less-md
            padding-top: 82px
        +desktop-less-sm
            padding-top: 115px
        +tablet-less-lg
            padding-top: 86px
        +tablet-less-md
            padding-top: 60px
        +tablet-less-sm
            padding-top: 64px
        +mob-less-lg
            padding-top: 55px
            padding-bottom: 26px
        +mob-less-md
            // padding-top: 64px
        +rorient(568, landscape)
            padding-top: 28px
        +rorient(320, portrait)
            padding-top: 16px
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
    &__img
        +coverdiv
        +cover
    &__subtitle
        color: #fff
        white-space: nowrap
    &__headline
        +hm-l
        font-size: 38px
        line-height: 0.89
        // +desktop-less-md
        //     font-size: 58px
        // +mob-less-sm
        //     +responsive-font(10.13vw, 58px, 38px, 58px)
    &__message
        +hm-sb
        font-size: 15px
        line-height: 1.2
        margin-bottom: 13px
    &__text
        font-size: 22px
        line-height: 1.48
        margin-bottom: 22px
        +desktop-less-md
            font-size: 16px
            line-height: 1.5
        +desktop-less-sm
            font-size: 22px
            line-height: 1.48
            margin-bottom: 40px
        +tablet-less-lg
            margin-bottom: 43px
        +tablet-less-sm
            font-size: 16px
            line-height: 1.5
            margin-bottom: 22px
        +mob-less-md
            margin-bottom: 41px
        br
            +mob-less-md
                display: none
    &_main
        #{$this}__subtitle
            +desktop-less-sm
                visibility: hidden


.top-badge
    background: #fff
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    z-index: 1001
    visibility: hidden
    &.is-visible
        height: 0
        opacity: 0
        visibility: visible
    &__in
        font-size: 18px
        color: #000
        line-height: 1.22
        padding: 22px 0 16px
        +tablet-less-sm
            font-size: 13px
            padding: 12px 0
        strong
            +hm-sb
            text-decoration: underline
            display: block
            margin-bottom: 5px
            +tablet-less-sm
                font-size: 16px
        a
            +hm-sb
            color: #000
            position: relative
            text-decoration: none
            white-space: nowrap
            &:before
                content: ""
                position: absolute
                bottom: 3px
                left: 0
                width: 100%
                height: 1px
                background: $orange

.preloader
    display: inline-block
    position: relative
    width: 64px
    height: 64px
    div
        display: inline-block
        position: absolute
        top: 0
        left: 6px
        width: 13px
        height: 100%
        background: $orange
        animation: preloading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
        &:nth-child(1)
            left: 6px
            animation-delay: 0s
        &:nth-child(2)
            left: 26px
            animation-delay: 0.12s
        &:nth-child(3)
            left: 45px
            animation-delay: 0.24s

@keyframes preloading
    0%
        transform: scaleY(1)
    50%
        transform: scaleY(0.5)
    100%
        transform: scaleY(0.5)
