@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.burger
    $this: &
    width: 47px
    height: 47px
    background: none
    appearance: none
    border: none
    display: inline-block
    vertical-align: middle
    transition: transform .25s ease-in-out
    &__in
        display: block
        margin: 0 auto
        width: 21px
        height: 22px
        position: relative
        & > span
            display: block
            width: 100%
            height: 2px
            background: #000
            position: absolute
            top: 10px
            left: 0
            &:nth-child(1),
            &:nth-child(3)
                transition: top .15s ease-in .15s, transform .25s ease-in-out
            &:nth-child(1)
                transform-origin: 0 0
                top: 0
            &:nth-child(3)
                top: 20px
            &:nth-child(2)
                transition: opacity 0s linear .15s
    &.is-active
        #{$this}__in > span
            &:nth-child(2)
                opacity: 0
            &:nth-child(1)
                transform: rotate(45deg) translate(6px, 0px)
            &:nth-child(3)
                transform: rotate(315deg) translate(6px, -6px)
    &_sticky
        #{$this}__in > span
            &:nth-child(1)
                transform-origin: 50% 50%
                top: 4px
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform-origin: 100% 100%
                top: 16px
        &.is-active
            #{$this}__in > span
                &:nth-child(1)
                    transform: rotate(-225deg) translate(5px, -4px)
                &:nth-child(3)
                    transform: rotate(45deg) translate(-2px, 4px)
.header
    $this: &
    background: #fff
    position: relative
    width: 100%
    z-index: 1002
    .row
        align-items: center
    &__logo-in
        padding: 80px 0 65px
        +desktop-less-xl
            padding: 50px 0 39px
        +desktop-less-lg
            padding: 44px 0 26px
        +desktop-less-md
            padding: 34px 0 23px
        +tablet-less-md
            padding: 32px 0 19px
        +tablet-less-sm
            padding: 28px 0 23px
    &__nav
        text-align: right
        +tablet-less-lg
            display: none
    &__burger
        display: none
        +tablet-less-lg
            display: block
            +vertical
            text-align: left
            margin-left: -35px
    &.is-open
        #{$this}__logo
            position: relative
            z-index: 1005
        #{$this}__burger
            position: relative
            z-index: 1005
        .nav
            transform: scale(1)
.header-sticky
    $this: &
    position: fixed
    z-index: 1002
    top: 0
    left: 0
    width: 100%
    background: $black
    transform: translateY(-100%)
    visibility: hidden
    transition: all .25s ease-in-out
    #{$this}__logo
        display: none
    #{$this}__text
        display: block
        position: relative
        z-index: 5
    #{$this}__burger
        padding-top: 0
    .row
        align-items: center
    .nav__link
        color: #fff
        margin-left: 16px
        +tablet-less-lg
            margin-left: 0
            color: #000
    .burger__in > span
        background: #fff
    &.is-sticky
        visibility: visible
        transform: translateY(0)
    &__text
        display: none
        p, h1
            +css-lock(16, 19, 1680, 1920)
            +css-lock(14, 16, 320, 375)
    &__text-in
        +hm-sb
        color: #fff
        text-align: left
        padding: 20px 0
        h1, p
            +hm-sb
            margin-bottom: 0
            text-decoration: none
            line-height: inherit
        +desktop-less-xl
            padding: 13px 0
    &__nav
        text-align: right
        +tablet-less-lg
            display: none
    &__burger
        display: none
        +tablet-less-lg
            display: block
            +vertical
            text-align: left
            margin-left: -35px
    &.is-open
        #{$this}__logo
            position: relative
            z-index: 1005
        #{$this}__burger
            position: relative
            z-index: 1005
        .nav
            transform: scale(1)
.service-nav
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: none
    +tablet-less-lg
        display: block
        visibility: hidden
        transition-delay: .4s
    .wrapper
        height: 100%
        &:before
            content: ""
            position: fixed
            z-index: 1
            top: 0
            right: 0
            width: percentage(40/768)
            height: 100%
            background: $grey-light
    .row
        height: 100%
        position: relative
        z-index: 2
    [class^="col"]
        height: 100%
        background: $grey-light
        overflow-y: auto
    &.is-active
        +tablet-less-lg
            visibility: visible
            transition-delay: 0s
        .nav
            +tablet-less-lg
                transform: translateX(0)
.nav
    display: inline-flex
    margin-right: -7px
    +tablet-less-lg
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-right: 0
        height: 100%
        padding-right: calc(40% - 7px)
        transform: translateX(60%)
        transform-origin: 100% 0
        transition: transform .4s ease-in-out
    +mob-less-lg
        padding-right: calc(25% - 7px)
    &__link
        +hm-sb
        +css-lock(12, 17, 1280, 1920)
        line-height: 1.41
        text-decoration: none
        color: #000
        margin-left: 17px
        padding: 9px 7px 7px
        white-space: nowrap
        +desktop-less-xl
            margin-left: 16px
        +desktop-less-lg
            margin-left: 16.5px
        +desktop-less-sm
            margin-left: 13.5px
        +tablet-less-lg
            margin-left: 0
            margin-bottom: 25px
            font-size: 16px
            transition: margin-bottom .4s ease-in-out !important
        &.is-active
            color: $orange
            position: relative
            &:before
                content: ""
                position: absolute
                bottom: 11px
                left: 7px
                width: calc(100% - 14px)
                height: 1px
                background: $orange
                +desktop-less-xl
                    bottom: 10px
.logo_header
    img
        +rmin(991)
            min-height: calc( ( ( ((100vw - (100vw*0.1571428))*0.375) - ((100vw - (100vw*0.1571428))*0.25))*1.2970297)*0.3)

