@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"
@import "_typography"
$easing: cubic-bezier(0.64, 0.04, 0.35, 1)

.interactive-header
    padding: 92px 0 120px
    //padding: 92px 0 54px
    min-height: 935px
    position: relative
    overflow: hidden
    +desktop-less-lg
         //min-height: 935px
    +desktop-less-md
        //padding: 90px 0 54px
    +r(1024)
        min-height: auto
    +desktop-less-sm
        //padding: 110px 0 124px
    +tablet-less-md
        //padding: 80px 0 124px
    +tablet-less-sm
        //padding: 58px 0 54px
    +mob-less-lg
        //padding: 52px 0 52px

    .state-icon
        width: 22px
        height: 32px
        position: relative
        display: block
        +desktop-less-sm
            position: absolute
            bottom: -12px
            left: 0
        +tablet-less-sm
            bottom: -14px
        +mob-less-lg
            left: -4px
        +mob-less-md
            bottom: -15px
        path
            transform-origin: 0 0
            transition: transform .8s $easing, opacity .6s $easing
        &_lg
            +desktop-less-lg
                display: none
        &_md
            display: none
            +desktop-less-lg
                display: block
            +mob-less-lg
                display: none
        &_sm
            display: none
            +mob-less-lg
                display: block
.accordion
    $this: &
    position: relative
    z-index: 1
    +desktop-less-xl
        margin-bottom: 10px
    +desktop-less-lg
        margin-bottom: 1px
    +desktop-less-md
        margin-bottom: 6px
    +desktop-less-sm
        margin-bottom: 0
    +tablet-less-md
        margin-bottom: 2px
    +tablet-less-sm
        margin-bottom: 6px
    .row
        position: relative
    &__title
        position: relative
        cursor: pointer
        h2, h1
            +h1-style
            text-decoration: none
            transition: color .6s $easing
            +edge-css
                font-size: 83px
            +desktop-less-xl
                +edge-css
                    font-size: $h1-dl-fall - $edgeValue
                    font-size: $h1-dl - $edgeValue
            +desktop-less-lg
                +edge-css
                    font-size: $h1-dm-fall - $edgeValue
                    font-size: $h1-dm - $edgeValue
            +desktop-less-md
                +edge-css
                    font-size: $h1-ds-fall - $edgeValue
            +tablet-less-md
                font-size: 68px
            +tablet-less-sm
                font-size: 58px
                line-height: 0.92
            +mob-less-lg
                font-size: 38px
                line-height: 0.89
            +mob-less-md
                font-size: 36px
            &:hover
                color: $orange
            span
                line-height: inherit
                display: inline-block
                position: relative
                &:before
                    content: ""
                    position: absolute
                    bottom: 2px
                    left: 0
                    width: 100%
                    border-radius: 4px
                    height: 4px
                    background: $orange
                    z-index: -1
                    +desktop-less-lg
                        height: 3px
                    +mob-less-lg
                        bottom: 0
                    +mob-less-md
                        bottom: -1px
    &__content
        top: 48px
        position: relative
        height: 0
        visibility: hidden
        +desktop-less-xl
            top: 57px
        //+desktop-less-lg
        //    top: 76px
        //+desktop-less-md
        //    top: 70px
        +desktop-less-sm
            top: 50px
        +mob-less-lg
            top: 40px
        &-in
            margin-bottom: 105px
            //margin-bottom: 128px
            //+desktop-less-xl
            //    margin-bottom: 156px
            //+desktop-less-lg
            //    margin-bottom: 182px
            //+desktop-less-md
            //    margin-bottom: 131px
            //+desktop-less-sm
            //    margin-bottom: 114px
            //+tablet-less-md
            //    margin-bottom: 110px
            //+tablet-less-sm
            //    margin-bottom: 88px
            //+mob-less-lg
            //    margin-bottom: 144px
        p
            //margin-bottom: 50px
            font-size: 20px
            line-height: 1.5
            letter-spacing: -0.2px
            +desktop-less-xl
                //margin-bottom: 57px
                letter-spacing: -0.16px
                line-height: 1.56
            +desktop-less-lg
                //margin-bottom: 80px
                line-height: 1.5
            +desktop-less-md
                font-size: 18px
                line-height: 1.56
                //margin-bottom: 62px
            +desktop-less-sm
                font-size: 20px
                line-height: 1.5
                margin-bottom: 34px
            +tablet-less-md
                letter-spacing: -0.16px
                line-height: 1.4
                margin-bottom: 46px
            +tablet-less-sm
                font-size: 18px
                letter-spacing: -0.14px
                line-height: 1.56
                margin-bottom: 66px
            +mob-less-lg
                letter-spacing: -0.2px
                margin-bottom: 44px

        img
            width: 100%
            display: none
            min-width: 78vw
            margin-left: -6vw
            +desktop-less-sm
                display: block
            +tablet-less-md
                min-width: 91vw
            +tablet-less-sm
                min-width: 92vw
                margin-left: -1vw
            +mob-less-lg
                min-width: 90vw
        .button
            //margin-top: 50px
            margin-bottom: 20px
            +rmin(1024)
                margin-top: 50px
            +desktop-less-xl
                //margin-top: 57px
            +desktop-less-lg
                //margin-top: 80px
            +desktop-less-md
                //margin-top: 62px
            +desktop-less-sm
                position: relative
                //margin-top: 30px
            +tablet-less-md
                left: 0
                //left: 22px
            //+tablet-less-sm
            //    left: 0
            +mob-less-lg
                top: 31px
    &__in
        opacity: 0
        transform: translateY(-40px)
        transition: opacity .4s $easing, transform .6s $easing
    &__stateicon
        position: absolute
        bottom: -11px
        left: -42px
        +desktop-less-xl
            bottom: -12px
            left: -45px
        +desktop-less-lg
            bottom: -13px
            left: -42px
        +desktop-less-md
            bottom: -12px
        +desktop-less-sm
            position: static
    &:not(.is-active)
        .state-icon
            path
                &:nth-child(1), &:nth-child(2)
                    transform: scaleX(0)
                    opacity: 0
    &.is-preview-active
        h1, h2
            color: $orange
    &.is-active
        h1, h2
            color: $orange
        .state-icon
            path
                &:nth-child(4), &:nth-child(5)
                    transform: scaleX(0)
                    opacity: 0
        #{$this}__in
            opacity: 1
            transform: translateY(0px)
            transition: opacity .2s .4s $easing, transform .8s $easing
    &:last-child
        #{$this}__stateicon
            bottom: calc(50% - 11px)
            +desktop-less-xl
                bottom: calc(50% - 12px)
            +desktop-less-lg
                bottom: calc(50% - 12px)
            +desktop-less-md
                bottom: calc(50% - 12px)
        .state-icon
            +desktop-less-sm
                bottom: calc(50% - 12px)
            +tablet-less-sm
                bottom: calc(50% - 15px)
            +mob-less-md
                bottom: calc(50% - 16px)

.accordion-images
    width: 100%
    position: absolute
    z-index: 0
    top: 0
    left: 0
    +desktop-less-sm
        display: none
    &__in
        position: relative
        width: 100%
        max-width: 850px
        //margin-top: 92px
        margin-top: -10px
        height: 935px
        +desktop-less-lg
            margin-top: -20px
        +desktop-less-md
            margin-top: -35px
        //    margin-top: 90px
        +desktop-less-sm
            margin-top: 110px
    &__img
        width: 100%
        position: absolute
        // top: 180px
        top: 100%
        left: -20px
        opacity: 0
        transition: opacity .6s $easing
        object-fit: contain
        +desktop-less-xl
            // top: 224px
            left: 98px
            width: 98%
        +desktop-less-lg
            // top: 230px
            left: 14px
            width: 104%
        +desktop-less-md
            // top: 208px
            left: 56px
            width: 99%
        img
            width: 100%
            display: block
        &.is-active, &.is-preview-active
            opacity: 1
body
    &.firefox
        .accordion
            .state-icon
                +gpu
    &.ie
        .accordion-images
            &__in
                margin-top: 0px
                +desktop-less-lg
                    margin-top: -5px
                +desktop-less-md
                    margin-top: -10px
                +desktop-less-sm
                    margin-top: 110px
    &.edge
        .accordion-images
            &__in
                margin-top: -45px
                +desktop-less-lg
                    margin-top: -50px
                +desktop-less-md
                    margin-top: -55px
                +desktop-less-sm
                    margin-top: 110px
    //
        //+desktop-less-lg
        //    margin-top: -15px
        //+desktop-less-md
        //    margin-top: -35px
        //
        //+desktop-less-sm
        //    margin-top: 110px
