@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.intro-text
    padding-bottom: 42px
    overflow: hidden
    background-color: $grey-green
    &.is-white
        background-color: #fff
    +desktop-less-lg
        padding-bottom: 20px
    +desktop-less-md
        padding-bottom: 2px
    +tablet-less-lg
        padding-bottom: 12px
    +mob-less-lg
        padding-bottom: 42px
    &__in
        font-size: 22px
        line-height: 1.45
        letter-spacing: -0.18px
        margin-bottom: 62px
        +desktop-less-lg
            margin-bottom: 60px
        h6
            margin-bottom: 14px
            +desktop-less-lg
                line-height: 1.08
                letter-spacing: -0.08px
                margin-bottom: 12px
            +desktop-less-md
                margin-bottom: 14px
            +desktop-less-sm
                font-size: 24px
            +tablet-less-lg
                font-size: 22px
            +mob-less-lg
                font-size: 20px
                line-height: 1.2
                margin-bottom: 12px

        p
            margin-bottom: 18px
            letter-spacing: 0px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 16px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                margin-bottom: 10px
        a
            color: currentColor
            text-decoration: none
        br
            +desktop-less-md
                display: none
        .button
            margin-top: 13px
            margin-right: 40px
            &:last-of-type
                margin-right: 0
            +r(420)
                margin-right: 10px

            +desktop-less-lg
                margin-top: 15px
            +mob-less-lg
                margin-top: 20px
        &_sm
            p
                font-size: 16px
                line-height: 1.5
                +desktop-less-lg
                    line-height: 1.56
                +tablet-less-sm
                    font-size: 16px


