@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.job-teaser
    border-radius: 5px
    width: 440px
    position: absolute
    bottom: 10%
    right: 8px
    color: #000
    text-decoration: none
    transform: rotate(10deg)
    transform-origin: 100% 100%
    text-align: left
    +font-smoothing
    animation-duration: 0.7s
    animation-timing-function: ease-out
    animation-fill-mode: both
    visibility: hidden
    +desktop-less-lg
        width: 330px
        bottom: 12%
    +tablet-less-lg
        display: none
    +tablet-less-sm
        width: 325px
    &.is-animate
        visibility: visible
        animation-name: jobRollIn
    &__bg
        content: ""
        position: absolute
        width: 100%
        height: 100%
        background: $orange
        border-radius: 5px
        box-shadow: 0 0 26px 0 rgba(154,153,153,0.45)
        z-index: 0
        left: 0
        top: 0
        +gpu
        transition: transform .25s ease-in-out
        transform-origin: 50% 50%
        -moz-backface-visibility: hidden
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
    &:hover
        color: #000!important
    +rmin(1025)
        &:hover
            .job-teaser__bg
                transform: scale(1.01)
    &__in
        display: flex
        position: relative
        z-index: 1
        padding: 40px 45px 34px 32px
        overflow: hidden
        +desktop-less-lg
            padding: 30px 34px 25px 24px
        +tablet-less-sm
            padding: 26px 35px 26px 23px
    &__content
        display: block
        width: percentage(250/365)
        +tablet-less-sm
            width: percentage(198/268)
    &__text
        display: block
        font-size: 16px
        line-height: 1.5
        max-width: 165px
        margin-bottom: 24px
        +hm-r
        +desktop-less-lg
            font-size: 14px
            margin-bottom: 18px
            max-width: 150px
    &__title
        display: block
        font-size: 28px
        line-height: 1.07
        text-decoration: underline
        text-decoration-color: #fff
        +hm-sb
        +desktop-less-lg
            font-size: 24px
        +tablet-less-sm
            font-size: 22px
            line-height: 1.18
    &__img
        display: block
        width: percentage(115/365)
        +tablet-less-sm
            width: percentage(70/268)
        img
            width: 209px
            height: 194px
            object-fit: contain
            font-family: 'object-fit: contain'
            +desktop-less-lg
                width: 157px
                height: 145px
            +tablet-less-sm
                width: 153px
                height: 142px
body
    &.ie, &.edge
        .job-teaser
            .job-teaser__bg
                transform: none!important
            &:hover
                .job-teaser__bg
                    transform: none!important

@keyframes jobRollIn
    0%
        transform: translateX(100%) rotate(120deg)
    100%
        transform: translateX(0px) rotate(10deg)
