@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

$easing: cubic-bezier(0.64, 0.04, 0.35, 1)

.jobs
    padding: 81px 0
    background: $grey-green
    overflow: hidden
    +desktop-less-md
        padding: 101px 0
    +desktop-less-sm
        padding: 94px 0
    +tablet-less-lg
        padding: 92px 0
    +tablet-less-sm
        padding: 42px 0
    //.job
    //    &:last-of-type
    //        &.is-active
    //            margin-bottom: 0 !important

.job
    //margin-bottom: 16px
    margin-bottom: 64px
    +desktop-less-lg
        //margin-bottom: 28px
    +desktop-less-md
        //margin-bottom: 32px
    +mob-less-lg
        //margin-bottom: 30px
    &:not(.is-active)
        .state-icon
            path
                &:nth-child(1), &:nth-child(2)
                    transform: scaleX(0)
                    opacity: 0
    &.is-active
        h2
            color: $orange
        .state-icon
            path
                &:nth-child(4), &:nth-child(5)
                    transform: scaleX(0)
                    opacity: 0
        .job__in
            opacity: 1
            transform: translateY(0px)
            transition: opacity .2s .4s $easing, transform .8s $easing
    .state-icon
        position: absolute
        bottom: -12px
        left: -43px
        width: 22px
        height: 32px
        display: block
        +desktop-less-md
            bottom: -11px
        +desktop-less-sm
            bottom: -12px
        +tablet-less-sm
            left: - 100%/14*1
        path
            transform-origin: 0 0
            transition: transform .8s $easing, opacity .6s $easing
        &_lg
            display: none
        &_md
            +mob-less-lg
                display: none
        &_sm
            display: none
            +mob-less-lg
                display: block
                margin-left: -5px
    &__in
        opacity: 0
        transform: translateY(-40px)
        transition: opacity .4s $easing, transform .6s $easing
    &__title
        position: relative
        z-index: 2
        transform: translate3d(0,0,0)
        h2
            text-decoration: none
            transition: color .6s $easing
            // position: relative
            text-decoration: underline
            text-decoration-color: $orange
            display: inline-block
            cursor: pointer
            font-size: 42px
            line-height: 0.86
            +desktop-less-lg
                font-size: 44px
                // font-size: 3.44vw
                line-height: 0.9
            +desktop-less-md
                font-size: 32px
                line-height: 0.9375
            +desktop-less-sm
                font-size: 44px
                line-height: 0.9
            +tablet-less-sm
                font-size: 32px
                line-height: 0.9375
            // &:before
            //     content: ""
            //     position: absolute
            //     bottom: 0px
            //     left: 0
            //     width: 100%
            //     height: 3px
            //     border-radius: 4px
            //     background: $orange
            //     z-index: 1
            &:hover
                color: $orange
    &__content
        position: relative
        height: 0
        visibility: hidden
        &-in
            //padding: 19px 0 56px
            padding: 19px 0 0px
            +desktop-less-lg
                padding-top: 15px
            +desktop-less-md
                padding-top: 6px
            +tablet-less-sm
                padding-top: 8px
    &__inner
        display: flex
        +tablet-less-sm
            flex-direction: column
    &__socials
        width: 100%/8*2
        padding-left: 100%/8*1
        +desktop-less-md
            width: 100%/12*3
            padding-left: 100%/12*1
        +tablet-less-sm
            order: 0
            padding-left: 0
            width: 100%

    &__texts
        width: 100%/8*6
        +desktop-less-md
            width: 100%/12*9
        +tablet-less-sm
            order: 1
            width: 100%
    &__date
        font-size: 16px
        line-height: 1.5
        margin-bottom: 58px
        +desktop-less-lg
            margin-bottom: 54px
        +desktop-less-md
            margin-bottom: 53px
        +tablet-less-sm
            margin-bottom: 34px
    &__text
        margin-bottom: 35px
        +desktop-less-md
            margin-bottom: 32px
        h6
            font-size: 22px
            line-height: 1.09
            margin-bottom: 2px
            +desktop-less-lg
                font-size: 20px
                line-height: 1.2
                margin-bottom: 0
        p, ul
            font-size: 16px
            line-height: 1.5
            letter-spacing: 0.01px
            +hm-l
            +mob-less-lg
                letter-spacing: -0.1px
        li
            position: relative
            padding-left: 25px
            margin-bottom: 6px
            &:before
                content: ""
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                background-color: #000
                position: absolute
                left: 3px
                top: 10px
    &__button
        padding-top: 3px
        padding-bottom: 36px
        +desktop-less-lg
            padding-top: 0


.socialbox
    padding: 7px 0
    +desktop-less-lg
        padding: 9px 0
    +tablet-less-sm
        display: flex
        align-items: center
        margin-bottom: 13px
    +mob-less-lg
        margin-bottom: 16px
    &__text
        font-size: 12px
        line-height: 1.17
        +hm-sb
        margin-bottom: 23px
        max-width: 74px
        +tablet-less-sm
            margin-bottom: 0
            margin-right: 18px

.social-links
    +tablet-less-sm
        display: flex

    li
        margin-bottom: 18px
        +tablet-less-sm
            margin-bottom: 0
            margin-right: 18px
    a
        color: #000
        // display: block

        display: flex
        justify-content: center
        align-items: center
        width: 36px
        height: 36px
        position: relative
        border-radius: 50%
        &:before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            border-radius: 50%
            left: 50%
            top: 50%
            margin-top: -18px
            margin-left: -18px
            background: #ec6b06
            z-index: 0
            transition: transform .25s ease-in
        +rmin(1024)
            &:hover
                color: #000
                box-shadow: 0 0 26px rgba($grey-simple, .45)
                &:before
                    transform: scale(1.2)
                .icon
                    fill: #fff

    .icon
        width: 36px
        height: 36px
        display: block
        position: relative
        z-index: 1
        fill: black
        transition:  fill .25s ease-in-out
body
    &.ie
        .job__title
            transform: none
            h2
                line-height: 0.9
                +desktop-less-lg
                    line-height: 0.95
                +desktop-less-md
                    line-height: 0.9575
                +desktop-less-sm
                    line-height: 0.95
                +tablet-less-sm
                    line-height: 0.9575
    &.firefox
        .job__title
            h2
                line-height: 0.9
                +desktop-less-lg

                    line-height: 0.95
                +desktop-less-md
                    line-height: 0.9375
                +desktop-less-sm
                    line-height: 0.9
                +tablet-less-sm
                    line-height: 0.9375
    &.edge
        .job__title
            h2
                line-height: 0.9
                +desktop-less-lg
                    line-height: 0.94
                +desktop-less-md
                    line-height: 0.9375
                +desktop-less-sm
                    line-height: 0.93
                +tablet-less-sm
                    line-height: 0.95
