@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"
@import "lib/ps"


.map
    width: 100%
    // height: 1050px
    // height: 0
    // padding-top: 56.25%
    background-color: $black
    position: relative
    overflow: hidden
    height: 100vh
    // +desktop-less-lg
    //     height: 720px
    // +desktop-less-md
    //     height: 768px
    // +desktop-less-sm
    //     height: 822px
    // +mob-less-lg
    //     height: 655px
    &__in
        position: absolute
        top: 20px
        left: 20px
        width: calc(100% - 40px)
        height: calc(100% - 40px)
        border-radius: 5px
        overflow: hidden
        +gpu
        +tablet-less-sm
            width: calc(100% - 16px)
            height: calc(100% - 16px)
            top: 8px
            left: 8px
    &__close
        position: absolute
        top: 20px
        right: calc((100% - 1920px)/2 + 152px)
        background: $orange
        width: 45px
        height: 82px
        +r(1920)
            right: percentage(152/1920)
        +desktop-less-xl
            right: percentage(132/1680)
        +desktop-less-lg
            right: percentage(100/1280)
        +desktop-less-md
            right: percentage(80/1024)
        +desktop-less-sm
            right: percentage(30/992)
        +tablet-less-lg
            right: percentage(40/768)
        +tablet-less-md
            right: percentage(20/720) + (100% - percentage(20/720)*2)/16
            width: 40px
        +tablet-less-sm
            right: calc(100%/16 + 8px)
            width: 34px
            top: 8px
        +mob-less-lg
            width: 21px
            height: 44px

        .icon
            width: 22px
            height: 22px
            fill: #000
            position: absolute
            bottom: 10px
            left: 50%
            transform: translateX(-50%)
            +tablet-less-sm
                bottom: 8px
            +mob-less-lg
                width: 14px
                height: 14px
                bottom: 4px
        // +tablet-less-sm
        //     right: 50%
        //     transform: translate(-50%, 0)
        // +mob-less-lg
        //     max-width: 317px
        //     bottom: 25px
        // +mob-less-md
        //     max-width: 290px

.map-popup
    box-shadow: 0 0 26px rgba(154, 153, 153, 0.45)
    z-index: 3
    width: 100%
    opacity: 0
    visibility: hidden
    max-width: 409px
    //height: percentage(692/1010)
    //max-height: 746px
    //height: 100%
    height: 600px
    //max-height: percentage(600/1080)
    min-height: 400px

    position: absolute
    //top: 50%
    top: 16vh

    left: calc((100% - 1920px)/2 + 152px)
    // margin-left: -17px
    box-sizing: border-box
    border-radius: 5px
    overflow: hidden
    background: #fff
    border: 1px solid $orange
    transition: opacity .25s ease-in-out, visibility .25s 0s
    // transform: scale(0.9) translateY(-50%)
    +r(1920)
        left: percentage(152/1920)
    +desktop-less-xl
        left: percentage(132/1680)
        top: 14vh
    +desktop-less-lg
        left: percentage(100/1280)
        top: 8vh
        height: 550px

        //height: percentage(596/720)
        // margin-left: 0
    +desktop-less-md
        left: percentage(80/1024)
        height: 540px
        top: 50%
        transform: translateY(-50%)
        //max-height: 550px
        //height: percentage(690/768)
    +desktop-less-sm
        //top: 20vh
        left: percentage(30/992) + (100% - percentage(30/992)*2)/16
        //height: percentage(690/820)
    +tablet-less-lg
        //top: 15vh
        left: percentage(40/768) + (100% - percentage(40/768)*2)/16
    +tablet-less-md
        left: percentage(20/720) + (100% - percentage(20/720)*2)/16
        min-height: 1px
        //top: 20vh
    +rorient(767, landscape)
        left: 50%
        transform: translate(-50%, 0)
        top: auto
        bottom: 34px
        height: auto
        max-width: 435px

    +tablet-less-sm
        left: 50%
        transform: translate(-50%, 0)
        top: auto
        bottom: 54px
        height: auto
        max-width: 435px
    +mob-less-lg
        max-width: 317px
        bottom: 36px
    +mob-less-md
        max-width: 290px
    &.is-active
        opacity: 1
        visibility: visible
        // transform: scale(1) translateY(-50%)

    &--small-info
        max-height: 540px

        // min-height: 55%
        +tablet-less-md
            min-height: 1px
        .marker-popup__header
            height: auto
            min-height: 1px
            flex-shrink: 0
            // height: 132px
            // min-height: 132px
            // +tablet-less-sm
            //     height: auto
            //     min-height: 1px
        .marker-popup__mob-title-info, .marker-popup__mob-content
            display: none
            margin-top: 15px
            +tablet-less-sm
                display: block
            .marker-popup__list
                li
                    margin-bottom: 3px
                    +mob-less-lg
                        font-size: 16px
                    &:last-of-type
                        margin-bottom: 0
                strong
                    display: inline-block
                    margin-right: 5px
                    +mob-less-lg
                        font-size: 16px

        .marker-popup__body
            // height: calc(100% - 132px)
            height: auto

.map-marker-popup
    width: 100%
    // opacity: 0
    // visibility: hidden
    max-width: 409px
    height: percentage(692/1010)
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 152px
    margin-left: -36px
    box-sizing: border-box
    border-radius: 5px
    overflow: hidden
    z-index: 3
    background: #fff
    border: 1px solid $orange
    transition: opacity .25s ease-in-out, visibility .25s 0s
    // transform: scale(0.9) translateY(-50%)
    +r(1920)
        left: percentage(152/1920)
    +desktop-less-xl
        left: percentage(132/1680)
    +desktop-less-lg
        left: percentage(100/1280)
        height: percentage(596/720)
        margin-left: -18px
    +desktop-less-md
        left: percentage(80/1024)
        height: percentage(690/768)
    +desktop-less-sm
        left: percentage(30/992)
    +tablet-less-lg
        left: percentage(40/768)
    +tablet-less-md
        left: percentage(20/720)
    +rorient(767, landscape)
        left: 50%
        transform: translate(-50%, 0)
        top: auto
        bottom: 34px
        height: auto
        max-width: 435px
    +tablet-less-sm
        left: 50%
        transform: translate(-50%, 0)
        top: auto
        bottom: 54px
        height: auto
        max-width: 435px
    +mob-less-lg
        max-width: 317px
        bottom: 36px
    +mob-less-md
        max-width: 290px
    &.is-active
        opacity: 1
        visibility: visible
        // transform: scale(1) translateY(-50%)

.mapboxgl-popup-tip
    display: none
.mapboxgl-popup-content
    padding: 0
    width: 100%
.mapboxgl-popup-close-button
    display: none
.mapboxgl-canvas-container
    border-radius: 5px
    overflow: hidden
.mapboxgl-canvas
    border-radius: 5px
.mapboxgl-control-container
    +tablet-less-sm
        display: none
.mapboxgl-ctrl-bottom-right
    border-bottom-right-radius: 5px
    overflow: hidden

$headerHeight: 140px
$headerHeightOffset: calc(100% - 141px)
.marker-popup
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    +gpu
    &__header
        display: flex
        min-height: $headerHeight
        height: $headerHeight
    &__head
        flex-grow: 1
        padding: 30px 30px
        position: relative
        +tablet-less-md
            padding-left: 23px
        +tablet-less-sm
            padding-top: 25px
            padding-bottom: 25px
            padding-left: 46px
        +mob-less-lg
            padding-left: 30px
        h6
            font-size: 26px
            line-height: 1.08

            +mob-less-lg
                font-size: 20px
                line-height: 1.2
        p
            +hm-l
            font-size: 16px
            line-height: 1.2
            &:not(:empty)
                margin-top: 10px
                +mob-less-lg
                    margin-top: 5px
    &__close
        background: none
        border-radius: 0
        appearance: none
        border: 0
        position: absolute
        right: 8px
        top: 8px
        display: none
        +rorient(767, landscape)
            display: block
        +tablet-less-sm
            display: block
        .icon
            width: 20px
            height: 20px
    &__btns
        width: 72px
        flex-shrink: 0
        flex-grow: 0
    &__btn
        display: block
        width: 100%
        text-align: left
        background: $orange
        //padding: 15px 9px 20px
        padding: 15px 9px 10px
        margin-bottom: 2px
        height: 100%
        color: black
        text-decoration: none
        &--download
            .marker-popup__btn-text
                margin-bottom: 12px
        &--case
            .marker-popup__btn-text
                margin-bottom: 10px
        +desktop-less-lg
            padding-top: 16px
        +tablet-less-md
            //padding: 16px 6px 10px 10px
            padding: 16px 7px 10px 7px
        +tablet-less-sm
            //height: 50%


        &:not(.button):active,
        &:not(.button):hover
            color: black
            +rmin(1025)
                .marker-popup__btn-svg
                    svg
                        path
                            fill: #fff
        &-text
            max-width: 54px
            display: block
            font-size: 12px
            +hm-sb
            line-height: 1.1
            margin-bottom: 17px
            +tablet-less-md
                font-size: 10px
                line-height: 1.1
                //margin-bottom: 19px

        &-svg
            position: relative
            padding-bottom: 4px
            font-size: 0
            &:before
                content: ""
                display: block
                width: 100%
                height: 2px
                background-color: #fff
                position: absolute
                border-radius: 1px
                left: 0
                bottom: -3px
            svg
                path
                    fill: #000
                    transition: fill .25s ease-in-out
    &__body
        background-color: $grey-green
        padding: 33px 16px 28px 29px
        //padding: 28px 16px 28px 29px
        // flex-grow: 1
        // overflow-y: auto
        height: $headerHeightOffset
        +rorient(767, landscape)
            display: none
        +tablet-less-sm
            display: none
        .ps
            &__rail-y
                // margin-right: 10px
                background: $grey-light
                width: 4px
                &.ps--clicking, &:focus, &:hover
                    .ps__thumb-y
                        width: 4px
            &__thumb-y
                background: $grey-simple
                width: 4px
                right: 0

    &__list
        position: relative
        overflow: hidden
        height: 100%
        li
            font-size: 16px
            line-height: 1.375
            +hm-l
            margin-bottom: 14px
        strong
            font-size: 18px
            line-height: 1.44
            +hm-sb
            display: block




.marker
    svg
        transition: transform .3s ease-in-out
        transform-origin: 50% 100%
        path
           transition: fill .3s ease-in-out
    &.is-active
        svg
            transform: scale(1.5)
            path
                fill: #000
body
    &.ie
        .marker-popup__btn
            //padding: 15px 5px 10px
            min-width: 72px
            +desktop-less-lg
                //padding-top: 16px
            +tablet-less-md
                padding: 16px 6px 10px 8px
                min-width: 61px

    &.firefox
        .marker-popup__btn
            +gpu
