@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.projects-map
  position: relative
  background: $grey-green
  padding: 74px 0 128px
  overflow: hidden
  &.is-white
    background: $white

.projects-categories
  padding: 140px 0 160px
  position: relative
  background: $grey-green
  +tablet-less-lg
    padding: 80px 0 100px
  &.is-white
    background: $white

.n-projects-pattern
    &__main

    &__content
        h3
            line-height: 1.04
            margin-bottom: 44px
            +desktop-less-lg
                line-height: 1.1
            +desktop-less-md
                margin-bottom: 34px
            +desktop-less-sm
                line-height: 1.05
                margin-bottom: 36px
            +tablet-less-lg
                font-size: 42px
            +mob-less-lg
                font-size: 26px
                line-height: 1
                margin-left: -2px
                margin-bottom: 48px
        p
            letter-spacing: 0px
            font-size: 22px
            line-height: 1.45
            margin-bottom: 60px
            +desktop-less-lg
                margin-bottom: 48px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 40px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                margin-bottom: 48px
    &__img-block
      position: relative
      margin-bottom: 68px
      +mob-less-lg
          margin-bottom: 72px
      img
        max-width: 100%
        +mob-less-lg
          display: block
          width: 100vw
          position: relative
          left: 50%
          transform: translateX(-50%)
          max-width: 100vw
      a
        position: absolute
        top: 46%
        left: 0%
        transform: translateY(-50%)
        z-index: 1
        +mob-less-lg
          top: auto
          bottom: -42px
          left: 50%
          transform: translate(-50%, 0%)
          white-space: nowrap
    &__list
      padding: 64px 0 0
      .is-simple-view &
        padding-top: 0

.project-items
  display: grid
  grid-template-columns: 1fr
  gap: 96px
  +mob-less-lg
    gap: 64px
.project-item
  &__head
    margin-bottom: 20px
    +mob-less-lg
      margin-bottom: 16px
    .is-simple-view &
      margin-bottom: 32px
      +mob-less-lg
        margin-bottom: 16px
  &__text
    margin: 0 0 32px!important
    font-size: 18px
    font-weight: 300
    line-height: 1.444
    +mob-less-lg
      font-size: 16px
      line-height: 1.5

  &__links
    display: grid
    grid-template-columns: 1fr
    gap: 4px
  &__download-btn
    margin-top: 38px
.project-item-links
.project-item-link
  $link: &
  position: relative
  padding: 9px 24px 9px 0px
  display: flex
  align-items: flex-end
  background: $white
  border: 1px solid $grey-simple
  border-radius: 5px
  transition: border-color .25s ease-in
  text-decoration: none
  &:before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0px
    left: 0
    box-shadow: 0 0 26px 0 rgba($grey-simple, 0.36)
    transition: opacity .25s ease-in
    opacity: 0
    pointer-events: none
  &:hover
    border-color: $orange
    color: $black2!important
    // z-index: 1
    &:before
      opacity: 1
    #{$link}__name
      transform: translateY(0px)
      transition: transform .25s ease-in
    #{$link}__more
      opacity: 1
  +touch
  &__icon
    font-size: 0px
    width: 120px
    min-height: 100px
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    flex-shrink: 0
    +mob-less-lg
      width: 82px
      min-height: 72px
    & > img
      height: 100px
      +mob-less-lg
          height: 72px
  &__icons-plate
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 64px
    height: 64px
    row-gap: 4px
    font-size: 0
    margin-bottom: 16px
    +mob-less-lg
      width: 58px
      height: 58px
      row-gap: 2px
      margin-bottom: 8px
    img
      width: 30px
      height: 30px
      +mob-less-lg
        width: 27px
        height: 27px
  &__main
    position: relative
    margin-left: 8px
    margin-bottom: 14px
    +mob-less-lg
      margin-left: -3px
      margin-bottom: 4px
  &__name
    position: relative
    transition: transform .25s ease-in 0.1s
    font-size: 20px
    font-weight: 300
    line-height: 1.5
    padding-bottom: 28px
    transform: translateY(28px)
    color: $black2
    +desktop-less-lg
      font-size: 18px
    +mob-less-lg
      font-size: 16px
    +touch
      padding-bottom: 0
      transform: translateY(0)


  &__more
    display: inline-block
    position: absolute
    left: 0
    bottom: 0
    font-size: 18px
    font-weight: 600
    line-height: 1.44
    height: 28px
    opacity: 0
    transition: opacity .25s ease-in 0.1s
    white-space: nowrap
    color: $black2
    &::after
      content: ''
      position: absolute
      bottom: 4px
      left: 0
      width: 100%
      height: 1px
      background: $orange
    +touch
      opacity: 1
      position: relative

