@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

body
	background: rgba(gray, 0.5)
	width: 1680px

@page
  size: 1680px 1260px
  margin: 0
  // @media print
  // 	margin: 0
  // margin-bottom: 100px
  // @media not print
  	// margin-bottom: 50px
.out-pdf
	color: $black2
	font-size: 22px
	line-height: 1.454
	+hm-l

.orange-text
	+hm-sb
	font-size: 20px
	line-height: 21px
	color: $orange
.big-text
	font-size: 30px
	line-height: 1.26
.pdf-section

.pdf-wrapper
	padding: 0 131px

.pagedjs_page
	margin-bottom: 20px
	margin-left: auto
	margin-right: auto
.pdf-section
	margin-left: auto
	margin-right: auto
	max-width: 1680px
	width: 100%
	height: 1260px
	display: flex
	flex-direction: column
	background: #fff
	// border-bottom: 2px solid $black2
	// @media not print
	// 	margin-bottom: 100px
	&--without-header
		.pdf-section__content
			padding-top: 230px

	a
		color: $black2
		// text-decoration: none

	&__content
		width: 100%
		// height: 1044px
		flex-grow: 1
		padding-top: 79px
.head-block
	display: flex
	align-items: flex-end
	margin-bottom: 10px
	img
		flex-grow: 0
		flex-shrink: 0
		margin-right: 10px
		width: 70px
	span
		flex-grow: 1
		display: block
		padding-bottom: 3px
		border-bottom: 3px solid $black2
.head-simple
	padding-bottom: 3px
	border-bottom: 3px solid $black2
	margin-bottom: 10px
.p-title
	color: $black2
	text-decoration: none
	+hm-sb
	&--xl
		font-size: 78px
		line-height: 0.95
		strong
			color: $orange
			display: block
			margin: 10px 0

	&--l
		font-size: 58px
		line-height: 1
	&--md
		font-size: 48px
		line-height: 0.92
	&--m
		font-size: 36px
		line-height: 1.08
	&--s
		font-size: 30px
		line-height: 1.13
	&--sm
		font-size: 26px
		line-height: 1.23
	&--orange
		color: $orange
	&--line
		text-decoration: underline
		// text-underline-position: under
	&--line-orange
		text-decoration-color: $orange

.space-bottom
	margin-bottom: 50px
.space-top
	margin-top: 50px
.space-top-big
	margin-top: 90px
.pdf-article
	a
		color: $orange
		text-decoration: none
	p,
	blockquote
		&:not(:last-child)
			margin-bottom: 8px
		&:last-child
			margin-bottom: 0!important
	ul,
	ol,
		// margin: 50px 0 50px 34px
		margin: 50px 0 50px 24px
		&:first-child
			margin-top: 0
	ul
		list-style-type: disc
		li
			&:not(:last-of-type)
				margin-bottom: 8px


@import pdf-components/all
