@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.projects
    position: relative
    background: $grey-green

.projects-pattern
    //padding: 70px 0 140px
    padding: 70px 0 100px
    //+tablet-less-sm
        //padding: 0 0 160px
    &__content
        h3
            line-height: 1.04
            margin-bottom: 35px
            +desktop-less-lg
                line-height: 1.1
            +desktop-less-md
                margin-bottom: 34px
            +desktop-less-sm
                line-height: 1.05
                margin-bottom: 36px
            +tablet-less-lg
                font-size: 42px
            +mob-less-lg
                font-size: 30px
                line-height: 1.07
                margin-left: -2px
        p
            letter-spacing: 0px
            font-size: 22px
            line-height: 1.45
            letter-spacing: -0.18px
            margin-bottom: 89px
            +desktop-less-lg
                margin-bottom: 87px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 40px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                //margin-bottom: 10px
    &__list
        display: flex
        flex-wrap: wrap
        //overflow: hidden
    &__item
        width: 100%/12*4
        padding-bottom: 2px
        padding-right: 2px
        +desktop-less-lg
            width: 100%/12*6

        +tablet-less-sm
            width: 100%
            padding-right: 0
        //&:not(:last-child)
        //    padding-right: 2px
        //    +tablet-less-sm
        //        padding-right: 0
        &.hidden
            display: none
        &.prepared
            opacity: 0
    //&:hover
        //  z-index: 1
    &__filter
        +tablet-less-sm
            margin-bottom: 30px
            position: sticky
            top: 48px
            margin-left: -8px
            width: 100%
            min-width: calc(100% + 16px)
            z-index: 100
        +mob-less-lg
            margin-bottom: 33px
        +mob-less-md
            top: 46px
    &__more-wrapper
        margin-top: 78px
        //margin-bottom: 100px
        display: flex
        justify-content: center
        font-size: 0
    &__more-btn
        display: block
        vertical-align: top
        appearance: none
        border: none
        background: transparent
        position: relative



        &.hidden
            display: none
        &:after
            content: ''
            position: absolute
            left: 0
            width: 100%
            height: 1px
            background: $orange
            bottom: 3px

        .icon
            width: 80px
            height: 80px
            fill: $orange
        strong
            display: block
            margin-top: 10px
            font-size: 22px
            transition:  color .25s ease-in-out
        &:hover
            strong
                color: $orange
.project
    $this: &
    text-decoration: none
    border: 1px solid $grey-simple
    border-radius: 5px
    height: 100%
    display: block
    color: #000
    padding: 0 0 34px 4px
    position: relative
    background: #fff
    transition: border-color .25s ease-in-out
    min-height: 303px
    //+tablet-less-sm

    +tablet-less-lg
        padding-top: 12px
        padding-bottom: 31px
    +tablet-less-sm
        padding-top: 0
        padding-bottom: 34px
    &_special
        padding-right: 0
        //+tablet-less-sm
        //    min-height: 305px
        &:hover
            border-color: $orange
            &:before
                opacity: 1
        .project__img
            width: 277px
            margin: 0 auto
            position: relative
            top: 56px
            display: block

            +desktop-less-lg
                width: 337px
                top: 38px
            +desktop-less-md
                width: 80%
            +desktop-less-sm
                width: 74%
            +tablet-less-lg
                width: 75%
                top: 27px
            +tablet-less-sm
                width: 253px
                top: 38px
            +mob-less-md
                width: 80%
            img
                width: 100%
                display: block

    &:not(.project_special)
        .project__img
            margin-bottom: 11px
            display: block
            +desktop-less-md
                margin-bottom: 0
            +desktop-less-sm
                margin-bottom: 22px
            +tablet-less-lg
                margin-bottom: 40px
            +tablet-less-sm
                margin-bottom: 22px
            +mob-less-lg
                margin-bottom: 23px
            img, svg
                width: 322px
                height: 177px

                +tablet-less-lg
                    width: 236px
                    height: 124px
                +tablet-less-sm
                    width: 322px
                    height: 177px
            svg
                transition: fill .3s ease-in-out
                fill: #000
    &:before
        content: ""
        +coverdiv
        box-shadow: 0 0 26px 0 rgba(154,153,153,0.45)
        // z-index: -1
        opacity: 0
        transition: opacity .25s ease-in-out
    &__in
        display: flex
        flex-wrap: wrap
        overflow: hidden
        height: 100%
        width: 100%

    &__title
        font-size: 21px
        line-height: 1.43
        padding: 0 30px
        transition: transform .25s ease-in-out, opacity .25s ease-in-out
        position: absolute
        bottom: 32px
        left: 4px
        letter-spacing: -0.16px
        width: 100%
        display: block
        +tablet-less-sm
            bottom: 32px
        &_special
            max-width: 347px
            +desktop-less-lg
                max-width: none
    &__text
        font-size: 16px
        +hm-l
        line-height: 1.375
        transform-origin: 0 0
        transition: transform .3s ease-in-out, opacity .3s ease-in-out
        padding: 0 28px 0 30px
        max-width: 347px
        margin-bottom: 2px
        transform: translateY(20px)
        opacity: 0
        display: block
        +desktop-less-lg
            max-width: 389px
        +desktop-less-md
            max-width: 304px
            margin-top: -10px
        +desktop-less-sm
            max-width: 347px
            padding-right: 24px
        +tablet-less-lg
            max-width: 233px
            margin-bottom: 6px
        +tablet-less-sm
            max-width: 489px
            margin-bottom: 2px
    &__link-wrapper
        width: 100%
    &__link
        +hm-sb
        font-size: 18px
        line-height: 1.45
        text-decoration: none
        white-space: nowrap
        position: relative
        // position: absolute
        // bottom: 34px
        left: 30px
        transition: transform .3s ease-in-out, opacity .3s ease-in-out, color .3s ease-in-out
        opacity: 0
        transform: translateY(20px)
        &:hover
            color: $orange
        &:before
            content: ""
            position: absolute
            bottom: 4px
            left: 0
            width: 100%
            height: 1px
            background: $orange
    &:not(.project_special)
        &:hover
            border-color: $orange
            &:before
                opacity: 1
            #{$this}__text
                transform: translateY(0px)
                opacity: 1
            #{$this}__title
                transform: translateY(-40px)
                opacity: 0
            #{$this}__link
                transform: translateY(0px)
                opacity: 1
            #{$this}__img
                svg
                    fill: $orange
    &.is-active

        cursor: default
        border-color: $orange
        &:before
            opacity: 1
        #{$this}__img
            svg
                fill: $orange
        &:hover
            #{$this}__title
                transform: translateY(0px)
                opacity: 1
            #{$this}__text, #{$this}__link
                opacity: 0
                transform: translateY(0px)
a.project
    &:hover
        color: currentColor


.filter-box
    display: flex
    position: sticky
    top: 132px
    +gpu
    +desktop-less-xl
        top: 96px
    +desktop-less-sm
        display: block
    +tablet-less-sm
        position: static
        display: flex
        width: 100%
        padding: 8px calc(6.25% + 8px)
        background: $orange
    +mob-less-lg
        padding-top: 10px
        padding-bottom: 6px
    &__col
        background: $orange
        padding: 80px 11px 12px 9px
        +desktop-less-md
            min-width: 55px
        +desktop-less-sm
            width: 72px
        +tablet-less-lg
            width: 63px
            padding-top: 24px
            padding-bottom: 3px
        +tablet-less-sm
            display: flex
            width: auto
            padding: 0
        &:not(:last-child)
            margin-right: 2px
            +desktop-less-sm
                margin-right: 0
                margin-bottom: 2px
            +tablet-less-sm
                margin-bottom: 0
                margin-right: 2px
            +mob-less-lg
                margin-right: 44px
            +mob-less-md
                margin-right: 28px
    &__name
        +hm-sb
        font-size: 12px
        line-height: 1.17
        margin-bottom: 21px
        +tablet-less-lg
            font-size: 10px
            line-height: 1.2
            margin-bottom: 26px
        +tablet-less-sm
            line-height: 1.1
            margin-bottom: 0
            margin-right: 27px
        +mob-less-lg
            margin-right: 26px
        +mob-less-md
            margin-right: 18px
    &__list
        display: flex
        flex-direction: column
        align-items: flex-start
        +tablet-less-sm
            flex-direction: row
    &__case
        margin-bottom: 16px
        position: relative
        background: none
        border-radius: 0
        appearance: none
        border: 0
        // border-bottom: 2px solid #fff
        cursor: pointer
        &:before
            content: ""
            display: block
            width: 100%
            height: 2px
            background: #fff
            border-radius: 2px
            position: absolute
            bottom: 2px
            left: 0
        +rmin(1025)
            &:hover
                .icon
                    fill: #fff
        &.is-active
            .icon
                fill: #fff
        +tablet-less-sm
            margin-bottom: 0
            margin-right: 21px
            margin-top: 2px
        .icon
            fill: #000
            height: 23px
            transition: fill 0.25s
        .icon-filter-pv
            width: 35px
        .icon-filter-w
            width: 29px

    &__load
        margin-bottom: 16px
        position: relative
        background: none
        border-radius: 0
        appearance: none
        border: 0
        // border-bottom: 2px solid #fff
        cursor: pointer
        +tablet-less-lg
            margin-bottom: 18px
        +tablet-less-sm
            margin-bottom: 0
            margin-right: 29px
            margin-left: -10px
            padding-top: 2px
        +mob-less-lg
            margin-right: 12px
            margin-left: 0
        &:last-child
            +mob-less-md
                margin-right: 0
        .icon
            fill: #000
            height: 22px
            transition: fill .25s ease-in-out
        .icon-download-pv
            width: 30px
        .icon-download-w
            width: 25px
        &:before
            content: ""
            display: block
            width: 100%
            height: 2px
            border-radius: 2px
            background: #fff
            position: absolute
            bottom: 2px
            left: 0
            +tablet-less-sm
                width: 23px
                left: 1px
        +rmin(1025)
            &:hover
                .icon
                    fill: #fff
body
    &.ie
        .filter-box
            position: static
