@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"
@import "lib/swiper"
@import "lib/ps"

.quote-slider
    //padding: 70px 0 140px
    overflow: hidden
    position: relative
    z-index: 3
    &.pb
        padding-bottom: 140px
    &__in
        background-color: $grey-bg
        position: relative
        overflow: visible
        .swiper-pagination
            bottom: -48px
            &.hidden
                display: none
            &-bullet
                border: 2px solid #000
                opacity: 1
                background: none
                width: 9px
                height: 9px
                &-active
                    border: 2px solid $orange
                    background: $orange
        & > .swiper-pagination
            .swiper-pagination-bullet
                margin: 0 14px
    &__arrow
        position: absolute
        z-index: 15
        bottom: 48px
        width: 50px
        height: 50px
        background: none
        &.hidden
            display: none
        +tablet-less-sm
            bottom: -62px
        &_prev
            left: 14px
        &_next
            right: 12px
        .icon
            width: 42px
            height: 42px
            fill: $orange


.quote-slide
    box-sizing: border-box
    &__content
        display: flex
        // align-items: flex-end
        +tablet-less-sm
            display: block
    &__in
        width: 100%/16*11
        padding-top: 100%/16*4
        margin-top: -88px
        // margin-top: -100px
        padding-bottom: 48px
        // +desktop-less-xl
        //     margin-top: -86px
        +desktop-less-lg
            margin-top: -73px
        +desktop-less-md
            margin-top: -74px

        +desktop-less-sm
            margin-top: -60px
            // margin-top: -76px
            width: 100%/15*10
        // +r(991)
        //     margin-top: -76px
        +tablet-less-lg
            margin-top: -57px
            padding-top: 25.4%
        +r(900)
            padding-top: 25.2%
        +r(850)
            padding-top: 25.1%
        +tablet-less-md
            padding-top: 25%
        +tablet-less-sm
            width: 100%
            margin-top: 54px
            padding-top: 0
        // +desktop-less-sm
        //     margin-top: -93px
        // +tablet-less-lg
        //     margin-top: -70px
        // +tablet-less-sm
        //     margin-top: 54px
    &__img
        width: 100%
        height: 0
        padding-top: 102.4%
        position: relative
    &__pic
        position: relative
        // width: 100%
        width: 100%/16*4
        +desktop-less-sm
            width: 100%/15*4
        +tablet-less-sm
            width: 100%
        img
            +coverdiv
            width: 100%
            height: 100%
            object-fit: cover
            font-family: 'object-fit: cover'
            display: block
        figcaption
            font-size: 16px
            line-height: 1.125
            // position: absolute
            // top: 100%
            // left: 0
            margin-top: 28px
            +desktop-less-lg
                font-size: 14px
                line-height: 1.14
            +tablet-less-lg
                font-size: 12px
                line-height: 1.33
                margin-top: 19px
            +tablet-less-sm
                position: static
    &__name
        +hm-m
        display: block
    &__desc
        +hm-l
        display: block
        max-width: 280px
    &__quote
        +hm-l
        font-size: 46px
        line-height: 1.22
        margin-bottom: 32px
        +desktop-less-xl
            margin-bottom: 30px
        +desktop-less-lg
            font-size: 36px
            line-height: 1.28
        +tablet-less-lg
            font-size: 32px
            line-height: 1.3126
        +tablet-less-sm
            margin-bottom: 19px
        +mob-less-lg
            font-size: 28px
            line-height: 1.36
    &__msg
        +hm-l
        font-size: 22px
        line-height: 1.45
        margin-bottom: 71px
        +desktop-less-lg
            font-size: 18px
            line-height: 1.56
        +tablet-less-lg
            font-size: 16px
            line-height: 1.625
        +tablet-less-sm
            margin-bottom: 53px
    .button
        min-width: 149px
        text-align: center
        margin-right: 40px
        margin-bottom: 20px
        &:last-of-type
            margin-right: 0
        +tablet-less-sm
            min-width: 123px
        // +mob-less-lg
        //     display: block
        +r(420)
            margin-right: 10px




