@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"


.services
	background: $grey-green
	padding-top: 90px
	//padding-bottom: 76px
	padding-bottom: 16px
	overflow: hidden
	position: relative
	+desktop-less-lg
		padding-top: 107px
	+desktop-less-md
		padding-bottom: 76px
	+tablet-less-lg
		padding-top: 114px
		padding-bottom: 90px
	+tablet-less-sm
		padding-top: 110px
	+mob-less-md
		padding-top: 129px
	&__graphiс
		position: relative
		display: flex
		margin-bottom: 37px
		align-items: flex-end
		+desktop-less-lg
			margin-bottom: 48px
		+desktop-less-md
			margin-bottom: 40px
		+desktop-less-sm
			margin-bottom: 38px
		&:before
			content: ""
			width: 100%
			height: 4px
			background-color: #000
			border-radius: 100px
			position: absolute
			bottom: 0
			left: 0
		svg
			display: block
			position: relative
			&.wind
				top: -4px
				width: 65px
				margin-left: 25px
				margin-right: 20px
				+laptop
					margin-left: 3px
					margin-right: 1px
				+md
					margin-left: 0
					margin-right: -9px
			&.windcraft
				width: 71px
				margin-right: 12px
				top: -3px
				+laptop
					margin-right: 3px
				+md
					margin-right: 5px
				&.windcraft-2
					margin-right: 96px
					+laptop
						margin-right: 46px
					+md
						display: none

			&.turbine
				width: 85px
				margin-right: 67px
				margin-bottom: 15px
				+laptop
					margin-right: 10px
				+md
					margin-right: -27px
			&.sun
				top: -3px
				width: 66px
				margin-right: 10px
				+laptop
					margin-right: 3px
				+md
					margin-right: -12px
			&.pv
				width: 36px
				margin-right: 12px
				top: -3px
				+laptop
					margin-right: 0px
				+md
					margin-right: 17px
				&.pv-2
					margin-right: 137px
					+laptop
						margin-right: 48px
					+md
						display: none
			&.storage
				width: 75px
				top: -3px
				+sm
					top: -1px
	&__title
		margin-bottom: 35px
		+desktop-less-md
			margin-bottom: 34px
		+desktop-less-sm
			margin-bottom: 36px
		h3
			line-height: 1.04
			+desktop-less-lg
				line-height: 1.1
			+desktop-less-sm
				line-height: 1.05
			+tablet-less-lg
				font-size: 42px
			+mob-less-lg
				font-size: 30px
				line-height: 1.07
				margin-left: -2px


	&__list
		display: flex
		flex-wrap: wrap
		+desktop-less-md
				display: block
	&__item
		//width: 100/3+%
		width:  33.333333%
		margin-bottom: 30px
		+desktop-less-md
			width: 100%
			margin-bottom: -4px
		+tablet-less-lg
			margin-bottom: 4px
		+tablet-less-sm
			margin-bottom: -2px
		+mob-less-lg
			margin-bottom: -9px
		&--empty
			+desktop-less-md
				display: none
		&--double
			width: 66.66666%
			padding-right: 20px
			+desktop-less-md
				padding-right: 0px




.service
	+desktop-less-md
		display: flex
	&__icon
		width: 177px
		height: 177px
		position: relative
		left: -33px
		margin-bottom: 7px
		+desktop-less-lg
			margin-bottom: 9px
			width: 100%/12*2
		+tablet-less-sm
			width: 100%/14*3
		+mob-less-lg
			width: 100%/14*4
		img
			width: 100%
			display: block
			+desktop-less-lg
				min-width: 177px
	&__in
		+desktop-less-md
			width: 100%/12*9
			padding-top: 67px
		+tablet-less-lg
			width: 100%/12*10
		+tablet-less-sm
			width: 100%/14*11
		+mob-less-lg
			width: 100%/14*10
			padding-top: 47px
	&__title
		max-width: 85%
		margin-bottom: 14px
		+desktop-less-lg
			max-width: 85%
			margin-bottom: 25px
		+desktop-less-md
			margin-bottom: 21px
		+desktop-less-sm
			margin-bottom: 19px
		+tablet-less-lg
			margin-bottom: 22px
		+tablet-less-sm
			margin-bottom: 21px
		+mob-less-lg
			max-width: none
			margin-bottom: 18px
			min-height: 48px
			display: flex
			align-items: flex-end
		+mob-less-md
			margin-bottom: 17px
		h6
			line-height: 1.08
			+tablet-less-lg
				font-size: 22px
			+mob-less-lg
				font-size: 20px
				line-height: 1.2
	&__text
		max-width: 85%
		font-size: 18px
		line-height: 1.45
		letter-spacing: -0.16px
		+desktop-less-lg
			max-width: 90%
		+mob-less-lg
			font-size: 16px
			line-height: 1.5
		a:not(.button)
			color: inherit
			transition: color .25s ease-in-out
			cursor: pointer
			text-decoration-color: $orange
			+hm-sb
			&:hover
				color: $orange
			&:active
				color: $orange
		ul
			list-style-type: none
			//max-width: 85%
			// max-width: 90%
			//+desktop-less-lg
			//    max-width: 90%
		li
			//font-size: 18px
			//line-height: 1.45
			//letter-spacing: -0.16px
			padding-left: 15px
			position: relative
			margin-bottom: 5px
			//&:last-of-type
			//    margin-bottom:  0
			+desktop-less-lg
				padding-left: 12px
			+desktop-less-md
				padding-left: 18px
			+tablet-less-lg
				padding-left: 14px
			+mob-less-lg
				//font-size: 16px
				//line-height: 1.5
				padding-left: 12px
			&:before
				content: ""
				display: block
				width: 5px
				height: 5px
				border-radius: 50%
				background-color: #000
				position: absolute
				top: 10px
				left: 0
				+desktop-less-md
					left: 3px
				+mob-less-lg
					left: 1px
					top: 9px
					width: 4px
					height: 4px
		b
			+hm-sb
