@import helpers/all
+font('hindmadurailight', 'hindmadurai-light-webfont')
+font('hindmaduraisemibold', 'hindmadurai-semibold-webfont')

=h-l
    font-family: 'hindmadurailight', Arial, Helvetica, sans-serif
    font-weight: normal
=h-sb
    font-family: 'hindmaduraisemibold', Arial, Helvetica, sans-serif
    font-weight: normal
$mod: 1.3
// 571
body
    background: #fff
    color: #000
    +smooth-font
    +h-l
.out
    // width: 100%
    //width: 790px
    width: 1032px
    margin: 0 auto
    padding: 0 15px
    overflow: hidden
.p-header
    width: 100%

    padding-top: 32px
    padding-bottom: 24px
    &__text
        float: left
        width: 130px
        padding-top: 6px

        +h-sb
        color: #000
        font-size: 17px
        text-decoration: underline
        line-height: 1.1
    &__logo
        // width: 120px

        width: 160px
        //margin-left: -83px
        float: right
        img
            width: 100%
            display: block
.p-table
    width: 100%
    border-collapse: collapse
    //table-layout: fixed
    &__row
        width: 100%
        border: 1px solid #9a9999
        td, th
            text-align: center
            vertical-align: middle
            border-right: 1px solid #9a9999
            color: #000
            min-width: 70px
        th
            font-size: 9px
            //padding: 2px 9px 2px
            padding: 2px 9px 2px

        td
            padding: 11px 14px
            font-size: 10px
        td, th
            &:first-child

            &:last-child

        &--head, &--spec
            border: 1px solid  #33353a
            background: #e3e5e9
            th, td
                +h-sb
                border-color: #33353a

        &--head
            .p-table__cell--last, .p-table__cell--first
                padding-left: 14px



        &--spec
            td
                font-size: 14px

                padding: 19px 11px
                border-right-color: #e3e5e9
                //&:first-of-type, &:last-of-type
                //    text-align: left

    .p-table__cell--first
       text-align: left

    .p-table__cell--last
       border-right: none
       text-align: left

.p-case
    &__head
        position: relative
        width: 100%
        padding: 54px 8.5% 131px 17%
        +cover
        margin-bottom: 43px
    &__title
        width: 443px
        font-size: 42px
        line-height: 1.22
        +h-sb
        text-decoration: underline
    &__aside
        width: 23%
        padding-left: 17%
        float: left
        box-sizing: content-box
    &__content
        width: 49.5%
        padding-right: 8.5%
        float: right
        box-sizing: content-box
    &__list
        padding-right: 22px
        li
            font-size: 11px
            line-height: 1.25
            +h-l
            margin-bottom: 11px
        strong
            line-height: 1.75
            display: block
            +h-sb
        p
            margin-bottom: 3px
    &__subtitle
        font-size: 24px
        //line-height: 1.13
        line-height: 1.16
        +h-sb
        margin-bottom: 34px
    &__text
        margin-bottom: 17px

.p-text
    &__title
        font-size: 15px
        line-height: 1.18
        +h-sb
        margin-bottom: 10px
    &__list
        list-style-type: disc
        padding-left: 20px
        li
            +h-l
            font-size: 13px
            line-height: 1.3
            margin-bottom: 4px
.clearfix
    clear: both

.p-footer
    padding-top: 23px
    &__link
        width: 41%
        float: left
        box-sizing: content-box
        +h-sb
        font-size: 10px
        line-height: 1.25
        a
            color: #000
            text-decoration: none
    &__copy
        width: 33.5%
        float: right
        box-sizing: content-box
        text-align: right
        +h-l
        font-size: 10px
        line-height: 1.25

