@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.team
    //padding: 55px 0 90px
    padding: 55px 0 78px
    overflow: hidden
    background-color: $grey-green
    +desktop-less-lg
        //padding-bottom: 68px
        padding-bottom: 56px
    +desktop-less-md
        //padding-bottom: 112px
        padding-bottom: 100px
    &__in
        display: flex
        flex-wrap: wrap
        //+desktop-less-md
        //    flex-wrap: wrap
    &__item
        //width: 100/3 + %
        padding: 0 1px
        width:  33.333333%
        margin-bottom: 12px
        +desktop-less-md
            padding: 0
            width: 100%
        +tablet-less-md
            margin-bottom: 12px
    &__content
        h3
            line-height: 1.04
            margin-bottom: 35px
            +desktop-less-lg
                line-height: 1.1
            +desktop-less-md
                margin-bottom: 34px
            +desktop-less-sm
                line-height: 1.05
                margin-bottom: 36px
            +tablet-less-lg
                font-size: 42px
            +mob-less-lg
                font-size: 30px
                line-height: 1.07
                margin-left: -2px
        p
            letter-spacing: 0px
            font-size: 22px
            line-height: 1.45
            letter-spacing: -0.18px
            margin-bottom: 89px
            +desktop-less-lg
                margin-bottom: 87px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 16px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                margin-bottom: 10px

.team-box
    &__icon
        width: 100%
        position: relative
        left: 6px
        margin-bottom: 39px
        +desktop-less-lg
            // margin-bottom: 41px
        +desktop-less-md
            // margin-bottom: 38px
            margin-bottom: 40px
        +desktop-less-sm
            margin-bottom: 39px

        +mob-less-lg
            left: 0px
        &:before
            content: ""
            display: block
            width: 100%
            height: 4px
            background-color: #000
            border-radius: 2px
            position: absolute
            bottom: 0
            left: -6px
            +mob-less-lg
                left: 0
        img
            width: 322px
            height: 122px
            //fill: #000
            //color: $orange
            display: block
            //+mob-less-lg
            //    width: auto
            //    max-width: 100%
            //    height: auto
            //+tablet-less-sm
            //    width: 309px
        //.icon-locals
        //    position: relative
        //    top: 15px
        //    +desktop-less-md
        //        margin-top: -25px
        //    +mob-less-lg
        //        margin-top: -30px
        //.icon-wind-pv-small
        //    width: 312px
        //    +desktop-less-lg
        //        width: 305px
        //    +desktop-less-md
        //        margin-top: 25px
        //    +tablet-less-md
        //        margin-top: 18px
        //    +tablet-less-sm
        //        width: 309px
        //    +mob-less-lg
        //        margin-top: 35px
        //        width: 316px
    &__title
        font-size: 26px
        line-height: 1.08
        max-width: 221px
        margin-bottom: 26px
        +desktop-less-lg
            margin-bottom: 25px
            font-size: 24px
            line-height: 1.09
        +desktop-less-md
            max-width: none
            font-size: 22px
            line-height: 1.18
            margin-bottom: 12px
        +desktop-less-sm
            font-size: 24px
            line-height: 1.09
        +tablet-less-md
            font-size: 22px
            line-height: 1.18
        +mob-less-lg
            font-size: 20px
            line-height: 1.2
    &__text
        +hm-l
        font-size: 18px
        line-height: 1.45
        letter-spacing: -0.16px
        //max-width: 306px
        max-width: 85%
        +desktop-less-lg
            //max-width: 253px
            max-width: 90%
        +desktop-less-md
            max-width: none
        +mob-less-lg
            font-size: 16px
            line-height: 1.5

        a:not(.button)
            color: inherit
            transition: color .25s ease-in-out
            cursor: pointer
            text-decoration-color: $orange
            +hm-sb
            &:hover
                color: $orange
            &:active
                color: $orange
        ul
            list-style-type: none
            // max-width: 90%
            //+desktop-less-lg
            //    max-width: 90%
        li
            //font-size: 18px
            //line-height: 1.45
            //letter-spacing: -0.16px
            padding-left: 15px
            position: relative
            margin-bottom: 5px
            //&:last-of-type
            //    margin-bottom:  0
            +desktop-less-lg
                padding-left: 12px
            +desktop-less-md
                padding-left: 18px
            +tablet-less-lg
                padding-left: 14px
            +mob-less-lg
                //font-size: 16px
                //line-height: 1.5
                padding-left: 12px
            &:before
                content: ""
                display: block
                width: 5px
                height: 5px
                border-radius: 50%
                background-color: #000
                position: absolute
                top: 10px
                left: 0
                +desktop-less-md
                    left: 3px
                +mob-less-lg
                    left: 1px
                    top: 9px
                    width: 4px
                    height: 4px
        b
            +hm-sb
