@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

.text
    margin: 52px 0
    h1, h2, h3, h4, h5, h6
        margin-bottom: 12px
    strong, b
        display: block
        margin-bottom: 6px
    a
        // color: currentColor
        text-decoration: none
        white-space: nowrap
        color: #000
        // text-decoration: underline
        // text-decoration-color: $orange
        position: relative
        +hm-sb
        &:before
            content: ""
            position: absolute
            bottom: 3px
            left: 0
            width: 100%
            height: 1px
            background: $orange
    p
        +hm-l
        font-size: 18px
        line-height: 1.6
        margin-bottom: 8px
        +tablet-less-sm
            font-size: 16px
            line-height: 1.625
            margin-bottom: 6px
        strong, b
            display: inline
            margin-bottom: 0
    ul
        li
            position: relative
            padding-left: 22px
            +hm-l
            font-size: 18px
            line-height: 1.6
            margin-bottom: 8px
            +tablet-less-sm
                font-size: 16px
                line-height: 1.625
                margin-bottom: 6px
            &:before
                content: '•'
                position: absolute
                top: 0
                left: 0
