@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"

$easing: cubic-bezier(0.64, 0.04, 0.35, 1)

.timeline
    padding: 70px 0 46px
    background: $grey-green
    overflow: hidden
    +desktop-less-lg
        padding: 106px 0 120px
    +desktop-less-md
        padding: 113px 0 120px
    +desktop-less-sm
        padding: 86px 0 120px
    +tablet-less-lg
        padding: 75px 0 120px
    +tablet-less-sm
        padding: 72px 0 120px
    +mob-less-lg
        padding: 92px 0 120px
    &__content
        h3
            line-height: 1.04
            margin-bottom: 35px
            +desktop-less-lg
                line-height: 1.1
            +desktop-less-md
                margin-bottom: 34px
            +desktop-less-sm
                line-height: 1.05
                margin-bottom: 36px
            +tablet-less-lg
                font-size: 42px
            +mob-less-lg
                font-size: 30px
                line-height: 1.07
                margin-left: -2px
        p
            letter-spacing: 0px
            font-size: 22px
            line-height: 1.45
            letter-spacing: -0.18px
            margin-bottom: 89px
            +desktop-less-lg
                margin-bottom: 87px
            +hm-l
            +desktop-less-lg
                line-height: 1.48
                margin-bottom: 40px
            +tablet-less-sm
                font-size: 20px
                line-height: 1.5
            +mob-less-lg
                //margin-bottom: 10px
    &__item
        margin-bottom: 16px
        +desktop-less-lg
            margin-bottom: 28px
        +desktop-less-md
            margin-bottom: 32px
        +mob-less-lg
            margin-bottom: 30px
        &:not(.is-active)
            .state-icon
                path
                    &:nth-child(1), &:nth-child(2)
                        transform: scaleX(0)
                        opacity: 0
        &.is-active
            h2
                color: $orange
            .state-icon
                path
                    &:nth-child(4), &:nth-child(5)
                        transform: scaleX(0)
                        opacity: 0
            .timeline-box__in
                opacity: 1
                transform: translateY(0px)
                transition: opacity .2s .4s $easing, transform .8s $easing
    .state-icon
        position: absolute
        bottom: -15px
        left: -42px
        width: 22px
        height: 32px
        display: block
        +tablet-less-sm
            left: - 100%/14*1
        path
            transform-origin: 0 0
            transition: transform .8s $easing, opacity .6s $easing
        &_lg
            +mob-less-lg
                display: none
        &_md
            display: none
        &_sm
            display: none
            +mob-less-lg
                display: block
                margin-left: -5px

.timeline-box
    &__in
        opacity: 0
        transform: translateY(-40px)
        transition: opacity .4s $easing, transform .6s $easing
    &__title
        position: relative
        z-index: 2
        transform: translate3d(0,0,0)
        h2
            text-decoration: none
            transition: color .6s $easing
            position: relative
            display: inline-block
            cursor: pointer
            font-size: 78px
            line-height: 0.95
            +desktop-less-lg
                font-size: 60px
                font-size: 4.7vw
                line-height: 0.93
            +desktop-less-md
                font-size: 52px
                line-height: 0.92
            +desktop-less-sm
                font-size: 88px
                line-height: 0.86
            +tablet-less-lg
                font-size: 68px
                line-height: 0.94
                font-size: 9.5vw
            +tablet-less-sm
                font-size: 68px
            +mob-less-lg
                font-size: 48px
                font-size: 13vw
                line-height: 0.92
            &:before
                content: ""
                position: absolute
                bottom: -2px
                left: 0
                width: 100%
                height: 4px
                border-radius: 4px
                background: $orange
                z-index: 1
            &:hover
                color: $orange
    &__content
        position: relative
        background-color: $grey-bg
        height: 0
        visibility: hidden
        &-in
            padding: 40px 0 56px
            +desktop-less-lg
                padding: 41px 0 28px
            +mob-less-lg
                padding: 41px 0 24px
    &__text
        margin-bottom: 42px
        h6
            line-height: 1.084
            margin-bottom: 10px
            width: 100%/10*6
            +desktop-less-lg
                width: 100%/10*8
            +desktop-less-md
                width: 100%
                line-height: 1.18
                margin-bottom: 11px
            +desktop-less-sm
                font-size: 24px
                line-height: 1.08
                width: 100%/12*11
            +tablet-less-lg
                font-size: 22px
                line-height: 1.18
            +tablet-less-sm
                width: 100%/14*12
            +mob-less-lg
                width: 100%/14*13
                font-size: 20px
                line-height: 1.2
                margin-bottom: 9px
        p
            font-size: 16px
            line-height: 1.5
            letter-spacing: 0.01px
            +hm-l
            width: 100%/10*5
            +desktop-less-lg
                width: 100%/10*7
                max-width: 440px
            +desktop-less-md
                width: 100%/10*8
                letter-spacing: -0.01px
            +desktop-less-sm
                width: 100%/12*11
                max-width: none
                letter-spacing: 0.01px
            +tablet-less-lg
                max-width: 440px
            +tablet-less-sm
                width: 100%/14*12
            +mob-less-lg
                width: 100%/14*13
            br
                +mob-less-lg
                    display: none
    &__button
        padding-top: 8px
        padding-bottom: 28px
        +desktop-less-lg
            padding-top: 0
            padding-bottom: 41px
        +mob-less-lg
            padding-bottom: 47px
        .button
            padding-left: 26px
            padding-right: 26px



.timeline-quote
    display: flex
    //align-items: flex-end
    margin-bottom: 70px
    +desktop-less-md
        margin-bottom: 46px
    +desktop-less-sm
        margin-bottom: 113px
    +tablet-less-lg
        margin-bottom: 24px
    +tablet-less-sm
        display: block
    +tablet-less-sm
        margin-bottom: 50px
    &__pic
        width: 100%/10*3
        +desktop-less-sm
            width: 100%/12*3
        +tablet-less-sm
            width: 100%
            margin-bottom: 27px
        +mob-less-lg
            margin-bottom: 42px
        img
            width: 100%
            display: block
            margin-bottom: 10px
            +desktop-less-lg
                margin-bottom: 12px
        figcaption
            font-size: 12px
            line-height: 1.17
            +desktop-less-lg
                line-height: 1.33
    &__name
        display: block
        +hm-m
    &__desc
        +hm-l
    &__text
        width: 100%/10*5
        font-size: 26px
        line-height: 1.4
        padding-top: 25.5%
        +hm-l
        padding-left: 3px
        position: relative
        //top: 7px
        +desktop-less-xl
            padding-top: 24.5%
            //top: 8px

        +desktop-less-lg
            width: 100%/10*7
            max-width: 430px

            //top: 4px
        +r(1500)
            padding-top: 23.5%
        +desktop-less-md
            width: 100%/10*6
            font-size: 22px
            line-height: 1.46
            padding-top: 23%
            //top: 0
        +desktop-less-sm
            width: 100%/12*8
            font-size: 24px
            line-height: 1.42
            padding-top: 18%
            //top: 1px
        +tablet-less-lg
            padding-top: 17.3%
        +tablet-less-sm
            width: 100%/14*13
            max-width: none
            padding-left: 0
            padding-top: 0
            font-size: 22px
            line-height: 1.46
        +mob-less-lg
            // width: 100%
            font-size: 20px
            line-height: 1.5
    &__translation
        font-size: 20px
        margin-top: 30px
        +desktop-less-md
            font-size: 18px
        +tablet-less-sm
            font-size: 16px
