@import "helpers/mixins"
@import "helpers/helpers"
@import "helpers/fonts"
@import "helpers/variables"
@import "_typography"

.topbanner
    padding: 96px 0 172px
    overflow: hidden
    position: relative
    +desktop-less-xl
        padding: 92px 0 120px
    +desktop-less-lg
        padding-bottom: 30px
    +desktop-less-md
        padding-bottom: 54px
    +tablet-less-lg
        padding: 62px 0 64px
    +tablet-less-sm
        padding: 64px 0 64px
    +mob-less-lg
        padding: 48px 0 37px
    &__title
        position: relative
        z-index: 2
        margin-bottom: 106px
        min-height: 252px
        +desktop-less-xl
            min-height: 13.2vw
        +desktop-less-lg
            margin-bottom: 100px
            min-height: 13.2vw
        +desktop-less-md
            margin-bottom: 91px
            min-height: 14.1vw
        +desktop-less-sm
            min-height: 1px
        h2
            +h1-style


            +desktop-less-lg
                line-height: 0.95
            +desktop-less-md
                line-height: 0.94
            +tablet-less-lg
                font-size: 88px
                line-height: 0.97
            +tablet-less-sm
                //font-size: 58px
                font-size: 9.62vw
                line-height: 0.94
            +mob-less-lg
                font-size: 48px
                line-height: 0.92

    &__img
        min-width: 133%
        margin-left: -17%
        margin-top: -10%
        max-height: 540px
        +desktop-less-xl
            min-width: 136%
            margin-left: -17.8%
            margin-top: -12.6%
        +desktop-less-lg
            min-width: 136%
            margin-top: -16%
        +desktop-less-md
            min-width: 144%
            margin-left: -24%
            margin-top: -2.3%
        +desktop-less-sm
            min-width: 106%
            margin-left: -2%
            margin-top: -5.3%
        +tablet-less-lg
            min-width: 105%
            margin-left: -0.5%
            margin-top: -7.3%
        +tablet-less-sm
            min-width: 101%
            margin-left: 0
            margin-top: -10%
        +mob-less-lg
            min-width: 103%
            margin-top: -12%
            margin-left: 1%
        img
            width: 100%
            display: block
    &__sticky
        margin-left: 100%/7*1
        position: relative
        +desktop-less-lg
            margin-left: 0
        +desktop-less-sm
            display: none
    &__mob
        display: none
        +desktop-less-sm
            display: block
            margin-top: 10px
        +tablet-less-lg
        +tablet-less-sm
        +mob-less-lg
.sticky-nav
    line-height: 1
    &__title
        font-size: 12px
        line-height: 1.16
        color: $orange
        margin-bottom: 23px
        +tablet-less-sm
            margin-bottom: 18px
    &__list
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
    &__item
        font-size: 26px
        line-height: 1.38
        text-decoration: none
        white-space: nowrap
        color: #000
        position: relative
        transition: color 0.25s
        +hm-sb
        +tablet-less-sm
            font-size: 20px
            line-height: 1.4
        &:before
            content: ""
            position: absolute
            bottom: 3px
            left: 0
            width: 100%
            height: 1px
            background: $orange
        &.is-active
            color: $orange
            +desktop-less-sm
                color: #000
    &--pseudo
        position: absolute
        left: 0
        top: 0
        visibility: hidden
        &.is-hidden
            visibility: hidden
    &--real
        position: absolute
        left: 0
        top: 0
        &.is-visible
            visibility: visible
        &.is-disabled
            display: none
