---
title: Imprint
---
{% extends "layouts/_layout-text.html" %}

{% block content %}
    <!-- visual grid -->
    <div class="grid">
        <div class="wrapper">
            <div class="row">
                {% for i in range(0,16) %}
                <div class="col-dl-1"></div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% include "partials/_header.html" %}
    {% include "partials/_header-sticky.html" %}

    <main class="main">
        {% include "partials/_imprint.html" %}
    </main>

    {% include "partials/_footer.html" %}

{% endblock %}
