---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <!-- visual grid -->
    <div class="grid">
        <div class="wrapper">
            <div class="row">
                {% for i in range(0,16) %}
                <div class="col-dl-1"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="headers js-headers">
        {% include "partials/_header.html" %}
        {% include "partials/_header-sticky.html" %}
    </div>


    <main class="main js-main">
        {% include "partials/_gallery.html" %}
        {% include "partials/_form.html" %}
    </main>

    {% include "partials/_footer.html" %}

{% endblock %}
