---
title: Map
---
{% extends "layouts/_layout-map.html" %}

{% block content %}
    <!-- visual grid -->
    <div class="grid">
        <div class="wrapper">
            <div class="row">
                {% for i in range(0,16) %}
                <div class="col-dl-1"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="main js-main">
        {% include "partials/_map.html" %}
    </main>

{% endblock %}
