---
title: Modules
jobTeaserHref: "http://localhost:8080/modules.html#services"
projectsSimple: true
ProjectsId: 21
---
{% extends "layouts/_layout-sticky-simple-test.html" %}

{% block content %}
<!-- visual grid -->
<div class="grid">
    <div class="wrapper">
        <div class="row">
            {% for i in range(0,16) %}
            <div class="col-dl-1"></div>
            {% endfor %}
        </div>
    </div>
</div>




<div class="headers js-headers">
    {% include "partials/_header.html" %}
    {% include "partials/_header-sticky.html" %}
</div>

<main class="main js-main">
    {% include "partials/_projects.html" %}

    {% include "partials/_topbanner.html" %}
    {% include "partials/_intro-text.html" %}
    {% include "partials/_quote-slider.html" %}
    {% include "partials/_services.html" %}
    {% include "partials/_downloads.html" %}



    {% include "partials/_job.html" %}
    {% include "partials/_teaser.html" %}


</main>

{% include "partials/_footer.html" %}

{% endblock %}
