---
title: Typography
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <!-- visual grid -->
    <div class="grid">
        <div class="wrapper">
            <div class="row">
                {% for i in range(0,16) %}
                <div class="col-dl-1"></div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% include "partials/_header.html" %}
    {% include "partials/_header-sticky.html" %}

    <main class="main js-main">
        <div class="wrapper">
            <div class="row">
                <div class="col-dl-16">
                    <div class="typography-headlines">
                        <h1>h1 Quick fox jumped over the lazy dog</h1>
                        <h2>h2 Quick fox jumped over the lazy dog</h2>
                        <h3>h3 Quick fox jumped over the lazy dog</h3>
                        <h4>h4 Quick fox jumped over the lazy dog</h4>
                        <h5>h5 Quick fox jumped over the lazy dog</h5>
                        <h6>h6 Quick fox jumped over the lazy dog</h6>
                        <strong>h7 Quick fox jumped over the lazy dog</strong>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "partials/_footer.html" %}

{% endblock %}
