// +font('Hind Madurai Light', 'hindmadurai-light-webfont')
// +font('Hind Madurai Regular', 'hindmadurai-regular-webfont')
// +font('Hind Madurai Medium', 'hindmadurai-medium-webfont')
// +font('Hind Madurai Semibold', 'hindmadurai-semibold-webfont')
// +font('Hind Madurai Bold', 'hindmadurai-bold-webfont')

=hm-l
    // font-family: 'Hind Madurai Light', Arial, Helvetica, sans-serif
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif
    font-weight: 300
=hm-r
    // font-family: 'Hind Madurai Regular', Arial, Helvetica, sans-serif
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif
    font-weight: 400
=hm-m
    // font-family: 'Hind Madurai Medium', Arial, Helvetica, sans-serif
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif
    font-weight: 500
=hm-sb
    // font-family: 'Hind Madurai Semibold', Arial, Helvetica, sans-serif
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif
    font-weight: 600
=hm-b
    // font-family: 'Hind Madurai Bold', Arial, Helvetica, sans-serif
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif
    font-weight: 700
