<div class="p-header">
    <div class="p-header__logo">
        <img src="img/brand_evergy.svg" alt=""/>
    </div>
</div>

<div class="p-case">
    <div class="p-case__head" style="background-image: url(img/header.jpg);">
        <h1 class="p-case__title">PV Power Plant Gamma, Romania</h1>
    </div>
    <div class="p-case__in">
        <div class="p-case__aside">
            <ul class="p-case__list">
                <li>
                    <strong>Country</strong>
                    <p>2010</p>
                </li>
                <li>
                    <strong>Client</strong>
                    <p>Allianz Capital Partners</p>
                </li>
                <li>
                    <strong>Year of Mandate </strong>
                    <p>2010</p>
                </li>
                <li>
                    <strong>Year of Commisioning </strong>
                    <p>2019</p>
                </li>
                <li>
                    <strong>Scope of Work </strong>
                    <p>Technical Due Diligence; Operation Survey</p>
                </li>
                <li>
                    <strong>Installed Capacity </strong>
                    <p>2,26</p>
                </li>
                <li>
                    <strong>Key Technical Data</strong>
                    <p>Total Capacity 50 MWp</p>
                    <p>PV Technology Poly Crystalline</p>
                    <p>Inverter Manufacturer SMA Solar Technology</p>
                    <p>Grid Connection on 110 kV HV public grid</p>
                    <p>8 MVA Reactive Power Compensation</p>
                </li>
            </ul>
        </div>
        <div class="p-case__content">
            <h2 class="p-case__subtitle">Technical Due Diligence and Technical Controlling of a 50 MWp PV Power Plant in Romania</h2>
            <div class="p-case__text p-text">
                <h3 class="p-text__title">The objectives of the assignment were:</h3>
                <ul class="p-text__list">
                    <li>Identification of technical risks and development of measures for limitation and mitigation</li>
                    <li>Management of Technical Acceptance including Acceptance Testing</li>
                    <li>Technical Controlling</li>
                </ul>
            </div>
            <div class="p-case__text p-text">
                <h3 class="p-text__title">The scope of work covered the following aspects:</h3>
                <ul class="p-text__list">
                    <li>Determination of Expected Annual Energy Yield</li>
                    <li>Licenses and Permits</li>
                    <li>Technical Design Review</li>
                    <li>Grid Connection</li>
                    <li>Support in Negotiation of Project Contracts</li>
                    <li>Construction Monitoring</li>
                    <li>Verification of production numbers</li>
                    <li>Regular plant inspections (yearly)</li>
                    <li>Consultancy in repair and budget questions</li>
                    <li>Assistance in warranty and insurance claims</li>
                    <li>Support in operational and economical improvements</li>
                    <li>Regular reporting to Owners / Banks</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<footer class="p-footer">
    <div class="p-footer__link">more cases @ <a href="">www.evergy.de/cases</a></div>
    <div class="p-footer__copy">Evergy Engineering GmbH ©2019</div>
    <div class="clearfix"></div>
</footer>
