{% set casePdf = [
{
title: 'Date of Mandate',
text: 'March 2016 ',
mod: ''
},
{
title: 'Client ',
text: 'Chorus Clean Energy AG ',
mod: ''
},
{
title: 'Key Technical Data',
text: '<ul><li>FTotal Capacity 10 MW in the port of </li><li>Liverpool 4 x 2.5 MW Nordex N-90 turbines</li></ul>',
mod: ''
},
{
title: 'Technical Invest',
text: 'EPC contract, in total approx. BPD 14,000,000  '
},
{
title: 'Time Schedule',
text: 'Feb.  2009, Commissioning '
},
{
title: 'Acceptance:',
text: 'End of 2009 '
}
] %}
{% set caseServices = [
    {
    icon: 'icon-technical-review.svg',
    title: 'Technical Due Diligence  (TDD)'
    },
    {
    icon: 'icon-planning.svg',
    title: 'Project Planning'
    },
    {
    icon: 'icon-inspection.svg',
    title: 'Technische Inspektion'
    },
    {
    icon: 'icon-technical-studies.svg',
    title: 'Technische Studien'
    },
    {
    icon: 'icon-prognoses.svg',
    title: 'Energie Prognosen'
    },
    {
    icon: 'icon-optimization.svg',
    title: 'Optimierung bestehender Projekte'
    }
    ] %}
<div class="case">
    <div class="case__wrapper ">
        <!-- begin case__hero -->
        <div class="case__btns-wrapper">
            <div class="wrapper">
                <div class="row">
                    <div class="col-dl-4 col-dl-push-1 col-ml-16 col-ml-push-0">
                        <div class="case__btns-inner ">
                            <button  class="case__back " onclick="history.back(-1)" >
                                <span>go back</span>
                                <i>{{mixins.icon('arr-left-long')}}</i>
                            </button>
                            <!-- <a href="#" class="case__download" download>
                                <span>download<br/>case</span>
                                <i>{{mixins.icon('icon-download-general')}}</i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="case__hero" >
            <!-- <div class="case__hero-bg case__hero-bg--landscape" style="background-image: url('img/case/case-header-landscape.png');"></div>
            <div class="case__hero-bg case__hero-bg--portrait" style="background-image: url('img/case/case-header-portrait.png');"></div> -->
            <div class="wrapper">
                <div class="row">

                    <div class="col-dl-17 col-dl-push-1 col-tl-push-1 col-tl-15">
                        <h1>Wind Farm Nate,<br/>UK</h1>
                    </div>
                </div >
            </div>

        </div>
        <!-- end case__hero -->
        <!-- begin case__content -->
        <div class="case__content">
            <div class="wrapper">
                <div class="row">

                    <div class="case__content-wrapper col-dl-10 col-dl-push-4 col-dm-11 col-tl-15  col-ts-push-4 col-ts-15 col-ml-push-1 col-ml-15">
                        <!-- begin case__inner -->
                        <div class="case__inner">
                            <h2 class="case__title">
                                Technical Consultancy for a 10 MW Wind Farm in the Port fo Liverpool, UK
                            </h2>
                            <div class="text">
                                <p class="text-l">
                                    Copytext-L | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.                                        </p>

                                <p>Copytext-S | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

                                                                            <p class="bullet-1-title">
                                        <strong>Headlie Bullets 1</strong>
                                    </p>

                                                                            <ul>
                                        <li>Bullet 7</li><li>Bullet 8</li><li>Bullet 9</li>                                            </ul>


                                    <p class="bullet-2-title">
                                        <strong>Headlie Bullets 2</strong>
                                    </p>


                                                                            <ul>
                                        <li>Bullet 10</li><li>Bullet 11</li><li>Bullet 12</li>                                            </ul>


                            </div>
                            <!-- <div class="text">
                                <p class="text-l">Introducing copy L Area the assignment of Chorus Clean Energy AG includes the following scope: </p>
                                <ul>
                                    <li>Determination of Expected Annual Energy Yield based on Production Data and Wind Measurements</li>
                                    <li>Review the status of all authorisa-tions, licences and permits required for the construction and operation of the project including any environ-mental statement</li>
                                    <li>Technical Design Review</li>
                                    <li>Grid Connection</li>
                                    <li>Support in Negotiation of SPA</li>
                                    <li>Site Visit and Wind Farm Inspection</li>
                                </ul>
                            </div> -->
                        </div>
                        <!-- end case__inner -->
                    </div>
                    <div class="case__sidebar-wrapper col-dl-5 col-dl-push-2 col-dm-push-1 col-dm-5 col-tl-push-4 col-tl-15 col-ts-push-4 col-ts-15 col-ml-push-1 col-ml-15">
                        <div class="case__sidebar">
                            <h2 class="case__title case__title_mob">
                                Technical Consultancy for a 10 MW Wind Farm in the Port fo Liverpool, UK
                            </h2>
                            {% for item in casePdf %}
                            <div class="case__block ">
                                <p class="case__block-title">
                                    <strong>
                                        {{ item.title }}
                                    </strong>
                                </p>
                                <div class="case__block-text">
                                    {{ item.text | safe }}
                                </div>
                            </div>
                            {% endfor %}
                             <div class="case__services">
                                <h4><strong>Services</strong></h4>
                                {% for item in caseServices %}
                                <div class="case__service-block">
                                    <div class="case__service-block-img">
                                        <img src="img/case/{{ item.icon}}" alt=""/>
                                    </div>
                                    <p class="case__service-block-text">
                                        {{ item.title | safe }}
                                    </p>
                                </div>
                                {% endfor %}
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end case__content -->
    </div>

</div>
