{% set contactsRows = [
    {
        items:[
        {
            img: 'DE',
            big: true,
            title: 'Headquarter <br> Evergy Engineering GmbH',
            text1: 'Malsenstr. 84',
            text2: '80638 München',
            tell1: '<a href="tell:+498918928936">+49 89 189 289 - 36</a>',
            tell2: '<a href="tell:+498918928989">+49 89 189 289 - 89</a>'
        }
        ]
    },
    {
        items:[
        {
            img: 'ES',
            title: 'Evergy Engineering GmbH',
            text1: 'xxxx',
            text2: '0000 Valencia',
            tell1: '<a href="+000000000000">+00 00 000 000 - 00</a>',
            tell2: '<a href="+000000000000">+00 00 000 000 - 00</a>'

        },
        {
            img: 'IT',
            title: 'Evergy Engineering GmbH',
            text1: 'xxxx',
            text2: '0000 Firenze',
            tell1: '<a href="+000000000000">+00 00 000 000 - 00</a>',
            tell2: '<a href="+000000000000">+00 00 000 000 - 00</a>'

        },
        {
            img: 'IN',
            title: 'Evergy Engineering GmbH',
            text1: 'xxxx',
            text2: '0000 Mumbai',
            tell1: '<a href="+000000000000">+00 00 000 000 - 00</a>',
            tell2: '<a href="+000000000000">+00 00 000 000 - 00</a>'
        },
        {
        img: 'IN',
        title: 'Evergy Engineering GmbH',
        text1: 'xxxx',
        text2: '0000 Mumbai',
        tell1: '<a href="+000000000000">+00 00 000 000 - 00</a>',
        tell2: '<a href="+000000000000">+00 00 000 000 - 00</a>'
        }
        ]
    }

    ] %}



    <div class="contacts">
        <div class="wrapper">
            <div class="row">
                <div class="col-dl-12 col-dl-push-4  col-tl-15 col-tl-push-4 col-ml-push-1">
                    <div class="contacts__content">
                        <h3>our international<br/>
                            team of experts<br/>
                            makes the power of<br/>
                            our performance</h3>
                        <p>Introducing Text 400 Characters. Hier transportieren wir die Arbeitsweise und vermitteln Verfügbarkeit und Wendigkeit. durch die flexible Team-Zusammenstellung. <strong>Wir sind Ihr Team.</strong></p>
                    </div>
                </div>
            </div>
            {% for globItem in contactsRows %}
            <div class="row">
                <div class="col-dl-16 col-dl-push-4 col-ds-16 col-ds-push-4 col-tl-push-4 col-tm-15 col-ml-push-1 ">
                    <div class="contacts__in">
                        {% for item in globItem.items %}
                        <div class="contacts__item {% if item.big %}contacts__item--big{% endif %}">
                            <div class="contact-box">
                                <div class="contact-box__img ">
                                    <img src="img/contacts/{{item.img}}.svg" alt="">
                                </div>
                                <h6 class="contact-box__title">{{ item.title | safe}}</h6>
                                <div class="contact-box__content">
                                    <p>{{ item.text1 | safe}}</p>
                                    <p>{{ item.text2 | safe}}</p>
                                    <div class="contact-box__links-wrap">
                                        T {{ item.tell1 | safe}}<br/>
                                        F {{ item.tell1 | safe}}<br/>
                                        <p>M <a href="mailto:info@evergy.de">evergy@evergy.de</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

