{% set downloadsRows = [
    {
        id: 'downloadRow1',
        items:[
        {
            icon: 'evergy-brochure',
            title: 'Company Brochure'
        },
        {
            icon: 'evergy-sample-list',
            title: 'Company Presentation'
        },
        {
            icon: 'evergy-self-image',
            title: 'Unser <br>Selbstverständnis'
        }
        ]
    },
    {
        id: 'downloadRow2',
        items:[
        {
            icon: 'evergy-portfolios',
            title: 'Trackrecord Wind Farms'
        },
        {
            icon: 'evergy-hybrids',
            title: 'Cases Wind Farms'
        },
        {
            icon: 'evergy-energy',
            title: 'Cases Photovoltaik'
        },
        {
            icon: 'evergy-hydro',
            title: 'Trackrecord Wind Farms'
        },
        {
            icon: 'evergy-wind',
            title: 'Cases Wind Farms'
        },
        {
            icon: 'evergy-photovoltaic',
            title: 'Cases Photovoltaik'
        }
        ]
    },
    {
        id: 'downloadRow3',
        items:[
        {
            icon: 'evergy-certificates',
            title: 'Certificates',
            year: '2018'
        }
        ]
    }

    ] %}

{% for globItem in downloadsRows %}

    <div class="downloads js-sticky-scroll-block" data-name="{{globItem.id}}" data-id="{{globItem.id}}">
        <div class="downloads__inner">
            <div class="wrapper">
                <div class="row">
                    <div class="col-dl-16 col-dl-push-4  col-ml-15 col-ml-push-1">
                        <div class="downloads__list">
                            {% for item in globItem.items %}
                            <div class="downloads__item">
                                <a href="#" class="download" download>
                                    <span class="download__in">
                                        <span class="download__get-icon">
                                            <i>{{mixins.icon('icon-download-general')}}</i>
                                        </span>
                                        {% if item.icon %}
                                        <span class="download__img">
                                            <img src="img/downloads/new/{{item.icon}}.svg" alt=""/>
                                        </span>
                                        {% endif %}
                                        <span class="download__text-wrap">
                                            <span class="download__title">{{ item.title | safe }}</span>
                                            {% if item.year %}
                                            <span class="download__year">{{ item.year | safe }}</span>
                                            {% endif %}
                                        </span>
                                    </span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
