<!-- begin expert-details -->
<div class="expert-details js-modal"  data-wp-request="false">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-16 ">
                <div class="expert-details__in">
                    <div class="expert-details__content js-ps-scroll">
                        <div class="expert js-modal-content-wrapper">

                        </div>
                        <button class="expert-details__close js-modal-close">
                            {{ mixins.icon('close-big') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end expert-details -->
