<!-- begin footer -->
<footer class="footer ">
    <!-- begin footer__logo -->
    <div class="footer__logo wrapper">
        <div class="row">
            <div class="col-dl-16 col-dl-push-4">
                <div class="logo logo_footer">
                    <a href="/" class="logo__in">
                        <img src="img/brand_evergy.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer__logo -->

    <!-- begin footer__contacts -->
    <div class="footer__contacts wrapper">
        <div class="row">
            <div class="footer__col col-dl-6 col-dl-push-4 col-dm-7 col-ds-8 col-tl-7 col-tm-9 col-ml-16">
                <div class="footer__text">
                    <p><strong>Evergy Engineering GmbH</strong></p>
                    <p>Malsenstr. 84</p>
                    <p>80638 München</p>
                    <br />
                    <p>T <a href="tel:+4989189289-36">+49 89 189 289 - 36</a></p>
                    <p>F <a href="tel:+4989189289-89">+49 89 189 289 - 89</a></p>
                    <p>M <a href="mailto:info@evergy.de" class="orange">info@evergy.de</a></p>
                </div>
            </div>

            <div class="footer__col col-dl-5 col-dl-push-1 col-ds-8 col-tl-9 col-tm-7 col-ml-16 col-ml-push-4">
                <div class="footer__text">
                    <p><strong>Managing Directors:</strong></p>
                    <p>Dipl.-Ing. Jens Langenbrinck</p>
                    <p>Dipl.-Ing. Thorsten Nogge</p>
                    <p>Dipl.-Ing. Dipl.-Wirtsch.-Ing. Marc Böhnke</p>
                    <br />
                    <p><strong>Register court Munich:</strong></p>
                    <p>HRB 151 104</p>
                </div>
            </div>

            <div class="footer__col footer__col_special col-dl-5 col-dl-push-1 col-dm-4 col-ds-16 col-ds-push-4">
                <div class="footer__text">
                    <p><strong>Certificates</strong></p>
                    <p>ISO 911</p>
                    <p>Lorem ipsum</p>
                    <p>Dolor est color</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer__contacts -->

    <!-- begin footer__copyright -->
    <div class="footer__copyright wrapper">
        <div class="row">
            <div class="col-dl-16 col-dl-push-4 col-ds-10 col-tm-16">
                <div class="footer__copy">
                    <p>© 2018 Evergy Engineering GmbH</p>
                </div>
                <ul class="footer__meta">
                    <li><a href="imprint.html">Imprint</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end footer__copyright -->
</footer>
<!-- end footer -->
