<!-- begin form -->
<div class="form">
    <div class="form__container js-hello-form" id="hello">
        <div class="form__wrapper wrapper">
            <div class="row">
                <div class="form__top col-dl-16 col-dl-push-4 col-ml-push-1">
                    <h2 class="form__title">
                        hello <br />
                        interested <br />
                        person
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="form__left col-dl-7 col-dl-push-4 col-dm-8 col-tl-16 col-tl-push-4 col-ml-push-1">
                    <h3 class="form__subtitle">
                        what are you<br />
                        interested in?
                    </h3>

                    <div class="form__checkboxes">
                        <div class="form__checkbox">
                            <div class="checkbox">
                                <input type="radio" name="radio_1" />
                                <label for="">working @ evergy</label>
                            </div>
                        </div>
                        <div class="form__checkbox">
                            <div class="checkbox">
                                <input type="radio" name="radio_1" />
                                <label for="">new business</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form__right col-dl-6 col-dm-8 col-ds-push-1 col-tl-15 col-tl-push-4 col-ml-push-1">
                    <h3 class="form__subtitle">
                        please fill in<br />
                        your data:
                    </h3>
                    <div class="form__in">
                        <div class="form__row">
                            <div class="form__col">
                                <div class="input">
                                    <input type="text" />
                                    <label for="">first name</label>
                                </div>
                            </div>
                            <div class="form__col">
                                <div class="input">
                                    <input type="text" />
                                    <label for="">last name</label>
                                </div>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__col">
                                <div class="input">
                                    <input type="text" />
                                    <label for="">company</label>
                                </div>
                            </div>
                            <div class="form__col">
                                <div class="input">
                                    <input type="text" />
                                    <label for="">phone number</label>
                                </div>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="input">
                                <input type="text" />
                                <label for="">e-mail</label>
                            </div>
                        </div>
                        <div class="form__row form__row_special">
                            <div class="input">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                                <label for="">your message</label>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="checkbox">
                                <input type="checkbox" />
                                <label for=""></label>
                                <p>Ich stimme zu, dass die Evergy Engineering GmbH meine oben eingegebenen, personenbezogenen Daten zur Bearbeitung und Beantwortung meiner Anfrage speichert und verarbeitet. Ich wurde darauf hingewiesen, dass ich ein Auskunftsrecht bezüglich meiner gespeicherten und verarbeiteten Daten habe und dass ich mich diesbezüglich kostenlos an datenschutz@evergy.de wenden kann. Außerdem wurde ich auf mein Recht auf Löschung der gespeicherten Daten hingewiesen. (<a href="">Datenschutzbestimmungen</a>)</p>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="g-recaptcha" data-sitekey="6LfLU3IUAAAAAB_AglBFfWhBZf3xCEfYdNM0OENO"></div>
                        </div>
                        <div class="form__row">
                            <button class="button js-form-submit"><span>send</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpcf7-response-output"></div>
</div>
<!-- end form -->
