<div class="gallery">
    <div class="top-badge js-top-badge">
        <div class="wrapper">
            <div class="row">
                <div class="col-dl-16 col-dl-push-4 col-ds-push-0 col-tm-push-1 col-ml-11 col-mm-15">
                    <div class="top-badge__in">
                        <p>
                            <strong>We’ll be  back online in early 2019.</strong>
                            If you have any issues or any kinds of question, please feel free to <a href="#hello">contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery__in js-gallery is-loading">
        <div class="gallery__navigation">
            <div class="gallery__navigation-in">
                <button class="gallery__prev js-gallery-prev is-hidden">{{ mixins.icon('arrow-left') }}</button>
                <button class="gallery__next js-gallery-next">{{ mixins.icon('arrow-right') }}</button>
            </div>
        </div>
        <div class="gallery__preloader">
            <div class="preloader">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="slideshow">
            <div class="slide slide_main">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/01-ballet-in-the-air.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-12 col-tl-push-1">
                                    <h1>
                                        we’ll be<br />
                                        back online<br />
                                        in early<br />2019.
                                    </h1>
                                </div>
                                <div class="col-dl-4 col-dl-push-2 col-dm-push-0">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            ballet<br />
                                            in the<br />
                                            air
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-4 col-ds-push-0 col-tl-push-1">
                                    <div class="slide__bottom">
                                        <div class="slide__text">
                                            <p>if you have any issues or any kinds of question, <br /> please feel free to contact us.</p>
                                        </div>
                                        <a href="#hello" class="button"><span>contact</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/02-the-beauty-of-the-rotor-blades-part-1.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            the beauty<br />
                                            of the rotor<br />
                                            blades<br />
                                            part 1
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/03-the-beauty-of-the-rotor-blades-part-2.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            the beauty<br />
                                            of the rotor<br />
                                            blades<br />
                                            part 2
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/04-the-beauty-of-the-rotor-blades-part-3.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            the beauty<br />
                                            of the rotor<br />
                                            blades<br />
                                            part 3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/05-wind-makes-us-fly.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            wind<br />
                                            makes<br />
                                            us<br />
                                            fly
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/06-seamless-panels.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            seamless <br />
                                            panels
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/07-roxanne-you-can-turn-on-the-red-light.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            roxanne!<br />
                                            you can<br />
                                            turn on the<br />
                                            red light!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/08-energy-moves-us.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            trace<br />
                                            of<br />
                                            energy
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" style="background-image: url('img/gallery/09-big-city-lights.jpg')"></div>
                    <div class="slide__in">
                        <div class="slide__wrapper wrapper">
                            <div class="row">
                                <div class="col-dl-16 col-dl-push-14 col-dm-push-12 col-tl-push-4">
                                    <div class="slide__subtitle">
                                        <p class="slide__message">motifs from our latest<br />
                                        photo project</p>
                                        <p class="slide__headline">
                                            big<br />
                                            city<br />
                                            lights
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
