{% set navigation = [
    {
        url: '#',
        text: 'What we do',
        active: true
    },
    {
        url: 'modules.html',
        text: 'Who we are'
    },
    {
        url: 'sticky-simple.html',
        text: 'Downloads'
    },
    {
        url: '#',
        text: 'Working @'
    },
    {
        url: '#',
        text: 'Contact'
    }
] %}

<!-- begin header -->
<header class="header">
    <div class="wrapper">
        <div class="row">
            <!-- begin header__logo -->
            <div class="header__logo col-dl-6 col-dl-push-4 col-tm-13">
                <div class="header__logo-in">
                    <div class="logo logo_header">
                        <a href="/" class="logo__in">
                            <img src="img/brand_evergy.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- end header__logo -->

            <!-- begin header__nav -->
            <div class="header__nav col-dl-10 col-dl-push-1">
                <nav class="nav">
                    {% for i in navigation %}
                    <a href="{{i.url}}" class="nav__link{%if i.active%} is-active{%endif%} js-clear-storage">{{i.text}}</a>
                    {% endfor %}
                </nav>
            </div>
            <!-- end header__nav -->

            <!-- begin header__burger -->
            <div class="header__burger col-dl-10 col-dl-push-8 col-tm-3 col-tm-push-1">
                <button class="burger js-burger">
                    <span class="burger__in">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </div>
            <!-- end header__burger -->
        </div>
    </div>
</header>
<!-- end header -->
