{% set navigation = [
    {
        url: '#',
        text: 'What we do',
        active: true
    },
    {
        url: '#',
        text: 'Who we are'
    },
    {
        url: '#',
        text: 'Downloads'
    },
    {
        url: '#',
        text: 'Working @'
    },
    {
        url: '#',
        text: 'Contact'
    }
] %}

<!-- begin header -->
<header class="header-sticky">
    <div class="wrapper">
        <div class="row">
            <!-- begin header-sticky__text -->
            <div class="header-sticky__text col-dl-6 col-dl-push-1 col-tm-13">
                <div class="header-sticky__text-in">
                    <h1>Evergy Engineering GmbH</h1>
                    <!--<p>Evergy Engineering GmbH</p>-->
                </div>
            </div>
            <!-- end header-sticky__text -->

            <!-- begin header__nav -->
            <div class="header-sticky__nav col-dl-10 col-dl-push-1">
                <nav class="nav">
                    {% for i in navigation %}
                    <a href="{{i.url}}" class="nav__link{%if i.active%} is-active{%endif%} js-clear-storage">{{i.text}}</a>
                    {% endfor %}
                </nav>
            </div>
            <!-- end header__nav -->

            <!-- begin header__burger -->
            <div class="header-sticky__burger col-dl-10 col-dl-push-8 col-tm-3 col-tm-push-1">
                <button class="burger burger_sticky js-burger">
                    <span class="burger__in">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </div>
            <!-- end header__burger -->
        </div>
    </div>
</header>
<!-- end header -->
