<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <h2>imprint h2</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <strong>Evergy Engineering GmbH</strong>
                    <p>Malsenstr. 84<br />80638 München</p>
                    <p>
                        T <a href="tel:+4989189289-36">+49 89 189 289 - 36</a><br/>
                        F <a href="tel:+4989189289-89">+49 89 189 289 - 89</a><br/>
                        M <a href="mailto:info@evergy.de">info@evergy.de</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <strong>Managing Directors:</strong>
                    <p>Dipl.-Ing. Jens Langenbrinck<br />
                        Dipl.-Ing. Thorsten Nogge<br />
                        Dipl.-Ing. Dipl.-Wirtsch.-Ing. Marc Böhnke
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <strong>Register court Munich:</strong>
                    <p>HRB 151 104</p>
                </div>
            </div>
        </div>
    </div>
</div>
