<!-- begin interactive-header -->
<div class="interactive-header js-interactive-header" data-start-delay="1000" data-duration="2000">

    <div class="accordion-images">
        <div class="wrapper">
            <div class="row">
                <div class="col-dl-16 col-dl-push-7 col-dm-push-8 col-ds-push-7">
                    <div class="accordion-images__in js-parallax">
                        <div class="accordion-images__img js-accordion-img">
                            <img src="img/interactive-header/1.png" alt=""/>
                        </div>
                        <div class="accordion-images__img js-accordion-img">
                            <img src="img/interactive-header/2.png" alt=""/>
                        </div>
                        <div class="accordion-images__img js-accordion-img">
                            <img src="img/interactive-header/3.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion js-accordion">
        <div class="wrapper">
            <div class="row">
                <div class="accordion__stateicon col-tl-1">
                    {{ mixins.stateicon() }}
                </div>
                <div class="col-dl-7 col-ds-8 col-tl-15">
                    <div class="accordion__title js-accordion-title">
                        <h2><span>independent</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__in wrapper">
            <div class="accordion__content js-accordion-content row">
                <div class="accordion__content-in col-dl-6 col-dxl-8 col-dl-push-1 col-dm-7 col-tl-11 col-tl-push-2 col-ts-14 col-ml-13 col-ml-push-1 col-mm-15">
                    <p>Wir sind frei. Frei im Denken, frei im Handeln, frei bei unseren Entscheidungen. Als eigentümergeführtes Unternehmen beraten wir kreativ und unabhängig und handeln immer im Interesse unserer Kunden. Unsere Konzepte sind individuell und haben stets im Fokus, was wirklich zählt: Ihr Erfolg.</p>
                    <img src="img/interactive-header/1.png" alt=""/>
                    <a href="" class="button button_primary"><span>Wie Erfolg beginnt</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion js-accordion">
        <div class="wrapper">
            <div class="row">
                <div class="accordion__stateicon col-tl-1">
                    {{ mixins.stateicon() }}
                </div>
                <div class="col-dl-7 col-ds-8 col-tl-15">
                    <div class="accordion__title js-accordion-title">
                        <h2><span>technical experts</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__in wrapper">
            <div class="accordion__content js-accordion-content row">
                <div class="accordion__content-in col-dl-6 col-dxl-7 col-dl-push-1 col-tl-11 col-tl-push-2 col-ts-14 col-ml-13 col-ml-push-1 col-mm-15">
                    <p>Wir übernehmen Verantwortung für Ihr Projekt und sind als kompetenter, technischer Berater immer an Ihrer Seite. Ob Entwicklung, Implementierung oder Betrieb: Unser international aufgestelltes Ingenieur-Team findet für jedes Problem eine Lösung und bringt Sie so den entscheidenden Schritt weiter.</p>
                    <img src="img/interactive-header/2.png" alt=""/>
                    <a href="" class="button button_primary"><span>Wir stellen uns vor</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion js-accordion">
        <div class="wrapper">
            <div class="row">
                <div class="accordion__stateicon col-tl-1">
                    {{ mixins.stateicon() }}
                </div>
                <div class="col-dl-7 col-ds-8 col-tl-15">
                    <div class="accordion__title js-accordion-title">
                        <h2><span>for renewable</span><br/><span>energy</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__in wrapper">
            <div class="accordion__content js-accordion-content row">
                <div class="accordion__content-in col-dl-6 col-dxl-7 col-dl-push-1 col-tl-11 col-tl-push-2 col-ts-14 col-ml-13 col-ml-push-1 col-mm-15">
                    <p>Wir leben für erneuerbare Energien. Die weltweite Energiewirtschaft konzentriert sich derzeit auf die günstigsten Technologien zur Stromerzeugung: Photovoltaik und Windenergie. Und genau darauf sind wir spezialisiert. Puerto Rico, Windhoek, Osaka oder Haimhausen: Von uns erfahren Sie, ob Ihre Investition sicher ist.</p>
                    <img src="img/interactive-header/3.png" alt=""/>
                    <a href="" class="button button_primary"><span>Das leisten wir</span></a>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- end interactive-header -->
