<!-- begin intro-text -->
<div class="intro-text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tl-15 col-tl-push-4 col-ml-push-1">
                <div class="intro-text__in">
                    <p>Egal wo Ihr Projekt geplant ist und in welcher Phase es sich befindet: Unsere technischen Experten prüfen jedes Detail und bewerten alle Risiken.</p>
                    <p>So können Sie sich sicher sein: Ihr Projekt steht auf einem solidem Fundament.</p>
                </div>
                <div class="intro-text__in">
                    <p>Sie haben Fragen, Sie brauchen Unterstützung&nbsp;… <br/> zögern Sie nicht, uns zu kontaktieren.</p>
                    <a href="#" class="button button_primary"><span>Toto, I've got a feeling we're not in Kansas anymore.</span></a>
                    <a href="#" class="button button_primary"><span>Well, nobody's perfect.</span></a>
                </div>
                <div class="intro-text__in intro-text__in_sm">
                    <h6>Speculative application </h6>
                    <p>400 Characters. From experience I can tell you there’s nothing like walking into a room and seeing nine people on the other side of the table. Second, what will you be asked? Send your application to <a href="mailto:name@evergy.de">name@evergy.de</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end intro-text -->
