<!-- begin job -->
<div class="jobs" data-other-page-scroll-id="jobs">
    <div class="wrapper" >
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-ds-16 col-ml-15 col-ml-push-1">
                <div class="job js-job is-active">
                    <div class="job__title">
                        {{ mixins.stateicon() }}
                        <h2 class="js-job-title">Engineering Master</h2>
                    </div>
                    <div class="job__in">
                        <div class="job__content js-job-content">
                            <div class="job__content-in">
                                <div class="job__date">
                                    <p>Starting: July 2018</p>
                                </div>
                                <div class="job__inner">
                                    <div class="job__texts">
                                        <div class="job__text">
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
                                        </div>
                                        <div class="job__text">
                                            <h6>Small Towns and Big States</h6>
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often.</p>
                                        </div>
                                        <div class="job__text">
                                            <h6>Headline</h6>
                                            <ul>
                                                <li>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when</li>
                                                <li>It comes to their behavior. While men’s borderline-inappropriate behavior is often</li>
                                                <li>Laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</li>
                                            </ul>
                                        </div>
                                        <div class="job__text">
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
                                        </div>
                                        <div class="job__button">
                                            <a href="#" class="button button_primary"><span>send your application</span></a>
                                        </div>
                                    </div>
                                    <div class="job__socials">
                                        {% include "components/_socials.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job js-job">
                    <div class="job__title">
                        {{ mixins.stateicon() }}
                        <h2 class="js-job-title">Office Management in Spain / Valencia</h2>
                    </div>
                    <div class="job__in">
                        <div class="job__content js-job-content">
                            <div class="job__content-in">
                                <div class="job__date">
                                    <p>Starting: July 2018</p>
                                </div>
                                <div class="job__inner">
                                    <div class="job__texts">
                                        <div class="job__text">
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
                                        </div>
                                        <div class="job__text">
                                            <h6>Small Towns and Big States</h6>
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often.</p>
                                        </div>
                                        <div class="job__text">
                                            <h6>Headline</h6>
                                            <ul>
                                                <li>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when</li>
                                                <li>It comes to their behavior. While men’s borderline-inappropriate behavior is often</li>
                                                <li>Laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</li>
                                            </ul>
                                        </div>
                                        <div class="job__text">
                                            <p>Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
                                        </div>

                                        <div class="job__button">
                                            <a href="mailto:name@email.com" class="button button_primary"><span>send your application</span></a>
                                        </div>
                                    </div>
                                    <div class="job__socials">
                                        {% include "components/_socials.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end job -->

