<!-- begin job-teaser -->
<!--http://view.riverco.de/pages/coderiver/evergy/sticky-simple.html#jobs-->
<a href="http://localhost:8080/sticky-simple.html#services" class="job-teaser js-scroll-other-page-link" >
    <span class="job-teaser__bg js-job-teaser-bg"></span>
    <span class="job-teaser__in">
        <span class="job-teaser__content">
            <span class="job-teaser__text">currently we're looking for an open minded</span>
            <h6 class="job-teaser__title">Engineering Master<br/>mda</h6>
        </span>
        <span class="job-teaser__img">
            <img src="img/job-teaser/1.png" alt=""/>
        </span>
    </span>
</a>
<!-- end button-teaser -->
