<div class="map js-map">
    <div id="map" class="map__in" data-json="csvjson-small.json"></div>
    <button class="map__close" onclick="history.back(-1)">{{ mixins.icon('close-big') }}</button>
</div>
