{% set nProjects = [
    {
        head: 'Portfolios',
        text: 'Evergy ist spezialisiert auf Portfolio-Deals. Wir haben die erforderlichen Ressourcen, um große Mengen an Projekt-Information in einem eng begrenzten Zeitraum strukturiert auszuwerten.',
        links: [
            {
                icon: 'img/n-projects/folder.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/folder.svg',
                name: 'Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung'
            },
            {
                icon: 'img/n-projects/folder.svg',
                name: 'Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung'
            }
        ]
    },
    {
        head: 'Hybrids',
        text: 'Eine Kombination aus Erzeugungs- und Speichertechnologien verstetigt die Stromproduktion. Hybrid-Kraftwerke sind ein wichtiger Baustein für den Übergang auf eine Energieversorgung aus 100% erneuerbaren Energien.',
        links: [
            {
                iconSpecial: true,
                icons: [
                    {icon: 'img/n-projects/mini-wind.svg'},
                    {icon: 'img/n-projects/mini-sun.svg'},
                    {icon: 'img/n-projects/mini-water.svg'}
                ],
                name: 'Name, Leistung'
            },
            {
                iconSpecial: true,
                icons: [
                    {icon: 'img/n-projects/mini-wind.svg'},
                    {icon: 'img/n-projects/mini-water.svg'}
                ],
                name: 'Name, Leistung'
            },
            {
                iconSpecial: true,
                icons: [
                    {icon: 'img/n-projects/mini-wind.svg'},
                    {icon: 'img/n-projects/mini-sun.svg'},
                    {icon: 'img/n-projects/mini-water.svg'},
                    {icon: 'img/n-projects/mini-battery.svg'}
                ],
                name: 'Name, Leistung'
            }
        ]
    },
    {
        head: 'Energy Storage',
        text: 'Der Umbau der Energiewirtschaft hin zu einer vollständig erneuerbaren Stromerzeugung ist ohne Energiespeicher nicht machbar. Die Technologie macht enorme Fortschritte. Wir sind immer auf dem neuesten Stand.',
        links: [
            {
                icon: 'img/n-projects/energy.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/energy.svg',
                name: 'Name, Leistung'
            }
        ]
    },
    {
        head: 'Hydro',
        text: 'Wasserkraftwerke tragen in vielen Ländern einen Großteil zur Stromerzeugung bei. Mit zunehmenden Bedarf an Regel- und Speicherkapazitäten gewinnen sie nochmals an Bedeutung. Wir helfen Ihnen sehr gerne bei Ihren Hydro-Projekten.',
        links: [
            {
                icon: 'img/n-projects/hidro.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/hidro.svg',
                name: 'Name, Leistung'
            }
        ]
    },
    {
        head: 'Wind',
        text: 'Einige unserer Mitarbeiter beschäftigen sich seit Anfang der 90er Jahre mit Windenergieanlagen. Die Evergy lebt diesen gigantischen Zukunftsmarkt und ist immer ganz vorn mit dabei.',
        links: [
            {
                icon: 'img/n-projects/wind.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/wind.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/wind.svg',
                name: 'Name, Leistung'
            }
        ]
    },
    {
        head: 'Photovoltaic',
        text: 'Evergy hat sich seit Beginn der kommerziellen Photovoltaik-Nutzung als Experte für diese Technologie etabliert. In den frühen 2000 Jahren kaum vorstellbar: Heute arbeiten wir an PV-Parks in Kraftwerksgröße.',
        links: [
            {
                icon: 'img/n-projects/panel.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/panel.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/panel.svg',
                name: 'Name, Leistung'
            }
        ]
    }
] %}

<!-- begin projects -->
<div class="projects-map is-white">
    <div class="n-projects">
        <div class="n-projects-pattern">
            <div class="wrapper">
                <div class="row n-projects__main">
                    <div class="col-dl-11  col-dxl-12  col-dl-push-4  col-tl-15  col-tl-push-4 col-ml-push-1">
                        <div class="n-projects-pattern__content">
                            <h3>Puerto Rico, Windhoek, Osaka oder Haimhausen: Die Projekte sind so unterschiedlich wie ihre Standorte.</h3>
                            <p>Die Weltkarte unserer Projekte zeigt, welche Herausforderungen unser internationales Experten-Team bisher gemeistert hat.</p>
                        </div>
                        <div class="n-projects-pattern__img-block">
                            <img src="img/n-projects/map.svg" alt=""/>
                            <a href="map.html" class="button button_primary"><span>Explore the world of our projects</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end projects -->


<!-- begin projects -->
<div class="projects-categories is-white">
    <div class="n-projects is-simple-view">
        <div class="n-projects-pattern is-simple-view">
            <div class="wrapper">
                <div class="n-projects-pattern__list">
                    <div class="row">
                        <div class="col-dl-12 col-dxl-16 col-ml-15 col-dl-push-4 col-ml-push-1">
                            <div class="project-items">
                                {% for project in nProjects %}
                                    <div class="project-item">
                                        <h5 class="project-item__head">
                                            {{project.head}}
                                        </h5>
                                        <div class="project-item__links project-item-links">
                                            {% for link in project.links %}
                                                <a class="project-item-link" href="#">
                                                <div class="project-item-link__icon">
                                                    {% if link.iconSpecial %}
                                                        <div class="project-item-link__icons-plate">
                                                            {% for icon in link.icons %}
                                                                <img src="{{icon.icon}}" alt=""/>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    <img src="{{link.icon}}" alt=""/>
                                                    {% endif %}
                                                    </div>
                                                    <div class="project-item-link__main">
                                                        <div class="project-item-link__name">{{link.name}}</div>
                                                        <div class="project-item-link__more">Read More</div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <a href="" class="button button_primary project-item__download-btn"><span>download full track record</span></a>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end projects -->



<!-- begin projects -->
<div class="n-projects">
    <div class="n-projects-pattern">
        <div class="wrapper">
            <div class="row n-projects__main">
                <div class="col-dl-11  col-dxl-12  col-dl-push-4  col-tl-15  col-tl-push-4 col-ml-push-1">
                    <div class="n-projects-pattern__content">
                        <h3>Puerto Rico, Windhoek, Osaka oder Haimhausen: Die Projekte sind so unterschiedlich wie ihre Standorte.</h3>
                        <p>Die Weltkarte unserer Projekte zeigt, welche Herausforderungen unser internationales Experten-Team bisher gemeistert hat.</p>
                    </div>
                    <div class="n-projects-pattern__img-block">
                        <img src="img/n-projects/map.svg" alt=""/>
                        <a href="map.html" class="button button_primary"><span>Explore the world of our projects</span></a>
                    </div>
                </div>
            </div>
            <div class=" n-projects-pattern__list">
                <div class="row">
                    <div class="col-dl-12 col-dxl-16 col-ml-15 col-dl-push-4 col-ml-push-1">
                        <div class="project-items">

                            {% for project in nProjects %}
                                <div class="project-item">
                                    <h5 class="project-item__head">
                                        {{project.head}}
                                    </h5>
                                    <p class="project-item__text text">
                                        {{project.text}}
                                    </p>
                                    <div class="project-item__links project-item-links">
                                        {% for link in project.links %}
                                            <a class="project-item-link" href="">
                                            <div class="project-item-link__icon">
                                                {% if link.iconSpecial %}
                                                    <div class="project-item-link__icons-plate">
                                                        {% for icon in link.icons %}
                                                            <img src="{{icon.icon}}" alt=""/>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                <img src="{{link.icon}}" alt=""/>
                                                {% endif %}
                                                </div>
                                                <div class="project-item-link__main">
                                                    <div class="project-item-link__name">{{link.name}}</div>
                                                    <div class="project-item-link__more">Read More</div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <a href="" class="button button_primary project-item__download-btn"><span>download full track record</span></a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end projects -->

{% set nProjects = [
    {
        head: 'explore more wind projects',
        links: [
            {
                icon: 'img/n-projects/folder.svg',
                name: 'Name, Leistung'
            },
            {
                icon: 'img/n-projects/folder.svg',
                name: 'Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung Name, Leistung'
            }
        ]
    }
] %}

<!-- begin projects -->
<div class="n-projects is-simple-view">
    <div class="n-projects-pattern is-simple-view">
        <div class="wrapper">
            <div class="n-projects-pattern__list">
                <div class="row">
                    <div class="col-dl-12 col-dxl-16 col-ml-15 col-dl-push-4 col-ml-push-1">
                        <div class="project-items">
                            {% for project in nProjects %}
                                <div class="project-item">
                                    <h5 class="project-item__head">
                                        {{project.head}}
                                    </h5>
                                    <div class="project-item__links project-item-links">
                                        {% for link in project.links %}
                                            <a class="project-item-link" href="#">
                                            <div class="project-item-link__icon">
                                                {% if link.iconSpecial %}
                                                    <div class="project-item-link__icons-plate">
                                                        {% for icon in link.icons %}
                                                            <img src="{{icon.icon}}" alt=""/>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                <img src="{{link.icon}}" alt=""/>
                                                {% endif %}
                                                </div>
                                                <div class="project-item-link__main">
                                                    <div class="project-item-link__name">{{link.name}}</div>
                                                    <div class="project-item-link__more">Read More</div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <a href="" class="button button_primary project-item__download-btn"><span>download full track record</span></a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end projects -->
