<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <h2>privacy h2</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <h4>headline h4</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <h5>headline h5</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <h6>headline h6</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
                        <li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</li>
                        <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</li>
                        <li>Accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-tm-15 col-ml-push-1">
                <div class="text__in">
                    <strong>headline h7</strong>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
