<!-- begin quote-slider -->
<div class="quote-slider">
    <div class="quote-slider__in swiper-container js-quote-slider" >
        <div class="swiper-wrapper">
            <div class="quote-slide swiper-slide">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-dl-16 col-tl-push-1 col-ml-15">
                            <div class="quote-slide__content">
                                <figure class="quote-slide__pic">
                                    <div class="quote-slide__img">
                                        <img src="img/quote-slider/1.jpg" alt=""/>
                                    </div>
                                    <figcaption>
                                        <span class="quote-slide__name">Alix Pelletier1</span>
                                        <span class="quote-slide__desc">optimistische Europäerin, seit 2012 im Team</span>
                                    </figcaption>
                                </figure>
                                <div class="quote-slide__in">
                                    <blockquote class="quote-slide__quote">Die Projekte sind super international mit immer wieder neuen Herausforderungen. Ich arbeite teilweise parallel an Projekten in Israel, in der Türkei und in Polen.</blockquote>
                                    <div class="quote-slide__msg">Übersetzung der "Feelgood-Manager" bei uns. Es ist schön zu sehen, wie sich das Team im Laufe der Jahre entwickelt, wie neue Mitarbeiter integriert werden, wie wir miteinander umgehen.</div>
                                    <a href="" class="button button_primary" data-modal-id="16264" ><span>meet Alix</span></a>
                                    <a href="" class="button button_primary" data-modal-id="16265" data-quote-id="22"><span>Explore Gamma</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote-slide swiper-slide">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-dl-16 col-tl-push-1 col-ml-15">
                            <div class="quote-slide__content">
                                <figure class="quote-slide__pic">
                                    <div class="quote-slide__img">
                                        <img src="img/quote-slider/1.jpg" alt=""/>
                                    </div>
                                    <figcaption>
                                        <span class="quote-slide__name">Alix Pelletier2</span>
                                        <span class="quote-slide__desc">optimistische Europäerin, seit 2012 im Team</span>
                                    </figcaption>
                                </figure>
                                <div class="quote-slide__in">
                                    <blockquote class="quote-slide__quote">Die Projekte sind super international mit immer wieder neuen Herausforderungen. Ich arbeite teilweise parallel an Projekten in Israel, in der Türkei und in Polen.</blockquote>
                                    <div class="quote-slide__msg">Übersetzung der "Feelgood-Manager" bei uns. Es ist schön zu sehen, wie sich das Team im Laufe der Jahre entwickelt, wie neue Mitarbeiter integriert werden, wie wir miteinander umgehen.</div>
                                    <a href="" class="button button_primary" data-modal-id="16264"><span>meet Alix</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote-slide swiper-slide">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-dl-16 col-tl-push-1 col-ml-15">
                            <div class="quote-slide__content">
                                <figure class="quote-slide__pic">
                                    <div class="quote-slide__img">
                                        <img src="img/quote-slider/1.jpg" alt=""/>
                                    </div>
                                    <figcaption>
                                        <span class="quote-slide__name">Alix Pelletier3</span>
                                        <span class="quote-slide__desc">optimistische Europäerin, seit 2012 im Team</span>
                                    </figcaption>
                                </figure>
                                <div class="quote-slide__in">
                                    <blockquote class="quote-slide__quote">Die Projekte sind super international mit immer wieder neuen Herausforderungen. Ich arbeite teilweise parallel an Projekten in Israel, in der Türkei und in Polen.</blockquote>
                                    <div class="quote-slide__msg">Übersetzung der "Feelgood-Manager" bei uns. Es ist schön zu sehen, wie sich das Team im Laufe der Jahre entwickelt, wie neue Mitarbeiter integriert werden, wie wir miteinander umgehen.</div>
                                    <a href="" class="button button_primary" data-modal-id="16264"><span>meet Alix</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote-slide swiper-slide">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-dl-16 col-tl-push-1 col-ml-15">
                            <div class="quote-slide__content">
                                <figure class="quote-slide__pic">
                                    <div class="quote-slide__img">
                                        <img src="img/quote-slider/1.jpg" alt=""/>
                                    </div>
                                    <figcaption>
                                        <span class="quote-slide__name">Alix Pelletier4</span>
                                        <span class="quote-slide__desc">optimistische Europäerin, seit 2012 im Team</span>
                                    </figcaption>
                                </figure>
                                <div class="quote-slide__in">
                                    <blockquote class="quote-slide__quote">Die Projekte sind super international mit immer wieder neuen Herausforderungen. Ich arbeite teilweise parallel an Projekten in Israel, in der Türkei und in Polen.</blockquote>
                                    <div class="quote-slide__msg">Übersetzung der "Feelgood-Manager" bei uns. Es ist schön zu sehen, wie sich das Team im Laufe der Jahre entwickelt, wie neue Mitarbeiter integriert werden, wie wir miteinander umgehen.</div>
                                    <a href="" class="button button_primary" data-modal-id="16264"><span>meet Alix</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="quote-slider__arrow quote-slider__arrow_prev js-quote-prev">{{ mixins.icon('prev') }}</button>
        <button class="quote-slider__arrow quote-slider__arrow_next js-quote-next">{{ mixins.icon('next') }}</button>
        <div class="swiper-pagination"></div>
    </div>


</div>
<!-- end quote-slider -->
