{%set services = [
    {
        icon: 'tdd',
        empty: true,
        class: 'services__item--empty',
        title: 'Technical Due Diligence (TDD)',
        list: ['Prüfen und Bewerten von Projektplanungen', 'Analyse von technischen Vertragsinhalten', 'Erkennen, Bewerten und Lösen von technischen Risiken und Problemen']
    },
    {
        icon: 'inspektion',
        title: 'Technische Inspektion',
        list: ['Qualitätssicherung in der <b>Bauphase</b>', 'Zustandsbewertung von Solar- und Windparks', 'Leistungsmessungen und Fehleranalysen']
    },
    {
        icon: 'prognosen',
        title: 'Energieprognosen',
        list: ['Windmessungen, Windgutachten und Energieprognosen für Windparks <a href="#">some link</a>', 'Einstrahlungsgutachten und Energieprognosen für Solarparks', 'Langfristprognosen auf Basis historischer Erzeugungsdaten']
    },
    {
    class: 'services__item--double',
    icon: 'inspektion',
    title: 'Technische Inspektion Technische Inspektion Technische Inspektion Technische Inspektion',
    list: ['Qualitätssicherung in der Bauphase', 'Zustandsbewertung von Solar- und Windparks', 'Leistungsmessungen und Fehleranalysen']
    },
    {
    icon: 'inspektion',
    title: 'Technische Inspektion',
    list: ['Qualitätssicherung in der Bauphase', 'Zustandsbewertung von Solar- und Windparks', 'Leistungsmessungen und Fehleranalysen']
    }
] %}

<!-- begin services -->
<div class="services js-sticky-scroll-block" id="services"   data-id="services" data-name="services" data-other-page-scroll-id="services">
    <div class="wrapper" >
        <div class="row">
            <div class="col-dl-16 col-dl-push-4 col-ml-15 col-ml-push-1">
                <div class="services__graphiс">
                    <svg class="wind" viewBox="0 0 67 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13 46.3137C13 47.4183 13.8954 48.3137 15 48.3137H51.5312C58.971 48.3137 65 42.2683 65 34.8137C65 27.3591 58.971 21.3137 51.5312 21.3137C44.0914 21.3137 38.0624 27.3591 38.0624 34.8137C38.0624 35.9183 38.9579 36.8137 40.0624 36.8137C41.167 36.8137 42.0624 35.9183 42.0624 34.8137C42.0624 29.5658 46.303 25.3137 51.5312 25.3137C56.7595 25.3137 61 29.5658 61 34.8137C61 40.0616 56.7595 44.3137 51.5312 44.3137H15C13.8954 44.3137 13 45.2092 13 46.3137ZM0 54.3137C0 55.4183 0.89543 56.3137 2 56.3137H37C38.1046 56.3137 39 55.4183 39 54.3137C39 53.2092 38.1046 52.3137 37 52.3137H2C0.89543 52.3137 0 53.2092 0 54.3137Z" fill="#EC6B06"/>
                    </svg>
                    <svg class="windcraft" viewBox="0 0 71 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5982 1.32177L33.5742 1.4959L31.7171 39.4824L0.686658 60.0139L0.545517 60.1269L0.525408 60.1462C-0.155945 60.8011 -0.177429 61.8843 0.477423 62.5656C0.925792 63.0321 1.59896 63.2058 2.21708 63.0145L2.38609 62.9447L35.454 45.5902L68.5219 62.9447L68.6909 63.0145C69.3091 63.2058 69.9822 63.0321 70.4306 62.5656C71.0854 61.8843 71.064 60.8011 70.3826 60.1462L70.3625 60.1269L70.2214 60.0139L38.7816 39.2115L36.9377 1.4959L36.9137 1.32177C36.7682 0.685529 36.2714 0.188705 35.6351 0.0431825C34.7196 -0.166224 33.8076 0.406221 33.5982 1.32177ZM35.3015 50.1879C33.9208 50.1879 32.8015 51.3072 32.8015 52.6879V132.213H37.8015V52.6879C37.8015 51.3072 36.6823 50.1879 35.3015 50.1879Z" fill="black"/>
                    </svg>
                    <svg class="windcraft windcraft-2" viewBox="0 0 71 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5982 1.32177L33.5742 1.4959L31.7171 39.4824L0.686658 60.0139L0.545517 60.1269L0.525408 60.1462C-0.155945 60.8011 -0.177429 61.8843 0.477423 62.5656C0.925792 63.0321 1.59896 63.2058 2.21708 63.0145L2.38609 62.9447L35.454 45.5902L68.5219 62.9447L68.6909 63.0145C69.3091 63.2058 69.9822 63.0321 70.4306 62.5656C71.0854 61.8843 71.064 60.8011 70.3826 60.1462L70.3625 60.1269L70.2214 60.0139L38.7816 39.2115L36.9377 1.4959L36.9137 1.32177C36.7682 0.685529 36.2714 0.188705 35.6351 0.0431825C34.7196 -0.166224 33.8076 0.406221 33.5982 1.32177ZM35.3015 50.1879C33.9208 50.1879 32.8015 51.3072 32.8015 52.6879V132.213H37.8015V52.6879C37.8015 51.3072 36.6823 50.1879 35.3015 50.1879Z" fill="black"/>
                    </svg>
                    <svg class="turbine" viewBox="0 0 86 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.123 68.2144C9.37314 69.0094 9.40543 70.2681 10.2531 70.9578C15.0682 74.8759 21.1048 77.0306 27.3528 77.0216C33.6007 77.0126 39.6311 74.8405 44.4349 70.9085C45.2805 70.2163 45.3092 68.9576 44.557 68.1647C43.8049 67.3719 42.5572 67.3466 41.7029 68.0281C37.64 71.2693 32.583 73.0566 27.3471 73.0641C22.1111 73.0717 17.049 71.299 12.9767 68.0696C12.1204 67.3905 10.8729 67.4195 10.123 68.2144Z" fill="#EC6B06"/>
                        <path d="M41.569 68.1759C40.8174 68.9691 40.8468 70.2279 41.6929 70.9195C46.4993 74.8484 52.531 77.0167 58.779 77.0216C65.0269 77.0266 71.0622 74.868 75.8748 70.9468C76.722 70.2565 76.7535 68.9978 76.0031 68.2034C75.2527 67.4089 74.0051 67.3807 73.1493 68.0603C69.0791 71.2924 64.0181 73.0683 58.7822 73.0642C53.5462 73.06 48.4881 71.276 44.423 68.0374C43.5683 67.3564 42.3207 67.3826 41.569 68.1759Z" fill="#EC6B06"/>
                        <path d="M9.02678 32.8652C8.2291 32.1182 6.97051 32.1551 6.28386 33.0053C2.82806 37.284 0.749271 42.5298 0.351723 48.0469C-0.0458298 53.564 1.25939 59.0535 4.06603 63.7836C4.6237 64.7234 5.86399 64.9404 6.76053 64.3155C7.65707 63.6906 7.86911 62.4609 7.32329 61.5142C5.02854 57.5338 3.96661 52.9438 4.29898 48.3313C4.63135 43.7188 6.34038 39.3285 9.18209 35.7183C9.85802 34.8595 9.82447 33.6122 9.02678 32.8652Z" fill="black"/>
                        <path d="M47.8699 64.3114C48.7665 64.9361 50.0067 64.7189 50.5642 63.779C52.6414 60.2765 53.905 56.3419 54.2496 52.2673C54.6498 47.5339 53.7957 42.7787 51.7732 38.4805C49.7507 34.1823 46.6313 30.493 42.7292 27.7841C39.3701 25.4522 35.5331 23.9177 31.5103 23.2855C30.4307 23.1158 29.4729 23.933 29.3826 25.0221C29.2924 26.1112 30.1045 27.0586 31.1818 27.2418C34.5115 27.8079 37.6847 29.0998 40.4724 31.035C43.8032 33.3473 46.4659 36.4965 48.1923 40.1655C49.9187 43.8344 50.6478 47.8935 50.3062 51.9339C50.0202 55.3153 48.9928 58.5838 47.3065 61.5101C46.7609 62.457 46.9732 63.6866 47.8699 64.3114Z" fill="black"/>
                        <path d="M41.4164 54.6633C39.6603 55.8404 38.6497 51.1826 36.6784 50.4766C35.4525 50.0394 34.0774 50.6449 32.7519 50.9139C32.6857 51.267 32.5698 51.6032 32.4371 51.9397C34.7232 52.629 36.9766 53.7053 38.3348 55.5717C41.6814 60.1451 34.0273 66.602 30.184 64.6518C28.312 63.6935 31.7746 60.4818 31.3932 58.397C31.1446 57.0856 29.9353 56.1775 29.0406 55.1351C28.7094 55.2528 28.3778 55.3199 28.0299 55.3705C28.593 57.7413 28.8086 60.2467 27.8972 62.3987C25.6772 67.6112 16.3331 64.1305 16.0681 59.7756C15.9521 57.6568 20.4251 59.0863 22.0157 57.7074C23.0097 56.8329 23.1755 55.3196 23.6063 54.0082C23.3412 53.7727 23.1093 53.5207 22.8941 53.2347C21.1544 54.9163 19.117 56.3623 16.8305 56.6144C11.2639 57.2701 9.55767 47.3164 13.169 44.9117C14.9251 43.7515 15.9358 48.3924 17.907 49.0984C19.133 49.5356 20.508 48.9301 21.8335 48.6611C21.8997 48.308 22.0157 47.9718 22.1484 47.6353C19.8622 46.946 17.6089 45.8697 16.2506 44.0033C12.904 39.4298 20.5581 32.973 24.4014 34.9232C26.2734 35.8815 22.8108 39.0932 23.1922 41.178C23.4409 42.4894 24.6501 43.3975 25.5448 44.4399C25.8761 44.3222 26.2076 44.2551 26.5556 44.2045C25.9924 41.8337 25.7768 39.3282 26.6883 37.1762C28.9082 31.9638 38.2523 35.4445 38.5173 39.7994C38.6333 41.9182 34.1603 40.4887 32.5697 41.8676C31.5757 42.7421 31.41 44.2554 30.9791 45.5668C31.2442 45.8022 31.4761 46.0543 31.6914 46.3402C33.431 44.6587 35.4685 43.2127 37.755 42.9606C43.3215 42.3046 45.0114 52.2586 41.4164 54.6633ZM31.0291 49.7871C31.0291 47.6853 29.3559 45.9871 27.285 45.9871C25.2142 45.9871 23.541 47.6852 23.541 49.7871C23.541 51.8888 25.2141 53.587 27.285 53.587C29.3558 53.587 31.0291 51.8889 31.0291 49.7871Z" fill="black"/>
                        <path d="M19.7113 25.6293C19.7113 27.8791 17.887 29.7038 15.638 29.7038C13.3875 29.7038 11.5635 27.8789 11.5635 25.6293C11.5635 23.3797 15.638 13.0925 15.638 13.0925C15.638 13.0925 19.7113 23.3794 19.7113 25.6293Z" fill="#EC6B06"/>
                        <path d="M27.8588 13.0941C27.8588 15.3439 26.0345 17.1687 23.7854 17.1687C21.535 17.1687 19.7109 15.3438 19.7109 13.0941C19.7109 10.8445 23.7854 0.557373 23.7854 0.557373C23.7854 0.557373 27.8588 10.8442 27.8588 13.0941Z" fill="#EC6B06"/>
                    </svg>
                     <svg class="sun"  viewBox="0 0 66 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33 21C31.8727 21 30.9588 21.9139 30.9588 23.0412V38.0047C28.0226 38.5513 25.3491 39.8697 23.1461 41.7474L12.5866 30.9335C11.7762 30.1036 10.4415 30.1036 9.63112 30.9335C8.84758 31.7359 8.84758 33.017 9.63113 33.8194L20.3411 44.7874C18.6947 47.0645 17.5775 49.7671 17.1757 52.7045H2.09041C0.935907 52.7045 0 53.6404 0 54.7949C0 55.9494 0.935909 56.8854 2.09041 56.8854H17.0943C17.3883 59.9177 18.4415 62.7212 20.0566 65.0938L9.63112 75.7705C8.84758 76.5729 8.84758 77.854 9.63113 78.6564C10.4415 79.4863 11.7762 79.4863 12.5866 78.6564L22.7795 68.2179C25.0497 70.2665 27.8577 71.7047 30.9588 72.282V86.5487C30.9588 87.676 31.8727 88.5899 33 88.5899C34.1273 88.5899 35.0412 87.676 35.0412 86.5487V72.5326C38.4355 72.3269 41.562 71.1019 44.1329 69.1524L53.4134 78.6564C54.2238 79.4863 55.5585 79.4863 56.3689 78.6564C57.1524 77.854 57.1524 76.5729 56.3689 75.7705L47.1015 66.2799C49.2145 63.6797 50.6023 60.4397 50.9469 56.8854H63.9096C65.0641 56.8854 66 55.9494 66 54.7949C66 53.6404 65.0641 52.7045 63.9096 52.7045H50.8655C50.3933 49.2527 48.9334 46.1253 46.7876 43.6315L56.3689 33.8194C57.1524 33.017 57.1524 31.7359 56.3689 30.9335C55.5585 30.1036 54.2238 30.1036 53.4134 30.9335L43.737 40.843C41.2438 39.063 38.2631 37.9494 35.0412 37.7541V23.0412C35.0412 21.9139 34.1273 21 33 21ZM34.0206 67.6858C40.7847 67.6858 46.268 62.0704 46.268 55.1433C46.268 48.2163 40.7847 42.6009 34.0206 42.6009C27.2566 42.6009 21.7732 48.2163 21.7732 55.1433C21.7732 62.0704 27.2566 67.6858 34.0206 67.6858Z" fill="#EC6B06"/>
                    </svg>

                     <svg class="pv" viewBox="0 0 36 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2493 4.53195C36.209 3.54918 36.209 1.98018 35.2493 0.997415C34.2568 -0.0189955 32.6222 -0.018995 31.6297 0.997416L0.719736 32.6519C-0.239912 33.6347 -0.239912 35.2037 0.719736 36.1865C1.71224 37.2029 3.34691 37.2029 4.33941 36.1865L14.4793 25.8023V59.1551H19.4793V21.1017C19.4793 20.9693 19.4691 20.8394 19.4493 20.7127L35.2493 4.53195Z" fill="black"/>
                    </svg>
                    <svg class="pv pv-2" viewBox="0 0 36 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2493 4.53195C36.209 3.54918 36.209 1.98018 35.2493 0.997415C34.2568 -0.0189955 32.6222 -0.018995 31.6297 0.997416L0.719736 32.6519C-0.239912 33.6347 -0.239912 35.2037 0.719736 36.1865C1.71224 37.2029 3.34691 37.2029 4.33941 36.1865L14.4793 25.8023V59.1551H19.4793V21.1017C19.4793 20.9693 19.4691 20.8394 19.4493 20.7127L35.2493 4.53195Z" fill="black"/>
                    </svg>
                    <svg class="storage" viewBox="0 0 76 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6175 14.4737H67.1852C70.0859 14.4737 72.4373 16.8252 72.4373 19.7258V68.3226H75.9387V19.7258C75.9387 14.8914 72.0196 10.9723 67.1852 10.9723H26.6175V14.4737Z" fill="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.65918 1.91702C0.65918 0.916797 1.47002 0.105957 2.47024 0.105957H17.5624C18.5626 0.105957 19.3735 0.916797 19.3735 1.91702C19.3735 2.91724 18.5626 3.72808 17.5624 3.72808H2.47024C1.47002 3.72808 0.65918 2.91724 0.65918 1.91702ZM2.47005 21.8387C1.46983 21.8387 0.658986 22.6495 0.658986 23.6498C0.658986 24.65 1.46982 25.4608 2.47005 25.4608H17.5622C18.5624 25.4608 19.3733 24.65 19.3733 23.6498C19.3733 22.6495 18.5624 21.8387 17.5622 21.8387H2.47005ZM2.47005 43.5714C1.46983 43.5714 0.658986 44.3823 0.658986 45.3825C0.658986 46.3827 1.46982 47.1935 2.47005 47.1935H17.5622C18.5624 47.1935 19.3733 46.3827 19.3733 45.3825C19.3733 44.3823 18.5624 43.5714 17.5622 43.5714H2.47005ZM2.47005 54.4378C1.46983 54.4378 0.658986 55.2486 0.658986 56.2488C0.658986 57.2491 1.46982 58.0599 2.47005 58.0599H17.5622C18.5624 58.0599 19.3733 57.2491 19.3733 56.2488C19.3733 55.2486 18.5624 54.4378 17.5622 54.4378H2.47005ZM0.658986 34.5161C0.658986 33.5159 1.46983 32.7051 2.47005 32.7051H17.5622C18.5624 32.7051 19.3733 33.5159 19.3733 34.5161C19.3733 35.5163 18.5624 36.3272 17.5622 36.3272H2.47005C1.46982 36.3272 0.658986 35.5163 0.658986 34.5161ZM2.47005 10.9724C1.46983 10.9724 0.658986 11.7832 0.658986 12.7834C0.658986 13.7836 1.46982 14.5945 2.47005 14.5945H17.5622C18.5624 14.5945 19.3733 13.7836 19.3733 12.7834C19.3733 11.7832 18.5624 10.9724 17.5622 10.9724H2.47005Z" fill="#EC6B06"/>
                        <path d="M50.4298 39.1228C50.2961 38.8473 50.0285 38.6638 49.7341 38.6638H45.6395L48.1015 30.0652C48.1818 29.7897 48.1284 29.4837 47.9945 29.2389C47.8608 28.9942 47.5931 28.8718 47.3522 28.8718L40.8756 28.8716C40.5276 28.8716 40.2333 29.1163 40.1263 29.5142L35.7106 44.8142C35.6303 45.0897 35.6839 45.3955 35.8176 45.6405C35.9782 45.8852 36.219 46.0076 36.4599 46.0076H41.2772L40.6618 56.7788C40.6351 57.2072 40.8758 57.6051 41.2505 57.7274C41.3308 57.758 41.4111 57.758 41.4645 57.758C41.7589 57.758 42.0265 57.5743 42.1602 57.2683L50.4563 40.0094C50.5902 39.7341 50.5905 39.398 50.4298 39.1228Z" fill="black"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-dl-9 col-dl-push-4 col-tl-10 col-tm-12 col-ml-10 col-mm-14 col-ml-push-1">
                <div class="services__title">
                    <h3>Photovoltaik und
                        Windenergie:
                        Darauf sind wir
                        spezialisiert.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-dl-16 col-dl-push-4 col-ml-15 col-ml-push-1">
                <div class="services__list">
                    {% for item in services %}
                    <div class="services__item {% if item.class %}{{item.class}}{% endif %}">
                        {% if item.empty != true %}
                        <div class="service">
                            <div class="service__icon">
                                <img src="img/services/{{item.icon}}.svg" alt=""/>
                            </div>
                            <div class="service__in">
                                <div class="service__title">
                                    <h6>{{ item.title }}</h6>
                                </div>
                                <div class="service__text">
                                    <ul >
                                        {% for li in item.list %}
                                        <li>{{ li | safe }}</li>
                                        {% endfor %}
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <a href="http://evergy.klargedacht.tech/wp-content/uploads/2019/03/Integriertes-Managmentsystem-ISO-9001450001140001_de.pdf" target="_blank" rel="noopener">download the certificate</a>
                                    <p><a href="http://evergy.klargedacht.tech/wp-content/uploads/2019/03/Integriertes-Managmentsystem-ISO-9001450001140001_de.pdf" target="_blank" rel="noopener">download the certificate</a></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
