<div class="p-header ">
    <div class="p-header__text">
        Reference List:
        Photovoltaic
        Projects
    </div>
    <div class="p-header__logo">
        <img src="img/brand_evergy.svg" alt=""/>
    </div>
    <div class="clearfix"></div>
</div>

<table class="p-table">
    <tr class="p-table__row p-table__row--head">
        <th class="p-table__cell p-table__cell--first" width="143">Project</th>
        <th width="65">Evergy Mandate</th>
        <th width="79">Country</th>
        <th width="63">y Installed Capacity in MW</th>
        <th width="78">Type of Installation</th>
        <th width="85">Module Manufacturer</th>
        <th width="85">Inverter Manufacturer</th>
        <th class="p-table__cell p-table__cell--last" >Evergy Scope of Work</th>
    </tr>
    <tr class="p-table__row p-table__row--spec">
        <td class="p-table__cell p-table__cell--first" colspan="3">251 Projects since 2003</td>
        <td >4,524.8</td>
        <td class="p-table__cell p-table__cell--last" colspan="4"></td>
    </tr>
    <tr class="p-table__row ">
        <td class="p-table__cell p-table__cell--first">Siebenbäumen</td>
        <td>2015</td>
        <td>France</td>
        <td>18.73</td>
        <td>Free Field</td>
        <td>Sunowe</td>
        <td>Huawei</td>
        <td class="p-table__cell p-table__cell--last">Energy Yield Assesment; Inspection</td>
    </tr>
    <tr class="p-table__row ">
        <td class="p-table__cell p-table__cell--first">Siebenbäumen</td>
        <td>2015</td>
        <td>France</td>
        <td>18.73</td>
        <td>Free Field</td>
        <td>Sunowe</td>
        <td>ABB</td>
        <td class="p-table__cell p-table__cell--last">Data Analysis;Inspection; Technical Due Diligence</td>
    </tr>
</table>

<footer class="p-footer">
    <div class="p-footer__link">more cases @ <a href="">www.evergy.de/cases</a></div>
    <div class="p-footer__copy">Evergy Engineering GmbH ©2019</div>
    <div class="clearfix"></div>
</footer>
