{% set team = [
    {
        icon: 'core-team-color',
        title: 'Our core-team in Munich',
        text: '120 Characters ipsum dolor sed emnim parsorem ipsum dolor sed emnim parlor sit amet, consetetur sadipscing elitr.'
    },
    {
        icon: 'locals-color',
        title: 'and our local experts',
        text: '120 Characters ipsum dolor sed emnim parsorem ipsum dolor sed emnim parlor sit amet.'
    },
    {
        icon: 'planet-color',
        title: 'build international projects.',
        text: '<ul><li>Lorem ipsum dolor sit amet.</li><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic maiores neque quae velit. Cupiditate, molestiae. <a href="#">some link</a></li></ul>'
    },
    {
    icon: 'locals-color',
    title: 'and our local experts',
    text: '120 Characters ipsum dolor sed emnim parsorem ipsum dolor sed emnim parlor sit amet.'
    }
] %}

<!-- begin team -->
<div class="team">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-ds-push-4 col-tl-15 col-tl-push-4 col-ml-push-1">
                <div class="team__content">
                    <h3>our international<br/>
                        team of experts<br/>
                        makes the power of<br/>
                        our performance</h3>
                    <p>Introducing Text 400 Characters. Hier transportieren wir die Arbeitsweise und vermitteln Verfügbarkeit und Wendigkeit. durch die flexible Team-Zusammenstellung. <strong>Wir sind Ihr Team.</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-dl-16 col-dl-push-4 col-ds-15 col-ds-push-4 col-tl-push-4 col-ml-push-1">
                <div class="team__in">
                    {% for item in team %}
                    <div class="team__item">
                        <div class="team-box">
                            <div class="team-box__icon">
                                <!--{{ mixins.icon(item.icon) }}-->
                                <img src="img/team/{{item.icon}}.svg" alt=""/>
                            </div>
                            <div class="team-box__content">
                                <h6 class="team-box__title">{{ item.title }}</h6>
                                <div class="team-box__text">
                                    {{ item.text | safe}}
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <a href="http://evergy.klargedacht.tech/wp-content/uploads/2019/03/Integriertes-Managmentsystem-ISO-9001450001140001_de.pdf" target="_blank" rel="noopener">download the certificate</a>
                                    <p><a href="http://evergy.klargedacht.tech/wp-content/uploads/2019/03/Integriertes-Managmentsystem-ISO-9001450001140001_de.pdf" target="_blank" rel="noopener">download the certificate</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team -->
