<!-- begin teaser -->
<div class="teaser">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-13 col-dl-push-3 col-ml-16 col-ml-push-0">
                <a href="https://www.youtube.com" class="teaser__box spec-link js-teaser-spec-link" data-target="_blank">
                    <div class="teaser__title">
                        <h2>what<br/>we<br/>do</h2>
                    </div>
                    <div class="teaser__in">
                        <div class="teaser__text">230 Characters geplant ist und in welcher Phase Ihr Projekt steckt: Wenn unsere technischen Experten Ihr Projekt in die Hände bekommen wird es auf Herz und Nieren geprüft, alle Risiken bewertet und Sie können sich sicher sein.</div>
                        <nav class="teaser__nav">
                            <span class="teaser__link js-scroll-other-page-link"  data-href="http://localhost:8080/sticky-simple.html#jobs" >services</span>
                            <span class="teaser__link js-scroll-other-page-link"  data-href="http://localhost:8080/sticky-simple.html#jobs" >cases</span>
                        </nav>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end teaser -->
