{% set timeline = [
    {
        title: '2003',
        text: ['<h6>Gründung der Evergy Engineering GmbH</h6><p>Jens Langenbrinck Making your own computer from scratch is not only fun to do but cheaper as well. You can get to choose the parts you want to use on your PC. This gives you the control in balancing the price and the quality of your newly assembled PC.</p>']
    },
    {
        title: '2004',
        text: ['<h6>Gründung der Evergy Engineering GmbH</h6><p>Jens Langenbrinck Making your own computer from scratch is not only fun to do but cheaper as well. You can get to choose the parts you want to use on your PC. This gives you the control in balancing the price and the quality of your newly assembled PC.</p>'],
        button: 'explore this case',
        isJsBtn: true
},
    {
        title: '2010',
        text: ['<h6>Evergy Spanien wird gegründet</h6><p>Kurzer Text über die Gründe, die Location</p>', '<h6>Evergy überschreitet die Marke von 1 GW erfolgreich beratene Windparktransaktionen mit dem Projekt Redekin</h6><p>Making your own computer from scratch is not only fun to do but cheaper as well. You can get to choose the parts you want to use on your PC. This gives you the control in balancing the price and the quality of your newly assembled PC.</p>'],
        button: 'explore this case',
        isJsBtn: true
    },
    {
        title: '2011',
        text: ['<h6>Nuklearkatastrophe in Fukushima</h6><p>Beschluss des Atomausstiegs in vielen Ländern (Schweiz, Italien, <br/>Frankreich, Deutschland)</p>'],
        quote: {
            pic: 'img/quote-slider/2.jpg',
            name: 'Jens Langenbrinck',
            desc: 'Surfer, seit 2004 dabei',
            text: 'Ich erinnere mich, lorem ipsum dolore sed etiam Gallia in tres partes diversa est and that’s it.'
        }
    }
] %}

<!-- begin timeline -->
<div class="timeline">
    <div class="wrapper">
        <div class="row">
            <div class="col-dl-12 col-dl-push-4 col-ds-push-4 col-tl-15 col-tl-push-4 col-ml-push-1">
                <div class="timeline__content">
                    <h3>our international<br/>
                        team of experts<br/>
                        makes the power of<br/>
                        our performance</h3>
                    <p>Introducing Text 400 Characters. Hier transportieren wir die Arbeitsweise und vermitteln Verfügbarkeit und Wendigkeit. durch die flexible Team-Zusammenstellung. <strong>Wir sind Ihr Team.</strong></p>
                </div>
            </div>
        </div>
    </div>
    {% for item in timeline %}
    <div class="timeline__item js-timeline">
        <div class="wrapper">
            <div class="row">
                <div class="col-dl-14 col-dl-push-4 col-tl-16 col-ml-15 col-ml-push-1">
                    <div class="timeline-box">
                        <div class="timeline-box__title">
                            {{ mixins.stateicon() }}
                            <h2 class="js-timeline-title">{{ item.title }}</h2>
                        </div>
                        <div class="timeline-box__in">
                            <div class="timeline-box__content js-timeline-content">
                                <div class="timeline-box__content-in">
                                    {% if item.text %}
                                    {% for i in item.text %}
                                    <div class="timeline-box__text">{{ i | safe }}</div>
                                    {% endfor %}
                                    {% endif %}

                                    {% if item.button %}
                                    <div class="timeline-box__button ">
                                        <a href="sticky-simple.html" class="button button_primary {% if item.isJsBtn === true %}js-timeline-storage-btn{% endif %}"><span>{{ item.button }}</span></a>
                                    </div>
                                    {% endif %}

                                    {% if item.quote %}
                                    <div class="timeline-quote">
                                        <div class="timeline-quote__pic">
                                            <img src="{{ item.quote.pic }}" alt=""/>
                                            <figcaption>
                                                <span class="timeline-quote__name">{{ item.quote.name }}</span>
                                                <span class="timeline-quote__desc">{{ item.quote.desc }}</span>
                                            </figcaption>
                                        </div>
                                        <div class="timeline-quote__text">
                                            <blockquote>{{ item.quote.text }}</blockquote>
                                            <div class="timeline-quote__translation">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta molestias pariatur, rerum sunt tempora veritatis. Beatae minima nesciunt perspiciatis quam.
                                            </div>
                                        </div>

                                    </div>
                                    <div class="timeline-box__button">
                                        <a href="" data-modal-id="17262" class="button button_primary"><span>meet Jens</span></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end timeline -->

