<!-- begin topbanner -->
<div class="topbanner ">
    <div class="wrapper ">
        <div class="row">
            <div class="col-dl-7 col-ds-8 col-tl-13 col-tl-push-1 col-tm-15">
                <div class="topbanner__title">
                    <h2>maybe your next project will be on the moon.</h2>
                </div>

                <div class="topbanner__sticky">
                    <div class="sticky-nav sticky-nav--real is-disabled js-sticky-nav " data-top="162">
                         <h3 class="sticky-nav__title">What we do</h3>
                         <div class="sticky-nav__list js-sticky-nav-list">
                         </div>
                    </div>

                    <div class="sticky-nav sticky-nav--pseudo js-sticky-nav-pseudo">
                        <h3 class="sticky-nav__title">What we do</h3>
                        <nav class="sticky-nav__list js-sticky-nav-list">
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-dl-9 col-ds-8 col-tl-16 col-tl-push-3 col-tm-push-2 col-ml-push-1 col-mm-push-0">
                <div class="topbanner__img">
                    <img src="img/topbanner/what_we_do.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="topbanner__mob">
        <div class="wrapper">
            <div class="row">
                <div class="col-tl-5 col-tl-push-1">
                    <div class="sticky-nav js-sticky">
                        <h3 class="sticky-nav__title">What we do</h3>
                        <nav class="sticky-nav__list js-sticky-nav-list">
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/_job-teaser.html" %}
</div>
<!-- end topbanner -->
