<div class="socialbox">
    <div class="socialbox__text">share this<br/>job with your friends</div>
    <ul class="social-links">
        <li>
            <!-- !!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- if href==="#" than we take this page url to share, else we take href to share -->
            <!-- !!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!! -->


            <!--<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">{{ mixins.icon('twitter') }}</a>-->
            <a class="js-twitter-share" href="http://evergy.klargedacht.tech/test-ground/">{{ mixins.icon('twitter') }}</a>
        </li>
        <li>
            <!--<a  href="https://www.linkedin.com/shareArticle?url=http://www.makestuff.in/tutorial/sharebutton/page6/web03">{{ mixins.icon('linkedin') }}</a>-->
            <a class="js-linkedin-share" href="http://evergy.klargedacht.tech/test-ground/">{{ mixins.icon('linkedin') }}</a>
        </li>
        <li>
            <a class="js-xing-share" href="http://evergy.klargedacht.tech/test-ground/" >{{ mixins.icon('xing') }}</a>
        </li>
        <li>
            <a href="mailto:?subject=subject&body=http://www.makestuff.in/tutorial/sharebutton/page6/web03">{{ mixins.icon('mail') }}</a>
        </li>
    </ul>
</div>
