{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700&amp;subset=latin-ext,tamil" rel="stylesheet" />
    <!-- styles -->
<!--     <link rel="stylesheet" media="all" href="css/common.css" /> -->
    <link rel="stylesheet" media="all" href="css/case-pdf.css" />

<!--     <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script> -->
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->

    <!-- common scripts -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->

    <!-- END scripts -->

  </body>
</html>
