{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700&amp;subset=latin-ext,tamil" rel="stylesheet" />
    <!-- styles -->
    <link rel="stylesheet" media="all" href="css/common.css" />
    <link rel="stylesheet" media="all" href="css/header.css" />
    <link rel="stylesheet" media="all" href="css/footer.css" />
    <link rel="stylesheet" media="all" href="css/interactive-header.css" />
    <link rel="stylesheet" media="all" href="css/quote-slider.css" />
    <link rel="stylesheet" media="all" href="css/teaser.css" />
    <link rel="stylesheet" media="all" href="css/topbanner.css" />
    <link rel="stylesheet" media="all" href="css/intro-text.css" />
    <link rel="stylesheet" media="all" href="css/services.css" />
    <link rel="stylesheet" media="all" href="css/timeline.css" />
    <link rel="stylesheet" media="all" href="css/projects.css" />
    <link rel="stylesheet" media="all" href="css/downloads.css" />
    <link rel="stylesheet" media="all" href="css/team.css" />
    <link rel="stylesheet" media="all" href="css/contacts.css" />
    <link rel="stylesheet" media="all" href="css/job.css" />
    <link rel="stylesheet" media="all" href="css/job-teaser.css" />
    <link rel="stylesheet" media="all" href="css/case.css" />

    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>


    <!-- favicon -->
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-256x256.png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon.png" />
    {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
    {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- BEGIN scripts -->

<!-- common scripts -->
<script type="text/javascript" src="js/common.js"></script>
<!--<script type="text/javascript" src="js/topBanner.js"></script>-->
<!--<script type="text/javascript" src="js/topBannerCssSticky.js"></script>-->
<!--<script type="text/javascript" src="js/topBannerTransform.js"></script>-->
<!--<script type="text/javascript" src="js/topBannerSimple.js"></script>-->
<!-- scripts for header -->
<!--<script type="text/javascript" src="js/header.js"></script>-->
<!-- scripts for interactive header -->
<script type="text/javascript" src="js/interactiveheader.js"></script>
<!-- scripts for quote-slider -->
<script type="text/javascript" src="js/quoteslider.js"></script>
<!-- scripts for timeline -->
<script type="text/javascript" src="js/timeline.js"></script>
<!-- scripts for job -->
<script type="text/javascript" src="js/job.js"></script>
<script type="text/javascript" src="js/jobTeaser.js"></script>
<script type="text/javascript" src="js/teaser.js"></script>
<script type="text/javascript" src="js/projects.js"></script>

<!-- variant with position: sticky navigation -->
<!-- <script type="text/javascript" src="js/stickyNav.js"></script> -->


<!-- END scripts -->

    {% include "partials/_expert-details.html" %}

</body>
</html>
