{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700&amp;subset=latin-ext,tamil" rel="stylesheet" />
    <!-- styles -->
    <link rel="stylesheet" media="all" href="css/common.css" />
    <link rel="stylesheet" media="all" href="css/header.css" />
    <link rel="stylesheet" media="all" href="css/footer.css" />
    <link rel="stylesheet" media="all" href="css/gallery.css" />
    <link rel="stylesheet" media="all" href="css/form.css" />

    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>


    <!-- favicon -->
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-256x256.png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon.png" />
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->

    <!-- common scripts -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js?ver=4.9.8"></script> -->
    <script type="text/javascript" src="js/common.js"></script>

    <!-- scripts for header -->
    <!--<script type="text/javascript" src="js/header.js"></script>-->

    <!-- scripts for gallery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>

    <!-- scripts for form -->
    <script type="text/javascript" src="js/form.js"></script>

    <!-- END scripts -->

  </body>
</html>
