{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- <meta name="viewport" content="width=1680"/> -->
    <!-- <meta name="viewport" content="width=1680, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700&amp;subset=latin-ext,tamil" rel="stylesheet" />
    <!-- styles -->
        <link rel="stylesheet" media="all" href="css/common.css" />


    <link rel="stylesheet" media="all" href="css/presentation-pdf.css" />


    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://evergy.klargedacht.tech/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <!-- <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script> -->
    <script type='text/javascript' src="https://unpkg.com/pagedjs@0.3.5/dist/paged.polyfill.js?ver=6.1.1"></script>
    <script>
        const BASE_WIDTH = 1680;
        // const isNotPrint =  window.matchMedia("screen").matches;
        // console.log(isNotPrint)
        const getScrollbarWidth = () => {
            // Creating invisible container
            const outer = document.createElement('div');
            outer.style.visibility = 'hidden';
            outer.style.overflow = 'scroll'; // forcing scrollbar to appear
            outer.style.msOverflowStyle = 'scrollbar'; // needed for WinJS apps
            document.body.appendChild(outer);

            // Creating inner element and placing it in the container
            const inner = document.createElement('div');
            outer.appendChild(inner);

            // Calculating difference between container's full width and the child width
            const scrollbarWidth = (outer.offsetWidth - inner.offsetWidth);

            // Removing temporary elements from the DOM
            outer.parentNode.removeChild(outer);

            return scrollbarWidth;
        };

        class MyHandler extends window.Paged.Handler {
          constructor(chunker, polisher, caller) {
            super(chunker, polisher, caller);
          }
          beforeParsed(content) {
            const body = document.querySelector('body');
            body.style.opacity = `0`;
          }

          afterRendered(pages) {
            const body = document.querySelector('body');
            const scrollbarWidth = getScrollbarWidth();

            const setSize = () => {
                const ww = window.innerWidth;
                let scaleSize = (ww - scrollbarWidth) / BASE_WIDTH;
                if(ww - scrollbarWidth >= BASE_WIDTH) {
                    scaleSize = 1;
                };
                body.style.transformOrigin = `0 0`;
                body.style.transform = `scale(${scaleSize})`;
                // body.style.setProperty('--scale', `${scaleSize}`);
            };
            setSize();

            window.addEventListener('resize', () => {
                setSize()
            });
            body.style.opacity = `1`;
          }
        }
        Paged.registerHandlers(MyHandler);
    </script>
    <style>
    @media only print and (min-width: 300px) {
        body {
            transform: none!important;
        }
    }
	@media only screen and (min-width: 300px) {
        body {
            margin-left: auto;
            margin-right: auto;
        }
    }
    </style>
</head>
<body>

<!-- BEGIN content -->
<div class="out-pdf">
    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src="js/common-pdf.js"></script>
</body>
</html>
