.button
    appearance: none
    display: inline-block
    padding: 17px 31px
    text-decoration: none
    border-radius: 2px
    background: transparent
    +hm-sb
    font-size: 15px
    line-height: 1
    color: #000
    text-transform: lowercase
    transition: transform .25s ease-in, color .25s ease-in-out
    position: relative
    &:before
        content: ""
        +coverdiv
        background: rgba(255, 255, 255, 0.2)
        border: 3px solid $orange
        border-radius: 2px
        transition: all .3s ease-in-out
        z-index: 1
    &:hover
        color: #fff
        &:before
            transform: scale(1.08)
            background: $orange
            box-shadow: 0 0 26px rgba($grey-simple, .45)
    &:active
        &:before
            transform: scale(1)
            box-shadow: 0 0 6px rgba($grey-simple, .85)
    span
        position: relative
        z-index: 2
    &_primary
        background: $orange
        text-transform: none
        &:before
            background: $orange
