.logo
    max-width: 280px
    position: relative
    +tablet-less-lg
        left: -75px
    &__in
        display: block
        +tablet-less-lg
            width: 145px
            height: 45px
        img
            max-width: 100%
            display: block
            +tablet-less-lg
                height: 100%
    &_footer
        width: percentage(280/1215)
        left: - percentage(145/1215)
        +desktop-less-sm
            width: percentage(262/1215)
            left: - percentage(136/1215)
    &_header
        width: percentage(280/202)
        left: - percentage(145/202)
        +desktop-less-sm
            width: percentage(262/202)
            left: - percentage(136/202)
