<div class="pdf-section binding-section">
		{% 
			set headerText = 'Evergy Presentation <br/> Datum, 00. Monat 2020 redaktionell pflegbar'
		%}
		{% include "pdf/_header.html" %}

		<div class="pdf-section__content binding-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-4">
						<div class="binding-block">
							<div class="binding-block__img">
								<img src="img/pdf/independent.png" alt="alt" />
							</div>
							<h2 class="p-title p-title--s p-title--orange head-simple">independent</h2>
							<div class="pdf-article">We are independent. We are free in our thinking, we are independent in our work and unbiased in our decisions. As a company owned by its management, our advisory work is creative and impartial, and we always negotiate in the best interests of our clients. Our solutions are tailor-made with a laser sharp focus on what counts: your success.</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-4">
						<div class="binding-block">
							<div class="binding-block__img">
								<img src="img/pdf/experts.png" alt="alt" />
							</div>
							<h2 class="p-title p-title--s p-title--orange head-simple">technical experts</h2>
							<div class="pdf-article">We take responsibility for your project and stand steadfastly by your side in our role as technical expert. Whether it’s development, implementation or operation: Our team of engineers is internationally well-positioned to find a solution for every problem and take you that decisive step further.</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-4">
						<div class="binding-block">
							<div class="binding-block__img">
								<img src="img/pdf/energy.png" alt="alt" />
							</div>
							<h2 class="p-title p-title--s p-title--orange head-simple">for renewable energy</h2>
							<div class="pdf-article">We live and breathe renewable energy. The energy industry worldwide is focused on the most cost-effective technologies for generating electricity: photovoltaics and wind power. And this is exactly our specialization! From Puerto Rico to Windhoek and from Osaka to Haimhausen: look to us to advise you on the security of your investment.</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>



