<div class="pdf-section case-section">
	{%
		set headerText = 'Best <br/> Practise'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content case-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-2 case-section__info">
						<div class="case-section__info-group small-info small-info--big-spacing">
							<p><strong>Country: </strong>Turkey</p>
							<p><strong>Year of Mandate: </strong>2018</p>
							<p><strong>Year of Commisioning: </strong>2017</p>
						</div>
						<div class="case-section__info-group small-info small-info--big-spacing">
							<h3 class="small-info__head">Key Technical Data</h3>
							<p><strong>Total capactiy: </strong>15.4 MW</p>
							<p><strong>Wind turbines: </strong>Vestas V112</p>
							<p><strong>Grid connection: </strong>110 kV substation</p>
						</div>
						<div class="case-section__services">
							<h3 class="case-section__services-head">Services</h3>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-tdd.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Technical Due <br/> Diligence <br/> (TDD)
								</div>
							</div>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-settings.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Project <br/> Planning
								</div>
							</div>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-inspection.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Technische <br/> Inspektion
								</div>
							</div>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-checklist.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Technische  <br/> Studien
								</div>
							</div>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-chart.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Energieprognosen
								</div>
							</div>
							<div class="case-section-serv-item">
								<div class="case-section-serv-item__img">
									<img src="img/pdf/case-graph.svg" alt="alt" />
								</div>
								<div class="case-section-serv-item__content">
									Optimierung bestehender Projekte
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-9 col-pdf-push-1">
						<h2 class="p-title p-title--l p-title--line case-section__title"> <strong><span>Wind Farm Demircili, Turkey</span></strong>
							Technical Due Diligence for a 40 MW  Wind Farm  50 chars per line, 2 lines
						</h2>
						<div class="case-section__cols">
									<div class="case-section__col">
							<h2 class="p-title p-title--sm p-title--line case-section__col-title">The objectives of the assignment were:</h2>
							<div class="pdf-article">
								<ul>
									<li>to determine and quantify the technical risks and to develop measures for limitation and mitigation of those risks</li>
									<li>to collect and analyze the information necessary to assess the technical performance of the project and to sustain over its economic life certain performance levels</li>
									<li>to conduct quality assurance to achieve certification of the project
									</li>
								</ul>
							</div>
						</div>
						<div class="case-section__col">
							<h2 class="p-title p-title--sm p-title--line case-section__col-title">The scope of work covered the following aspects:</h2>
							<div class="pdf-article">
								<ul>
									<li>tOn-site inspection including turbine walk down</li>
									<li>Turbine design review</li>
									<li>Wind farm design review</li>
									<li>Determination of expected annual energy yield</li>
									<li>Evaluation of project documentation</li>
									<li>Determination of CAPEX and OPEX</li>
									<li>Evaluation of project contracts</li>
									<li>Review of licenses and permits</li>
									<li>Review of wind farm performance based on operational data</li>
								</ul>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
