<div class="pdf-section cases-section">
	{% 
		set headerText = 'Best Practise Projects with <br/> similar requirements'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content cases-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-6">
						<h2 class="p-title p-title--l p-title--line cases-section__title">Editierbare Head Best Practise Projects with similar requirements</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-pdf col-pdf-5">
						<div class="cases-section__info">100 - 160 characters To understand how we manage these kind of projects we collect best practises with similar requirements.</div>
					</div>
				</div>
				<div class="row cases-section__grid">
					<div class="col-pdf col-pdf-5 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-wind.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Demircili, Turkey</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-1 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-waves.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Redekin</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-panel.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Seine Rive Gauche Nord</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-1 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-energy.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Reichertshüll</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-motor.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Glénay</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-1 cases-section__grid-item">
						<div class="cases-section-block">
							<div class="cases-section-block__img">
								<img src="img/pdf/cases-panel-grow.svg" alt="alt" />
							</div>
							<div class="cases-section-block__content">
								<h2 class="p-title p-title--s head-simple"><span>Reichertshüll</span></h2>
								<div class="cases-section-block__info small-info">
									<p><strong>Country: </strong> Turkey</p>
									<p><strong>Total capactiy: </strong> 15.4 MW</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
