<div class="pdf-section contact-section" id="contact">
	{% 
		set headerText = 'contact'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content contact-section__content">
			
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-4">
						<div class="contact-section__head">
							<h2 class="p-title p-title--l p-title--line contact-section__title">
								Let’s talk <br/> about ...
							</h2>
						</div>
						<div class="contact-section__info">
							<h3 class="head-simple p-title p-title--s">Evergy Engineering GmbH</h3>
							<div class="contact-section__info-content">
								<div class="contact-section__info-group">
									<p>Malsenstraße 84</p>
									<p>80638 München</p>
								</div>
								<div class="contact-section__info-group">
									<p><a href="tel:11111111">T +49 89 189 289 – 30</a></p>
									<p><a href="tel:11111111">F +49 89 189 289 – 89</a></p>
									<p><a href="#">E evergy@evergy.de</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-3">
						<div class="contact-section__img-wrap">
							<img src="img/pdf/contact-img.png" alt="alt" />
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
