<div class="pdf-section contact-section">
	{%
		set headerText = 'on <br/> your <br/> demand'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content contact-section__content">

			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-6">
						<div class="contact-section__head">
							<h2 class="p-title p-title--l p-title--line contact-section__title">
								Let’s talk <br/> about ...
							</h2>
						</div>
						<div class="contact-section__info">
							<h3 class="head-simple p-title p-title--s">your person of contact</h3>
							<div class="team-block">
								<div class="team-block__top-wrapper">
									<div class="team-block__img">
										<img src="img/pdf/team.png" alt="alt" />
									</div>
									<div class="team-block__head p-title p-title--s p-title--line">
										Tobias Moser
									</div>
								</div>
								<div class="team-block__content">
									<div class="team-block__group">
										<p><strong>native language:</strong> German</p>
										<p><strong>working in the sector since:</strong> 2011</p>
										<p><strong>working @ evergy since</strong> 2011</p>
									</div>
									<div class="team-block__group">
										<p><strong>Mail-Adresse JA</strong></p>
										<p><strong>Mobile JA</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-1">
						<div class="contact-section__img-wrap">
							<img src="img/pdf/contact-img.png" alt="alt" />
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
