<div class="pdf-section cover-section">
	{% 
		set headerText = 'Evergy Presentation for <br/> #Client’s Name <br/> Datum, 00. Monat 2020 redaktionell pflegbar'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content cover-section__content">
			
			<div class="pdf-wrapper">
				
				<div class="row">
					<div class="col-pdf col-pdf-6 cover-section__texts">
						<h2 class="p-title p-title--xl p-title--line p-title--line-orange">
							<span>independent</span> 
							<span><strong>technical experts </strong></span>
							 <span>for renewable <br/> energy</span>
						</h2>
						<div class="cover-section__bottom-text p-title p-title--md p-title--orange">Ansprache, redaktionell pflegbar ca. 30 chars.</div>
					</div>
					<div class="col-pdf col-pdf-6 cover-section__img-wrapper">
							<img class="cover-section__img" src="img/pdf/technical-experts.png" alt="alt"/>
					</div>
				</div>
			</div>


		</div>
			{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
