<div class="pdf-footer {% if footerMode %}{{footerMode}}{% endif %}">

	<div class="pdf-footer__left">
			{% if footerText %}
				<span>{{ footerText|safe }}</span>
			{% endif %}
			1 von 18 automatisch
	</div>
		<div class="pdf-footer__right">
			<a href="mailto:mail@evergy.de">mail@evergy.de</a>
			<a href="#">www.evergy.de</a>
	</div>
			
</div>