<div class="pdf-section footer-section">
	{% 
		set headerText = ''
	 %}
	{% 
		set headerMode = 'is-footer-section'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content footer-section__content">
			<div class="footer-section__imgs">
				<div class="pdf-wrapper">
					<div class="footer-section__imgs-inner">
						<div class="footer-section__img">
							<img src="img/pdf/footer-wind.svg" alt="alt" />
						</div>
						<div class="footer-section__img footer-section__img--motors">
							<img src="img/pdf/footer-motors.svg" alt="alt" />
						</div>
						<div class="footer-section__img">
							<img src="img/pdf/footer-panel.svg" alt="alt" />
						</div>
						<div class="footer-section__img footer-section__img--energy">
							<img src="img/pdf/footer-energy.svg" alt="alt" />
						</div>
					</div>

				</div>
			</div>
			<div class="pdf-wrapper">
			
				<div class="footer-section__text-block">
					<div class="footer-section__info">
						<div class="footer-section__info-group">
							<h3>Evergy Engineering GmbH</h3>
							<p>Malsenstraße 84</p>
							<p>80638 Munich</p>
							<p>Germany</p>
						</div>
						<div class="footer-section__info-group">
							<p><a href="tel:1111111111">T +49 89 189 289 – 30</a></p>
							<p><a href="tel:1111111111">F +49 89 189 289 – 89</a></p>
							<p>E <a href="#"><span>evergy@evergy.de</span></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
			{% 
		set footerMode = 'is-footer-section'
	 %}
		{% include "pdf/_footer.html" %}
</div>
