
<div class="pdf-header {% if headerMode %}{{headerMode}}{% endif %}">
	<div class="pdf-wrapper">
		<div class="pdf-header__inner">
			{% if headerText %}
			<div class="pdf-header__left orange-text">
					{{ headerText|safe }}
			</div>
			{% endif %}
			<a class="pdf-header__right" href="#">
				<img src="img/pdf/brand_evergy.svg" alt="alt"/>
			</a>
		</div>
	</div>
</div>
