<div class="pdf-section history-section" id="history">
	{% 
		set headerText = 'our <br/> history'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content history-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-5">
						<h2 class="p-title p-title--l p-title--line">Pioneers in the industry, a team of technical experts and a huge wealth of experience</h2>
						<h3 class="head-simple p-title p-title--s space-top">
							Alles begann schon vor 2003
						</h3>
						<div class="pdf-article">
							<p>Sie sind Pioniere der Branche: Jens Langenbrinck, Thorsten Nogge und Marc Böhne haben bereits lange bevor es die Evergy gab, eine technisch-wirtschaftliche Beratung für erneuerbare Energien durchgeführt. Nachdem Jens die Evergy im Jahr 2003 gründete, kamen Thorsten (2004) und Marc (2007) dazu.</p>
							<p>Die Evergy ist in München daheim. Unsere Standorte in Spanien und Italien wurden in den Jahren 2008 und 2010 gegründet, der Standort in Indien folgte im Jahr 2016.</p>
							<p>Unser Team wächst kontinuierlich. Wir sind stolz auf unsere Mitarbeiter und die vielen Nationalitäten, die bei uns vertreten sind. Für uns ist Offenheit gegenüber verschiedenen Kulturen und Religionen selbstverständlich, denn Internationalität und Interkulturalität sind Vorteile und bringen unsere Arbeit und unsere Projekte voran. </p> 
						</div>
					</div>

					<div class="col-pdf col-pdf-5 col-pdf-push-2">
						<div class="pdf-article space-bottom">
							Im Jahr 2019 haben wir erfolgreich eine Zertifizierung für ein integriertes Management System durchgeführt. Es deckt die Bereiche Qualität (DIN EN ISO 9001:2015), Arbeitssicherheit (DIN ISO 45001:2018) und Umwelt (DIN EN ISO 14001:2015) ab.
						</div>
						<h3 class="head-simple p-title p-title--s">
							Für unsere Zukunft
						</h3>
						<div class="pdf-article">
							<p>Langjährige Mitarbeiter sind uns genauso wichtig wie neue Kollegen. Wir pflegen die Tradition und leben das Wachstum. Diese Kontinuität wollen wir auch für die Zukunft beibehalten. </p>
							<p>International möchten wir noch präsenter werden. Unser multikulturelles Team soll größer werden, externe Partnerschaften möchten wir stärken und ausbauen. </p>
							<p>Mit dem Übergang auf eine Energieversorgung aus 100% erneuerbaren Energien ergeben sich neue Anforderungen in Bezug auf die Integration der Erzeugungskapazitäten in das Stromnetz und den Aufbau von Speicherkapazitäten. Deshalb befassen wir uns fortlaufend mit der Entwicklung von neuen Technologien, die damit im Zusammenhang stehen.</p> 
							<p>Unser Ziel ist es, ständig auf dem neuesten Stand zu sein, um Sie in allen Fragen der zukünftigen Energieversorgung umfassend zu beraten.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
