<div class="pdf-section pdf-section--without-header services-section">

		<div class="pdf-section__content services-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-5">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/settings.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Projektierung</div>
						</div>
						
						<div class="pdf-article">
							<p>Sie stehen noch am Anfang Ihres Projekts? Oder benötigen Unterstützung bei der technischen Koordination und Entwicklung? Wir sind in jeder Projektphase Ihr Ansprechpartner und stellen die entsprechenden Dienstleister bereit. </p>
							<ul>
								<li>Projektplanung und erforderliche Fachgutachten</li>
								<li>Genehmigungsanträge</li>
								<li>Ausschreibung und Vergabe der Lieferverträge</li>
								<li>Bauüberwachung, Probebetrieb und Abnahme</li>
							</ul>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-2">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/chart.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Optimierung bestehender Projekte</div>
						</div>
						
						<div class="pdf-article">
							<p>Die Erfahrung zeigt: So gut wie jedes Projekt kann optimiert werden. Unsere Betriebsdatenanalysen helfen Ihnen, Verbesserungspotentiale zu identifizieren und voll auszuschöpfen. So heben wir Ihr Projekt gemeinsam auf die nächste Ebene. </p>
							<ul>
								<li>Individuelle Beratung über den gesamten Lebenszyklus Ihres Projektes</li>
								<li>Betriebsdatenanalysen zur Fehlersuche und Produktionsmaximierung</li>
								<li>Beratung bei Wartungs- oder Betriebsführungsverträgen</li>
								<li>Beratung zu Stromlieferverträgen</li>
							</ul>
						</div>
					</div>

				</div>
	
			</div>
		</div>
</div>



