<div class="pdf-section services-section">
	{% 
		set headerText = 'our <br/> services'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content services-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-5">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/chart.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Energieprognosen</div>
						</div>
						
						<div class="pdf-article">
							<p>Der Energieertrag ist entscheidend für die Wirtschaftlichkeit Ihres Projekts. Wir sind spezialisiert auf die Erstellung von Energieprognosen für Erneuerbare Energie Projekte.</p>
							<ul>
								<li>Windmessungen, Windgutachten und Energieprognosen für Windparks</li>
								<li>Einstrahlungsgutachten und Energieprognosen für Solarparks</li>
								<li>Hydrologische Gutachten für Wasserkraftwerke</li>
								<li>Langfristprognosen auf Basis historischer Erzeugungsdaten</li>
							</ul>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-2">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/checklist.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Technische Studien</div>
						</div>
						
						<div class="pdf-article">
							<p>Wir sind die Spezialisten auf unserem Gebiet. Ob Studien zu Wasserstoff in Madagaskar oder die Auslegung von PV-Anlagen im Himalaya. Mit unserer Erfahrung und Expertise können wir Ihnen auch bei sehr spezifischen Aufgabenstellungen weiterhelfen.</p>
							<ul>
								<li>Technisch-wirtschaftliche Expertisen</li>
								<li>Machbarkeitsstudien</li>
								<li>Marktanalysen</li>
								<li>Auslegung von Batteriespeichern und Hybridsystemen</li>
							</ul>
						</div>
					</div>

				</div>
	
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
