<div class="pdf-section services-section" id="services">
	{% 
		set headerText = 'our <br/> services'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content services-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-8">
						<h2 class="p-title p-title--l p-title--line services-section__title">Services – that’s our area of expertise.</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-pdf col-pdf-5">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/tdd.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Technical Due Diligence (TDD)</div>
						</div>
						
						<div class="pdf-article">
							<p>Sie möchten einen Windpark, eine Solaranlage, ein Wasserkraftwerk oder einen Energiespeicher ankaufen? Wir unterstützen Sie in diesem Prozess auf technischer Seite (Technical Due Diligence) und prüfen Ihr Projekt individuell nach Ihren Bedürfnissen. So erwarten Sie auch nach der Transaktion keine bösen Überraschungen. </p>
							<ul>
								<li>Prüfen und Bewerten von Projektplanungen</li>
								<li>Analyse von technischen Vertragsinhalten</li>
								<li>Überprüfung von Investitionsplänen und Betriebskostenbudgets</li>
								<li>Erkennen, Bewerten und Lösen von technischen Risiken und Problemen</li>
							</ul>
						</div>
					</div>
					<div class="col-pdf col-pdf-5 col-pdf-push-2">
						<div class="services-section__head">
							<img class="services-section__img" src="img/pdf/inspection.svg" alt="alt"/>
							<div class="p-title p-title--s head-simple">Technische Inspektion</div>
						</div>
						
						<div class="pdf-article">
							<p>Egal wo und in welcher Phase sich Ihr Projekt befindet, wir sind vor Ort um die Bauqualität ihres Kraftwerks zu prüfen und sicherzustellen. Mit uns können Sie darauf vertrauen, dass Ihr Projekt nicht nur auf dem Papier gut dasteht. </p>
							<ul>
								<li>Qualitätssicherung in der Bauphase</li>
								<li>Zustandsbewertung</li>
								<li>Leistungsmessungen und Fehleranalysen</li>
								<li>Abnahmegutachten</li>
							</ul>
						</div>
					</div>

				</div>
	
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
