<div class="team-block">
	<div class="team-block__top-wrapper">
		<div class="team-block__img">
			<img src="img/pdf/team.png" alt="alt" />
		</div>
		<div class="team-block__head p-title p-title--s p-title--line">
			Vorname Name Name
		</div>
	</div>
	
	<div class="team-block__content">
		<div class="team-block__group">
			<p><strong>native language:</strong> German</p>
			<p><strong>working in the sector since:</strong> 2011</p>
		</div>
	</div>
</div>