<div class="pdf-section team-section">
	{% 
		set headerText = 'on <br/> your <br/> demand'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content team-section__content">
			
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-12">
						<h2 class="p-title p-title--l p-title--line team-section__title">
							your team
						</h2>
					</div>
				</div>
				{# if we have more than 4 item we need to add mod class team-section__grid--full  #}
				<div class="row team-section__grid team-section__grid--full">
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
					<div class="col-pdf col-pdf-4 team-section__grid-item">
						{% include "pdf/_team-block.html" %}
					</div>
				</div>
			</div>
		</div>
			{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
