<div class="pdf-section toc-section">
	{% 
		set headerText = 'Evergy Presentation for <br/> #Client’s Name <br/>
Datum, 00. Monat 2020 redaktionell pflegbar'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content toc-section__content">
			
			<div class="pdf-wrapper">
				
				<div class="row">
					<div class="col-pdf col-pdf-5 toc-section__img-wrapper">
							<img class="toc-section__img" src="img/pdf/toc-figure.png" alt="alt"/>
					</div>

					<div class="col-pdf col-pdf-6">
						<div class="toc-section__groups">
							<div class="toc-section__group">
								<div class="orange-text toc-section__top-text">who <br/> we <br/> are</div>
								<div class="toc-section__links">
									<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#team">
										<span>our team</span>
										<span>02</span>
									</a>
										<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#history">
										<span>our history</span>
										<span>05</span>
									</a>
										<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#what-we-do">
										<span>our fields of business</span>
										<span>06</span>
									</a>
										<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#services">
										<span>our services</span>
										<span>07</span>
									</a>
										<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#track">
										<span>track record</span>
										<span>08</span>
									</a>
								</div>
							</div>
							<div class="toc-section__group">
								<div class="orange-text toc-section__top-text">on <br/>your <br/>demand</div>
								<div class="toc-section__links">
									<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#contact">
										<span>your person of contact</span>
										<span>09</span>
									</a>
										<a class="toc-section__item p-title p-title--m p-title--line p-title--line-orange" href="#">
										<span>Best practise projects with similar requirements</span>
										<span>10</span>
									</a>

								</div>
							</div>
						</div>
					
					
					</div>
				
				</div>
			</div>


		</div>
	{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
