<div class="pdf-section track-section" id="track">
	{% 
		set headerText = 'track <br/> record'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content track-section__content">
			
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-12">
						<h2 class="p-title p-title--l p-title--line track-section__title">
							Projekte und Leistung
						</h2>
						<div class="track-section__info">Stand Mai 2022</div>
					</div>
				</div>
				<div class="row">
					<div class="col-pdf col-pdf-3">
						<div class="track-section-block">
							<div class="track-section-block__img">
								<img src="img/pdf/track-wind.svg" alt="alt"/>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Projekte</div>
								<div class="track-section-block__group-value">400</div>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Leistung in GW</div>
								<div class="track-section-block__group-value">7,2</div>
							</div>
							<a class="track-section-block__btn" download href="#">
								<img src="img/pdf/download.svg" alt="alt"/>
								<span>download track record</span>
							</a>
						</div>
					</div>
						<div class="col-pdf col-pdf-3">
						<div class="track-section-block">
							<div class="track-section-block__img">
								<img src="img/pdf/track-panel.svg" alt="alt"/>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Projekte</div>
								<div class="track-section-block__group-value">762</div>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Leistung in GW</div>
								<div class="track-section-block__group-value">8,7</div>
							</div>
							<a class="track-section-block__btn" download href="#">
								<img src="img/pdf/download.svg" alt="alt"/>
								<span>download track record</span>
							</a>
						</div>
					</div>
						<div class="col-pdf col-pdf-3">
						<div class="track-section-block">
							<div class="track-section-block__img">
								<img src="img/pdf/track-water.svg" alt="alt"/>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Projekte</div>
								<div class="track-section-block__group-value">11</div>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Leistung in GW</div>
								<div class="track-section-block__group-value">1,7</div>
							</div>
							<a class="track-section-block__btn" download href="#">
								<img src="img/pdf/download.svg" alt="alt"/>
								<span>download track record</span>
							</a>
						</div>
					</div>
						<div class="col-pdf col-pdf-3">
						<div class="track-section-block">
							<div class="track-section-block__img">
								<img src="img/pdf/track-energy.svg" alt="alt"/>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Projekte</div>
								<div class="track-section-block__group-value">10</div>
							</div>
							<div class="track-section-block__group">
								<div class="track-section-block__group-head">Leistung in GW</div>
								<div class="track-section-block__group-value">6</div>
							</div>
							<a class="track-section-block__btn" download href="#">
								<img src="img/pdf/download.svg" alt="alt"/>
								<span>download track record</span>
							</a>
						</div>
					</div>
					
				</div>
			</div>


		</div>
			{% 
		set footerText = 'Title of the presentation, redaktionell pflegbar'
	 %}
		{% include "pdf/_footer.html" %}
</div>
