<div class="pdf-section what-we-do-section what-we-do-section--simple" id="what-we-do">
	{% 
		set headerText = 'our <br/> fields of <br/> business'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content what-we-do-section__content">
			<div class="pdf-wrapper">
				<div class="what-we-do-section__inner">
				<img class="what-we-do-section__main-img" src="img/pdf/what-we-do.png" alt="alt"/>
				<div class="row">
					<div class="col-pdf col-pdf-6">
						<h2 class="p-title p-title--xl p-title--line">maybe your next project will be on the moon.</h2>
					</div>

					<div class="col-pdf col-pdf-6">
						<div class="pdf-article big-text">
							Egal wo Ihr Projekt geplant ist und in welcher Phase es sich befindet: Unsere technischen Experten prüfen jedes Detail und bewerten alle Risiken. So können Sie sich sicher sein: Ihr Projekt steht auf einem soliden Fundament. 
						</div>
					</div>
				</div>
				</div>
	
			</div>
		</div>

		{% include "pdf/_footer.html" %}
</div>
