<div class="pdf-section what-we-do-section">
	{% 
		set headerText = 'our <br/> fields of <br/> business'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content what-we-do-section__content">
			<div class="pdf-wrapper">
				
				<div class="row">
					<div class="col-pdf col-pdf-3">
						<div class="what-we-do-section__head">
							<img class="what-we-do-section__img what-we-do-section__img--wind" src="img/pdf/wind.svg" alt="alt"/>
						</div>
						<h2 class="p-title p-title--s">Wind</h2>
						<div class="pdf-article">Einige unserer Mitarbeiter beschäftigen sich seit Anfang der 90er Jahre mit Windenergieanlagen. Die Technologie hat sich bis heute stetig verbessert und die Anlagen werden in immer höhere Leistungsklassen weiterentwickelt. Die Evergy lebt diesen gigantischen Zukunftsmarkt und ist immer ganz vorn mit dabei. </div>
					</div>
					<div class="col-pdf col-pdf-3">
						<div class="what-we-do-section__head">
							<img class="what-we-do-section__img what-we-do-section__img--panel" src="img/pdf/panel.svg" alt="alt"/>
						</div>
						<h2 class="p-title p-title--s">Photovoltaik</h2>
						<div class="pdf-article">Seit den frühen 2000er Jahren wurden dank des Erneuerbaren-Energien Gesetzes in Deutschland die ersten großen PV-Freiflächenanlagen errichtet - der Startpunkt für die kommerzielle Nutzung der PV-Technologie. Wir waren von Anfang an dabei. Mit Spannung begleiten wir seitdem die rasante Entwicklung der Photovoltaik: Über erfolgreiche Förderprogramme in vielen weiteren Ländern, Markteinbrüche, PV-Anlagen auf dem Wasser und auf bewirtschafteten Feldern bis hin zu den heutigen Parks in Kraftwerksgröße, die nicht mehr auf staatliche Hilfen angewiesen sind. </div>
					</div>
					<div class="col-pdf col-pdf-3">
						<div class="what-we-do-section__head">
							<img class="what-we-do-section__img what-we-do-section__img--water what-we-do-section__img--bottom-space" src="img/pdf/water.svg" alt="alt"/>
						</div>
						<h2 class="p-title p-title--s">Wasser</h2>
						<div class="pdf-article">Wasserkraftwerke haben eine deutlich längere Historie als PV- und Windenergieanlagen. Heute tragen sie in vielen Ländern der Erde einen Großteil zur Stromerzeugung bei und gewinnen aufgrund des zunehmenden Bedarfs an Regel- und Speicherkapazitäten nochmals an Bedeutung. Die technische Beratung für Wasserkraftwerke gehört seit vielen Jahren zu den Geschäftsfeldern der Evergy.. Kontaktieren Sie uns, wir helfen Ihnen sehr gerne bei Ihren Projekten. </div>
					</div>
					<div class="col-pdf col-pdf-3">
						<div class="what-we-do-section__head">
							<img class="what-we-do-section__img what-we-do-section__img--energy" src="img/pdf/energy.svg" alt="alt"/>
						</div>
						<h2 class="p-title p-title--s">Energiespeicher</h2>
						<div class="pdf-article">Der Umbau der Energiewirtschaft hin zu einer vollständig erneuerbaren Stromerzeugung ist ohne Energiespeicher nicht machbar. Die Technologien in diesem Bereich sind vielfältig, die Fortschritte enorm. Wir befassen uns eingehend mit den neuesten Entwicklungen und den damit verbundenen technischen Fragestellungen, denn für unsere laufenden Projekte müssen wir immer auf dem neuesten Stand sein. </div>
					</div>
				</div>
	
			</div>
		</div>
		{% include "pdf/_footer.html" %}
</div>
