<div class="pdf-section who-we-are-section">
	{% 
		set headerText = 'our <br/> team'
	 %}
		{% include "pdf/_header.html" %}
		<div class="pdf-section__content who-we-are-section__content">
			<div class="pdf-wrapper">
				<div class="row">
					<div class="col-pdf col-pdf-6 ">
						<div class="who-we-are-section__left-inner">
							<img class="who-we-are-section__img" src="img/pdf/who-we-are.png" alt="alt"/>
							<h2 class="p-title p-title--xl p-title--line who-we-are-section__main-title">bikers, surfers, hikers. a team of experts</h2>
							<p class="pdf-article big-text space-top who-we-are-section__text ">Wir sind stolz auf <a href="#">link</a> <strong>unser</strong> <i>Wissen</i> <em>und freuen</em> uns darauf, es zu teilen. Bei uns ist jede Idee willkommen, denn wir verfolgen das Ziel, uns ständig weiterzuentwickeln. Gemeinsam sind wir Evergy.</p>
						</div>
					</div>

					<div class="col-pdf col-pdf-5 col-pdf-push-1">
						<div class="who-we-are-section__groups">
							<div class="who-we-are-section-group">
								<div class="who-we-are-section-group__head head-block p-title p-title--s">
									<img src="img/pdf/icon-core.svg" alt="alt"/>
									<span>Unser Kernteam in München</span>
								</div>
								<div class="pdf-article who-we-are-section-group__text">Der Hauptstandort der Evergy befindet sich in der Nähe des schönen Nymphenburger Schlosses in München. <a href="#">link</a> <strong>unser</strong> <i>Wissen</i> <em>und freuen</em> steuert von hier aus die Zusammenarbeit aller Evergy-Standorte. </div>
							</div>
							<div class="who-we-are-section-group">
								<div class="who-we-are-section-group__head head-block p-title p-title--s">
									<img src="img/pdf/icon-locals.svg" alt="alt"/>
									<span>Weitere Evergy-Standorte</span>
								</div>
								<div class="pdf-article who-we-are-section-group__text">Madrid, Bologna und Neu-Delhi. Wir möchten immer da sein, wo unsere Projekte sind. Der regionale Kontakt zu unseren Kunden ist uns besonders wichtig. Für fachspezifische Anforderungen steht immer das gesamte Evergy-Team zur Verfügung.</div>
							</div>
							<div class="who-we-are-section-group">
								<div class="who-we-are-section-group__head head-block p-title p-title--s">
									<img src="img/pdf/icon-world-wide-projects.svg" alt="alt"/>
									<span>Weltweit Experten vor Ort </span>
								</div>
								<div class="pdf-article who-we-are-section-group__text">Jedes Projekt ist anders. Und jedes Land hat andere Anforderungen. Wir agieren schnell und flexibel und ziehen auch kurzfristig Experten vor Ort zu einem Projekt hinzu. Dadurch können wir länderspezifisch handeln und verfügen immer über das passende Know-how. </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
