.icon-arr-left-long {
  width: 2.68em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 0.61em;
  height: 1em;
  fill: none;
}
.icon-arrow-right {
  width: 0.55em;
  height: 1em;
  fill: none;
}
.icon-close-big {
  width: 1em;
  height: 1em;
  fill: #EC6B06;
}
.icon-close-small {
  width: 1em;
  height: 1em;
  fill: #EC6B06;
}
.icon-core-team {
  width: 2.64em;
  height: 1em;
  fill: none;
}
.icon-download-pv {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-download-w {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-filter-pv {
  width: 1.59em;
  height: 1em;
  fill: initial;
}
.icon-filter-w {
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.icon-icon-download-general {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-load-more {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-locals {
  width: 3.79em;
  height: 1em;
  fill: none;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 0.55em;
  height: 1em;
  fill: #EC6B06;
}
.icon-prev {
  width: 0.55em;
  height: 1em;
  fill: #EC6B06;
}
.icon-pv-1x {
  width: 0.27em;
  height: 1em;
  fill: #000;
}
.icon-pv-2x {
  width: 0.61em;
  height: 1em;
  fill: #000;
}
.icon-pv-3x {
  width: 0.96em;
  height: 1em;
  fill: #000;
}
.icon-pv {
  width: 1.82em;
  height: 1em;
  fill: #000;
}
.icon-pvw {
  width: 1.82em;
  height: 1em;
  fill: #000;
}
.icon-sun {
  width: 0.48em;
  height: 1em;
  fill: #EC6B06;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-w {
  width: 1.82em;
  height: 1em;
  fill: initial;
}
.icon-wind-pv-small {
  width: 2.64em;
  height: 1em;
  fill: none;
}
.icon-wind1 {
  width: 0.72em;
  height: 1em;
  fill: #EC6B06;
}
.icon-wind2 {
  width: 0.49em;
  height: 1em;
  fill: #EC6B06;
}
.icon-windkraft-1x {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-windkraft-2x {
  width: 0.95em;
  height: 1em;
  fill: #000;
}
.icon-windkraft-3x {
  width: 1.39em;
  height: 1em;
  fill: #000;
}
.icon-xing {
  width: 1em;
  height: 1em;
  fill: initial;
}
