.cases-section 
	&__title
		margin-bottom: 56px
	&__info
		margin-bottom: 80px
	&__grid-item
		margin-top: 52px
		&:nth-child(1), &:nth-child(2)
			margin-top: 0
	.head-simple
		margin-bottom: 13px
.cases-section-block
	display: flex
	&__img
		margin-right: 20px
		width: 75px
		flex-shrink: 0
		flex-grow: 0
		img
			max-width: 75px
	&__content
		flex-grow: 1
		padding-top: 2px
	&__info

.small-info
	font-size: 18px
	line-height: 1.22
	&__head
		font-size: 18px
		line-height: 1.22
		+hm-sb
		margin-bottom: 12px
	p
		strong	
			+hm-m
		&:not(:last-of-type)
			margin-bottom: 1px
	&--big-spacing
		p
			&:not(:last-of-type)
				margin-bottom: 8px
