.case-section
	$this: &
	&__info
	#{$this}__info-group
		margin-bottom: 60px
	&__services-head
		font-size: 18px
		line-height: 1.22
		+hm-sb
		margin-bottom: 20px
	&__title
		margin-bottom: 62px
		strong
			text-decoration: none
			display: block
			span
			color: $orange
			text-decoration-color: $orange
			text-decoration: underline

	&__cols
		display: flex
		justify-content: space-between
	&__col
		width: 458px
		&-title
			margin-bottom: 10px

.case-section-serv-item
	display: flex
	align-items: flex-end
	margin-bottom: 22px
	&__img
		display: inline-flex
		align-items: flex-end
		width: 32px
		flex-shrink: 0
		flex-grow: 0
		margin-right: 20px
		img
			max-width: 100%
	&__content
		font-size: 13px
		line-height: 1.08
		+hm-sb
		width: 136px
		border-bottom: 2px solid #000000
		padding-bottom: 13px

