.contact-section
	&__head
		margin-bottom: 128px
		.p-title
			&--orange
				margin-top: 20px
				text-decoration: none
	&__info-content
		+hm-m
		a

	&__info-group
		&:not(:last-of-type)
			margin-bottom: 47px
		p
			&:not(:last-of-type)
				margin-bottom: 9px
		a
			text-decoration: none
	&__img-wrap
		padding-top: 47px
		img
			max-width: 572px
	.head-simple
		margin-bottom: 53px

.team-block
	&__top-wrapper
		display: flex
		align-items: flex-end
	&__img
		width: 217px
		height: 228px
		flex-shrink: 0
		flex-grow: 0
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__content
		// padding-top: 199px
		padding-left: 222px
		padding-top: 36px
	&__head
		position: relative
		top: 4px
		padding-left: 5px
		// margin-bottom: 25px
	&__group
		line-height: 1
		&:not(:last-of-type)
				margin-bottom: 21px
		strong
			+hm-sb
		p
			&:not(:last-of-type)
				margin-bottom: 12px
		a
			text-decoration: none
