.cover-section
	&__content
		padding-top: 180px
	&__bottom-text
		max-width: 520px
		margin-top: 88px
	&__texts
		position: relative
		z-index: 1
	&__img-wrapper
		position: relative
		z-index: 0
	&__img
		position: absolute
		
		left: -180px
		top: -102px
		width: 979px
