.pdf-footer 
	$this: &
	display: flex
	justify-content: space-between
	height: 65px
	padding: 23px 65px 18px 131px
	font-size: 15px
	line-height: 1.38
	+hm-sb
	&__left
		span 
			margin-right: 9px
			color: $orange
	&__right
		a
			display: inline-block
			vertical-align: top
			text-decoration: underline
			text-decoration-color: $orange!important
			color: $black2
			&:not(:last-of-type)
				margin-right: 18px
	&.is-footer-section
		// background: #33353A
		justify-content: flex-end
		#{$this}__left
			display: none
		#{$this}__right
			a
				color: #ffffff