.footer-section
	background: #33353A
	overflow: hidden
	&__content
		padding-top: 0px
		
	&__inner
	&__imgs
		position: relative
		padding-top: 87px
		height: 224px
		// background: #ffffff
		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 400px
			background: #ffffff
			z-index: 0

		&-inner
			display: flex
			align-items: flex-end
			// justify-content: center
			justify-content: space-between
			padding-left: 101px
	&__img
		position: relative
		// &:not(:last-of-type)
		// 	margin-right: 150px
		&--motors
			
			top: 20px
		&--energy
			top: 11px
	&__text-block
		padding-top: 255px
		color: #fff
		font-size: 32px
		line-height: 1.06
		h3
			+hm-sb
			font-size: 32px
			line-height: 1.06
			margin-bottom: 10px
	&__info-group
		&:not(:last-of-type)
			margin-bottom: 54px
		a
			color: #fff
			text-decoration: none
			span
				color: $orange
		p
			&:not(:last-of-type)
				margin-bottom: 10px