.pdf-header 
	position: relative
	$this: &
	flex-grow: 0
	z-index: 1

	&__inner
		padding: 34px 0 10px
		height: 151px
		display: flex
		justify-content: space-between
		align-items: flex-start
		border-bottom: 2px solid $black2
	&__left
		padding-top: 12px
	
	&__right
		display: block
		img 
			width: 246px
	&.is-footer-section
		#{$this}__inner
			justify-content: flex-end
			border-color: transparent
