.services-section 
	&__head
		display: flex
		align-items: center
		width: 100%
		margin-bottom: 20px
	&__img
		width: 110px
		flex-grow: 0
		flex-shrink: 0
	&__title
		margin-bottom: 45px
	.head-simple
		margin-top: 19px
		margin-bottom: 0
		flex-grow: 1
	.pdf-article
		padding-left: 15px