.team-section
	$this: &
	&__title
		margin-bottom: 82px
	&__grid
		&--full
			#{$this}__grid-item
				&:nth-child(1), &:nth-child(2), &:nth-child(3)
					margin-top: 0
	&__grid-item
		margin-top: 57px
		&:nth-child(1), &:nth-child(2)
			margin-top: 0