
.toc-section
	&__img
		display: block
		margin-left: 5px
		width: 413px
	&__top-text
		margin-bottom: 20px
	&__groups
		padding-top: 2px
		.toc-section__group
			&:not(:first-of-type)
				margin-top: 57px
	&__links
		.toc-section__item
			&:not(:first-of-type)
				margin-top: 21px
			
	&__item
		display: flex
		align-items: flex-start
		justify-content: space-between
		span
			display: block
			&:first-of-type 
				max-width: 508px
			&:last-of-type
				font-size: 21px
				margin-top: 8px