.track-section
	&__title
		margin-bottom: 31px
	&__info
		margin-bottom: 75px

.track-section-block
	padding: 20px 30px 30px
	border: 1px solid #9A9999
	border-radius: 5px
	&__img
		margin-bottom: 119px
		img
			max-width: 121px
	&__group
		+hm-sb
		margin-bottom: 22px
		&:not(:last-of-type)
			margin-bottom: 41px
		&-head
			font-size: 22px
			line-height: 1.1
			margin-bottom: 3px
		&-value
			font-size: 110px
			line-height: 1
	&__btn
		display: inline-flex
		vertical-align: top
		padding: 12px 24px 8px
		align-items: center
		justify-content: center
		font-size: 12px
		+hm-sb
		line-height: 1.08
		color: $black2
		border-radius: 5px
		background: $orange
		text-decoration: none
		img
			width: 23px
			margin-right: 15px
		span
			display: block
			max-width: 65px
			color: $black2
			transition: color 250ms ease-in-out
		&:hover
			span
				color: $white
