.what-we-do-section
	$this: &
	&__inner
	&__main-img
		position: absolute
		left: 61px
		top: 14px
		width: 985px
		z-index: 0
	&__content
		position: relative
	&__head
		height: 132px
		position: relative
		margin-bottom: 53px
		display: flex
		align-items: flex-end
		justify-content: center
		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			height: 3px
			background: $black2
			border-radius: 2px
			bottom: 0
	&__img
		max-width: 240px
		max-height: 137px
		&--wind
			margin-right: 50px
		&--panel
			margin-right: 33px
		&--water
			margin-left: 17px
		&--energy
		&--bottom-space
			margin-bottom: 15px
	.big-text
		margin-top: 12px
	.p-title
		margin-bottom: 16px
	&--simple
		#{$this}__content
			padding-top: 626px
