.who-we-are-section
	&__content
		// padding-top: 198px
	&__left-inner
		position: relative
		padding-top: 500px
	&__img
		position: absolute
		width: 851px
		left: -133px
		top: -23px
		z-index: 0
	&__main-title
	&__groups
		padding-top: 119px
		.who-we-are-section-group
			&:not(:first-of-type)
				margin-top: 50px
.who-we-are-section-group
	&__head
		margin-bottom: 16px
	